[Dictionary Source]
Name=Default
Description=Default Dictionary Server
Description[af]=Verstek-woordeboekbediener
Description[ar]=خادوم القاموس الافتراضي
Description[as]=অবিকল্পিত অভিধানৰ সেৱক
Description[ast]=Sirvidor de Diccionariu por Omisión
Description[be]=Прадвызначаны сервер слоўнікаў
Description[be@latin]=Zmoŭčany słoŭnikavy server
Description[bg]=Стандартен речников сървър
Description[bn]=ডিফল্ট অভিধানের সার্ভার
Description[bn_IN]=ডিফল্ট অভিধানের সার্ভার
Description[br]=Dafariad dre ziouer ar geriadur
Description[ca]=Servidor de diccionari predeterminat
Description[ca@valencia]=Servidor de diccionari predeterminat
Description[crh]=Öntanımlı Sözlük Sunucusu
Description[cs]=Výchozí server se slovníkem
Description[cy]=Gweinydd Geiriadur Rhagosodedig
Description[da]=Standardordbogsserver
Description[de]=Vorgegebene Wörterbuch-Server
Description[dz]=སྔོན་སྒྲིག་ཚིག་མཛོད་སར་བར།
Description[el]=Προεπιλεγμένος εξυπηρετητής λεξικού
Description[en@shaw]=𐑛𐑦𐑓𐑷𐑤𐑑 𐑛𐑦𐑒𐑖𐑩𐑯𐑼𐑦 𐑕𐑻𐑝𐑼
Description[en_CA]=Default Dictionary Server
Description[en_GB]=Default Dictionary Server
Description[es]=Servidor de diccionario predeterminado
Description[et]=Vaikimisi sõnaraamatuserver
Description[eu]=Hiztegi-zerbitzari lehenetsia
Description[fa]=کارگزار لغت‌نامه‌ی پیش‌فرض
Description[fi]=Oletus-sanakirjapalvelin
Description[fr]=Serveur de dictionnaires par défaut
Description[ga]=Freastalaí Foclóra Réamhshocraithe
Description[gl]=Servidor de dicionario predeterminado
Description[gu]=મૂળભૂત શબ્દકોષ સર્વર
Description[he]=שרת מילון בררת המחדל
Description[hi]=मूलभूत शब्दकोश सर्वर
Description[hr]=Uobičajeni poslužitelj rječnika
Description[hu]=Alapértelmezett szótárkiszolgáló
Description[id]=Server Kamus Default
Description[it]=Server di dizionario predefinito
Description[ja]=デフォルトの辞書サーバー
Description[ka]=ნაგულისხმევი ლექსიკონის სერვერი
Description[kn]=ಪೂರ್ವನಿಯೋಜಿತ ಶಬ್ಧಕೋಶ ಪರಿಚಾರಕ
Description[ko]=기본 사전 서버
Description[ku]=Pêşkêşkerê Ferhenga Standard
Description[lt]=Numatytasis žodyno serveris
Description[lv]=Noklusētais vārdnīcas serveris
Description[mai]=मूलभूत शब्दकोश सर्वर
Description[mg]=Mpizara rakibolana tsotra
Description[mk]=Стандарден сервер за речник
Description[ml]=സ്വതേയുള്ള നിഘണ്ടു സെര്‍വര്‍
Description[mr]=मुलभूत शब्दकोश सर्वर
Description[nb]=Forvalgt ordboktjener
Description[ne]=पूर्वनिर्धारित शब्दकोश सर्भर
Description[nl]=Standaard woordenboekserver
Description[nn]=Forvald ordboktenar
Description[oc]=Servidor de diccionari per defaut
Description[or]=ପୂର୍ବ ନିର୍ଦ୍ଧାରିତ ଅଭିଧାନ ସେବକ
Description[pa]=ਡਿਫਾਲਟ ਡਿਕਸ਼ਨਰੀ ਸਰਵਰ
Description[pl]=Domyślny serwer słownika
Description[ps]=تلواله ويېپانګه پالنګر
Description[pt]=Servidor de Dicionário por Omissão
Description[pt_BR]=Servidor de dicionário padrão
Description[ro]=Server dicționar implicit
Description[ru]=Сервер словаря по умолчанию
Description[si]=පෙරනිමි ශබ්දකෝෂ සේවාදායකය
Description[sk]=Predvolený server slovníka
Description[sl]=Privzeti strežnik slovarja
Description[sr]=Подразумевани сервер речника
Description[sr@latin]=Podrazumevani server rečnika
Description[sv]=Standardordboksserver
Description[ta]=முன்னிருப்பு அகராதி சேவையகம்
Description[te]=సేవిక అప్రమేయ నిఘంటువు
Description[th]=เซิร์ฟเวอร์พจนานุกรมปริยาย
Description[tr]=Öntanımlı Sözlük Sunucusu
Description[ug]=كۆڭۈلدىكى لۇغەت مۇلازىمېتىرى
Description[uk]=Типовий словниковий сервер
Description[vi]=Máy phục vụ từ điển mặc định
Description[zh_CN]=默认字典服务器
Description[zh_HK]=預設字典伺服器
Description[zh_TW]=預設字典伺服器
Transport=dictd
Hostname=dict.org
Port=2628
