[Dictionary Source]
Name=Thai
Description=Longdo Thai-English Dictionaries
Description[af]=Longdo Thai-Engelse woordeboeke
Description[ar]=قواميس لونجدو تايلاندي-إنجليزي
Description[as]=থাই শব্দকোষ
Description[ast]=Diccionariu Longdo Tailandés-Inglés
Description[be]=Тайска-англійскія слоўнікі Longdo
Description[be@latin]=Longdo tajska-anhielskija słoŭniki
Description[bg]=Тайско-английски речници на Longdo
Description[bn]=লোংদো থাই-ইংরাজি অভিধান
Description[bn_IN]=লোংদো থাই-ইংরাজি অভিধান
Description[br]=Geriadurioù longdo taieg-Saozneg
Description[ca]=Diccionaris Longdo Tailandès-Anglès
Description[ca@valencia]=Diccionaris Longdo Tailandés-Anglés
Description[crh]=Longdo Tay-İngilizce Sözlükler
Description[cs]=Thajsko-anglické slovníky Longdo
Description[da]=Longdo Thai-Engelsk ordbøger
Description[de]=Longdo Thai-Englische Wörterbücher
Description[dz]=ལོང་ཌོ་ ཐའི་-ཨིང་ལིཤ་ཚིག་མཛོད་
Description[el]=Λεξικά Longdo Thai-English 
Description[en_GB]=Longdo Thai-English Dictionaries
Description[es]=Diccionario Longdo Tailandés-Inglés
Description[et]=Longdo Tai-Inglise sõnaraamatud
Description[eu]=Longdo Thailandiera-Ingelesa hiztegiak
Description[fa]=لغت‌نامه‌های تایلندی-اینگیلیسی لانگدو
Description[fi]=Longdon Thai-Englanti -sanakirjat
Description[fr]=Dictionnaires Longdo Thaï-Anglais
Description[gl]=Dicionarios de Longdo Tailandés-Inglés
Description[gu]=Longdo થાઈ-અંગ્રેજી શબ્દકોષો
Description[he]=מילוני Longdo תאילנדית-אנגלית
Description[hi]=Longdo थाई-अंग्रेजी शब्दकोश
Description[hu]=Longdo thai-angol szótárak
Description[id]=Kamus Thailan-Inggris Longdo
Description[it]=Dizionari Longdo Thai-English
Description[ja]=Longdo タイ-英語の辞書
Description[kn]=ಲ್ಯಾಂಗ್ಡೋ ಥಾಯ್-ಇಂಗ್ಲೀಷ್ ಶಬ್ಧಕೋಶಗಳು
Description[ko]=롱도 타이어-영어 사전
Description[ku]=Ferhengên Tay-Îngilîzî yên Longdo
Description[lt]=Longdo tailandiečių-anglų kalbų žodynai
Description[lv]=Longdo Thai-English vārdnīcas
Description[mai]=Longdo थाइ-अंग्रेजी शब्दकोश
Description[mk]=Longdo Тајландско-Англиски Речници
Description[ml]=ലോങ്ദോ തായി-ഇംഗ്ളീഷ് നിഘണ്ടുകള്‍
Description[mr]=लॉंगडो थाई-इंग्रजी शब्दकोश
Description[nb]=Longdo Thai-Engelsk-ordbøker
Description[ne]=लङ्गडू थाई अङ्ग्रेजी शब्दकोश
Description[nl]=Longdo Thais-Engelse woordenboeken
Description[nn]=Longdo Thai-Engelsk-ordbøker
Description[or]=Longdo Thai-English ଅଭିଧାନ
Description[pa]=ਲੋਂਗਦੋ ਥਾਈ-ਅੰਗਰੇਜ਼ੀ ਡਿਕਸ਼ਨਰੀ
Description[pl]=Słowniki tajsko-angielskie Longdo
Description[pt]=Dicionários Longdo Thai-Inglês
Description[pt_BR]=Dicionário longdo tailandês-inglês
Description[ro]=Dicționare Longdo Thai-English
Description[ru]=Тайско-английские словари Longdo
Description[si]=Longdo තායි-ඉංග්‍රීසි ශබ්දකෝෂය
Description[sk]=Longdo thajsko-anglické slovníky
Description[sl]=Longdo tajsko- angleški slovarji
Description[sr]=Longdo Thai - енглески речници
Description[sr@latin]=Longdo Thai - engleski rečnici
Description[sv]=Longdo Thai-English-ordböcker
Description[ta]=லோங்டோ தாய்-ஆங்கில அகராதிகள்
Description[te]=లోంగ్డో థాయ్-ఇంగ్లీష్ నిఘంటువులు
Description[th]=พจนานุกรมไทย-อังกฤษ Longdo
Description[tr]=Longdo Tay-İngilizce Sözlükler
Description[ug]=Longdo تايلاندچە-ئىنگلىزچە لۇغەتلەر
Description[uk]=Тайсько-англійські словники Longdo
Description[vi]=Từ điển Longdo Thái-Anh
Description[zh_CN]=Longdo 泰语到英语字典
Description[zh_HK]=Longdo 泰英字典
Description[zh_TW]=Longdo 泰英字典
Transport=dictd
Hostname=dict.longdo.com
Port=2628
