[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=libreoffice34-extension
Type=MimeType
Patterns=*.oxt
MimeType=application/vnd.openofficeorg.extension
Comment=LibreOffice Extension
Comment[en]=LibreOffice Extension
