[Desktop Entry]
X-AppInstall-Package=abe
X-AppInstall-Popcon=145
X-AppInstall-Section=universe

Version=1.0
Type=Application
Encoding=UTF-8
Name=Abe's Amazing Adventure
Comment=Side-scrolling game
TryExec=/usr/games/abe
Exec=/usr/games/abe
Categories=Game;AdventureGame;
Icon=_usr_share_pixmaps_abe
MimeType=

X-Ubuntu-Gettext-Domain=app-install-data
