[Desktop Entry]
X-AppInstall-Package=ace-of-penguins
X-AppInstall-Popcon=433
X-AppInstall-Section=universe

Type=Application
Name=Penguin Canfield
GenericName=
Comment=
Icon=
Exec=/usr/games/ace-canfield
Terminal=false
Categories=Game;BoardGame;

X-Ubuntu-Gettext-Domain=app-install-data
