[Desktop Entry]
X-AppInstall-Package=aconnectgui
X-AppInstall-Popcon=298
X-AppInstall-Section=universe

Name=Aconnectgui
Comment=Midi connections manager 
Exec=/usr/bin/aconnectgui
Icon=_usr_share_pixmaps_aconnectgui
Terminal=false
Type=Application
Categories=Application;AudioVideo;

X-Ubuntu-Gettext-Domain=app-install-data
