[Desktop Entry]
X-AppInstall-Package=adanaxisgpl
X-AppInstall-Popcon=148
X-AppInstall-Section=universe

Name=Adanaxis
GenericName=Adanaxis
Comment=Fly your ship in a 4d environment
Type=Application
Exec=adanaxisgpl
Icon=adanaxisgpl32x32
Terminal=false
Categories=Game;ActionGame;


X-Ubuntu-Gettext-Domain=app-install-data
