[Desktop Entry]
X-AppInstall-Package=aee
X-AppInstall-Popcon=12
X-AppInstall-Section=universe

Encoding=UTF-8
Version=1
Name=xae
Exec=/usr/bin/xae
Type=Application
Categories=TextEditor
Terminal=0
Comment=Small text editor

X-Ubuntu-Gettext-Domain=app-install-data
