[Desktop Entry]
X-AppInstall-Package=alarm-clock
X-AppInstall-Popcon=882
X-AppInstall-Section=universe

Version=1.0
Name=Alarm Clock
Comment=Schedule your tasks


Exec=alarmclock
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
Icon=alarm-clock
StartupNotify=false
OnlyShowIn=GNOME;

X-Ubuntu-Gettext-Domain=app-install-data
