[Desktop Entry]
X-AppInstall-Package=alsaplayer-gtk
X-AppInstall-Popcon=1415
X-AppInstall-Section=universe

Version=1.0
Name=Alsaplayer
Type=Application
Comment=Versatile audio player for the Audio Linux Sound Architecture
Exec=alsaplayer
TryExec=alsaplayer
Icon=alsaplayer
MimeType=audio/x-scpls;audio/x-mpegurl;audio/mpegurl;audio/mp3;audio/x-mp3;audio/mpeg;audio/x-mpeg;audio/x-wav;audio/ogg+vorbis;audio/ogg;audio/flac;
Categories=AudioVideo;Audio;Player;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
