[Desktop Entry]
X-AppInstall-Package=ams
X-AppInstall-Popcon=153
X-AppInstall-Section=universe

Name=Alsa Modular Synth
Comment=Modular Software Synth
Exec=ams
Icon=ams_32
Terminal=false
Type=Application
Categories=GNOME;AudioVideo;Audio;

X-Ubuntu-Gettext-Domain=app-install-data
