[Desktop Entry]
X-AppInstall-Package=amsn
X-AppInstall-Popcon=5857
X-AppInstall-Section=universe

Name=aMSN
Exec=amsn
Icon=amsn
Categories=Network;InstantMessaging;
GenericName=MSN Messenger for Linux
Terminal=false
Type=Application
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
