[Desktop Entry]
X-AppInstall-Package=angband
X-AppInstall-Popcon=35
X-AppInstall-Section=universe

Name=Angband (SDL)
Type=Application
Comment=A roguelike dungeon exploration game based on the books of J.R.R.Tolkien
Exec=angband -msdl
TryExec=angband
Icon=_usr_share_angband_xtra_icon_att-32
Categories=Game;RolePlaying;

X-Ubuntu-Gettext-Domain=app-install-data
