[Desktop Entry]
X-AppInstall-Package=apvlv
X-AppInstall-Popcon=149
X-AppInstall-Section=universe

Name=apvlv
Type=Application
Comment=Alf's PDF Viewer Like Vim
Exec=apvlv
TryExec=apvlv
Icon=_usr_share_pixmaps_apvlv_apvlv
Categories=Graphics;Viewer;

X-Ubuntu-Gettext-Domain=app-install-data
