[Desktop Entry]
X-AppInstall-Package=ardour-i686
X-AppInstall-Popcon=91
X-AppInstall-Section=universe

Version=1.0
Name=Ardour Digital Audio Workstation
Comment=Record, mix and master multi-track audio
Exec=/usr/bin/ardour2
Terminal=false
Type=Application
Icon=_usr_share_ardour2_icons_ardour_icon_22px
Categories=AudioVideo;Audio;
MimeType=application/x-ardour;

X-Ubuntu-Gettext-Domain=app-install-data
