[Desktop Entry]
X-AppInstall-Package=arkose-gui
X-AppInstall-Popcon=609
X-AppInstall-Section=universe

Version=1.0
Name=Arkose Desktop Application Sandboxing
Comment=Desktop application sandboxing
Exec=/usr/bin/arkose-gui
Icon=gnome-run
Terminal=false
Type=Application
StartupNotify=false
Categories=GNOME;KDE;System;


X-Ubuntu-Gettext-Domain=app-install-data
