[Desktop Entry]
X-AppInstall-Package=assogiate
X-AppInstall-Popcon=97
X-AppInstall-Section=universe

Name=File Types Editor
Comment=Modify the detection and display of file types
Exec=assogiate
Icon=assogiate
Terminal=false
Type=Application
Categories=GNOME;GTK;System;FileTools;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;

X-Ubuntu-Gettext-Domain=app-install-data
