[Desktop Entry]
X-AppInstall-Package=asylum
X-AppInstall-Popcon=48
X-AppInstall-Section=universe

Type=Application
Name=Asylum
Comment=surreal platform shooting game
Icon=asylum
Exec=asylum
Terminal=false
Categories=Game;ActionGame;
StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
