[Desktop Entry]
X-AppInstall-Package=awn-settings
X-AppInstall-Popcon=1745
X-AppInstall-Section=universe

Type=Application
Name=Awn Settings
Comment=Manage Awn preferences, launchers, applets and themes
Exec=awn-settings
Icon=awn-settings
Categories=Settings;DesktopSettings;GTK;


X-Ubuntu-Gettext-Domain=app-install-data
