[Desktop Entry]
X-AppInstall-Package=babiloo
X-AppInstall-Popcon=92
X-AppInstall-Section=universe

Version=1.0
Name=Babiloo
Comment=Application to view dictionaries
Exec=babiloo
Icon=babiloo
Path=/usr/share/babiloo
StartupNotify=false
Terminal=false
X-DCOP-ServiceType=unique
X-KDE-SubstituteUID=false
X-KDE-Username=
Type=Application
Categories=Qt;KDE;Office;

X-Ubuntu-Gettext-Domain=app-install-data
