[Desktop Entry]
X-AppInstall-Package=backintime-gnome
X-AppInstall-Popcon=1028
X-AppInstall-Section=universe

Name=Back In Time
Exec=backintime-gnome
Icon=gtk-save
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
Comment=Simple backup system

X-Ubuntu-Gettext-Domain=app-install-data
