[Desktop Entry]
X-AppInstall-Package=basket
X-AppInstall-Popcon=386
X-AppInstall-Keywords= note;onenote;gtd;getting;things;done
X-AppInstall-Section=universe

Type=Application

Exec=basket %f
MimeType=application/x-basket-archive;application/x-basket-template;
Icon=basket
Categories=Qt;KDE;Office;

X-DBUS-StartupType=Unique

Name=BasKet Note Pads
GenericName=Multi-Purpose Notepad

Comment=Taking care of your ideas.
Categories=KDE;Application;Utility;TextEditor;

X-Ubuntu-Gettext-Domain=app-install-data
