[Desktop Entry]
X-AppInstall-Package=batmon.app
X-AppInstall-Popcon=95
X-AppInstall-Section=universe

Name=Battery Monitor (batmon)
Comment=Monitor battery status
Type=Application
Version=1.0
Categories=System;Monitor;
Exec=batmon
Icon=_usr_lib_GNUstep_Applications_batmon.app_Resources_Batmon_icon

X-Ubuntu-Gettext-Domain=app-install-data
