# Forwarded to http://sf.net/support/tracker.php?aid=2672143
[Desktop Entry]
X-AppInstall-Package=between
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Type=Application
Name=Between
GenericName=Consciousness and isolation game
Comment=game about consciousness and isolation
Icon=between
Exec=between
Terminal=false
Categories=Game;AdventureGame;

X-Ubuntu-Gettext-Domain=app-install-data
