[Desktop Entry]
X-AppInstall-Package=bibledit
X-AppInstall-Popcon=40
X-AppInstall-Section=universe

Name=Bibledit
Comment=Bible Editor
Icon=bibledit
Exec=bibledit
Type=Application
Categories=Office;


X-Ubuntu-Gettext-Domain=app-install-data
