[Desktop Entry]
X-AppInstall-Package=bibletime
X-AppInstall-Popcon=312
X-AppInstall-Section=universe

Comment=An easy to use bible study tool
Exec=bibletime
Icon=bibletime
MimeType=
Name=BibleTime 
GenericName=Bible Study Tool
Terminal=false
Type=Application
Categories=X-Bible;X-Religion;Literature;Education;Dictionary;Qt
DocPath=bibletime/handbook/index.html

X-Ubuntu-Gettext-Domain=app-install-data
