[Desktop Entry]
X-AppInstall-Package=bloboats
X-AppInstall-Popcon=90
X-AppInstall-Section=universe

Name=Bloboats
Comment=An arcade-like boat racing game
Exec=bloboats
Icon=bloboats
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
