[Desktop Entry]
X-AppInstall-Package=blocks-of-the-undead
X-AppInstall-Popcon=18
X-AppInstall-Section=universe

Name=Blocks Of The Undead
Exec=BlocksOfTheUndead
Comment=Tetris Attack clone with spooky undertones
Terminal=false
Type=Application
Categories=Game;LogicGame;

X-Ubuntu-Gettext-Domain=app-install-data
