[Desktop Entry]
X-AppInstall-Package=bluewho
X-AppInstall-Popcon=260
X-AppInstall-Section=universe

Version=1.0
Name=BlueWho
Comment=Information and notification of new discovered bluetooth devices
Type=Application
Exec=/usr/bin/bluewho
Icon=_usr_share_bluewho_data_bluewho
Terminal=false
Categories=Utility;GTK;

X-Ubuntu-Gettext-Domain=app-install-data
