[Desktop Entry]
X-AppInstall-Package=boa-constructor
X-AppInstall-Popcon=119
X-AppInstall-Section=universe

Name=Boa Constructor
Comment=RAD Tool for Python and WxWindows
Exec=boa-constructor
Icon=boa-constructor
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Development;Debugger;GUIDesigner;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
