[Desktop Entry]
X-AppInstall-Package=bpython
X-AppInstall-Popcon=145
X-AppInstall-Section=universe

Icon=_usr_share_pixmaps_python
Name=bpython
Comment=A fancy interface to the python interpreter!
Exec=/usr/bin/bpython
Terminal=true
Type=Application
Categories=Development;Utility;ConsoleOnly;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
