[Desktop Entry]
X-AppInstall-Package=brp-pacu
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Type=Application
Name=Brp-pacu
GenericName=Brp-pacu
Comment=Sound Analysis
Icon=brp-pacu_32x32
TryExec=BRP_PACU
Exec=BRP_PACU
Terminal=false
Categories=AudioVideo;Music;

X-Ubuntu-Gettext-Domain=app-install-data
