[Desktop Entry]
X-AppInstall-Package=btnx-config
X-AppInstall-Popcon=330
X-AppInstall-Section=universe

Version=1.0
Name=btnx
Type=Application
Categories=System;
Exec=su-to-root -X -c /usr/sbin/btnx-config
Icon=btnx

X-Ubuntu-Gettext-Domain=app-install-data
