[Desktop Entry]
X-AppInstall-Package=bubbros
X-AppInstall-Popcon=51
X-AppInstall-Section=universe

Type=Application
Name=The Bub's Brothers
GenericName=Bubble Bobble
Comment=Kill evil enemies by catching them into bubbles and smashing those
Icon=bubbros
Exec=bubbros
Categories=Game;ActionGame;

X-Ubuntu-Gettext-Domain=app-install-data
