[Desktop Entry]
X-AppInstall-Package=bug-buddy
X-AppInstall-Popcon=5212
X-AppInstall-Section=universe

Name=Bug Report Tool
Comment=Report a bug in GNOME-based applications
Exec=bug-buddy
Icon=bug-buddy
Terminal=false
Type=Application
Categories=GNOME;GTK;Development;
StartupNotify=true
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=bug-buddy
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.31.92


X-Ubuntu-Gettext-Domain=app-install-data
