[Desktop Entry]
X-AppInstall-Package=bugsx
X-AppInstall-Popcon=41
X-AppInstall-Section=multiverse

Type=Application
Name=Bugsx 
GenericName=Evolve biomorphs
Comment=Evolve biomorphs using genetic algorithms
Icon=bugsx
Exec=bugsx -g +0+0
Terminal=false
Categories=Game;Amusement

X-Ubuntu-Gettext-Domain=app-install-data
