[Desktop Entry]
X-AppInstall-Package=burgerspace
X-AppInstall-Popcon=118
X-AppInstall-Section=universe

Name=BurgerSpace
Categories=Game;ArcadeGame;
Comment=A hamburger-smashing video game
Exec=burgerspace
Icon=burgerspace
Terminal=0
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
