[Desktop Entry]
X-AppInstall-Package=bzr
X-AppInstall-Popcon=4975
X-AppInstall-Section=main
X-AppInstall-Keywords=VCS;

Type=Application
Version=1.0
Name=Bazaar Version Control System
Comment=Easy to use distributed version control system
Icon=bzr-icon-64
Categories=Development;RevisionControl;
X-Ubuntu-Gettext-Domain=app-install-data
