[Desktop Entry]
X-AppInstall-Package=canorus
X-AppInstall-Popcon=97
X-AppInstall-Section=universe

Version=1.0
Name=Canorus
GenericName=Music score editor
Comment=A free next-generation cross-platform music score editor!
Exec=canorus
Icon=_usr_share_canorus_images_clogosm
Terminal=false
Type=Application
Categories=Music;Audio;AudioVideoEditing;Midi;Sequencer;AudioVideo;Qt
StartupNotify=true
MimeType=application/x-notes

X-Ubuntu-Gettext-Domain=app-install-data
