[Desktop Entry]
X-AppInstall-Package=catfish
X-AppInstall-Popcon=1092
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Catfish
Comment=File search
Categories=GTK;Utility;Filesystem;
Exec=catfish
Icon=catfish
Terminal=false
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
