[Desktop Entry]
X-AppInstall-Package=chmsee
X-AppInstall-Popcon=772
X-AppInstall-Section=universe

Name=ChmSee
Comment=HTML Help(CHM) viewer
Exec=chmsee %f
Terminal=false
Type=Application
Icon=chmsee-icon
StartupNotify=true
Categories=Utility;
MimeType=application/x-chm;

X-Ubuntu-Gettext-Domain=app-install-data
