
[Desktop Entry]
X-AppInstall-Package=chocolate-doom
X-AppInstall-Popcon=41
X-AppInstall-Section=multiverse

Encoding=UTF-8
Name=Chocolate Doom
Comment=Conservative Doom source port
TryExec=chocolate-doom
Exec=chocolate-doom
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
OnlyShowIn=GNOME;KDE;

X-Ubuntu-Gettext-Domain=app-install-data
