[Desktop Entry]
X-AppInstall-Package=clam-chordata
X-AppInstall-Popcon=3
X-AppInstall-Section=universe

Name=CLAM Chordata
GenericName=Chord detector
Comment=MP3/OGG/Wav songs chord analyser
Icon=_usr_share_pixmaps_clam-chordata
Type=Application
Categories=Application;AudioVideo;Audio;Music;Qt
Exec=chordata
Terminal=false
MimeType=application/ogg;audio/basic;audio/mpeg;audio/x-aiff;audio/x-mp3;audio/x-wav;

[Desktop Action Edit]
Exec=chordata %f
Name=Analize chords (Chordata)




X-Ubuntu-Gettext-Domain=app-install-data
