[Desktop Entry]
X-AppInstall-Package=composite
X-AppInstall-Popcon=77
X-AppInstall-Section=universe

Name=Composite
Comment=Live performance sequencer, sampler, looper

GenericName=Sequencer

Version=0.006.2

Type=Application
Categories=AudioVideo;X-Sound;Audio;Qt;

MimeType=text/xml;

Exec=composite-gui %F
TryExec=composite-gui
Terminal=false
StartupNotify=true

Icon=composite-icon

X-Ubuntu-Gettext-Domain=app-install-data
