[Desktop Entry]
X-AppInstall-Package=computer-janitor-gtk
X-AppInstall-Popcon=11848
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Computer Janitor
Comment=Clean up a system so it's more like a freshly installed one
Exec=/usr/share/computerjanitor/computer-janitor-gtk
Terminal=false
Type=Application
Icon=computerjanitor
Categories=System;Settings;PackageManager;GTK;
StartupNotify=true


X-Ubuntu-Gettext-Domain=app-install-data
