[Desktop Entry]
X-AppInstall-Package=contacts
X-AppInstall-Popcon=95
X-AppInstall-Section=universe

Name=Contacts
Comment=Address book
Exec=contacts
Icon=contacts
Terminal=false
Type=Application
Categories=GTK;Office;ContactManagement;
MimeType=text/x-vcard;
X-MB-SingleInstance=true
StartupNotify=true


X-Ubuntu-Gettext-Domain=app-install-data
