[Desktop Entry]
X-AppInstall-Package=convertall
X-AppInstall-Popcon=469
X-AppInstall-Section=universe

Version=1.0
Name=ConvertAll
GenericName=Unit Converter
Comment=Convert between many different units
Icon=convertall
Exec=convertall
Terminal=false
Type=Application
Categories=Qt;Utility;


X-Ubuntu-Gettext-Domain=app-install-data
