[Desktop Entry]
X-AppInstall-Package=cqrlog
X-AppInstall-Popcon=24
X-AppInstall-Section=universe

Name=CQRLOG
Comment=Advanced logging program for hamradio operators
Exec=cqrlog
Terminal=false
Type=Application
Icon=cqrlog
Categories=Utility;Database;HamRadio


X-Ubuntu-Gettext-Domain=app-install-data
