[Desktop Entry]
X-AppInstall-Package=crack-attack
X-AppInstall-Popcon=123
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Crack Attack
Comment=Puzzle game similar to Tetris Attack
Exec=crack-attack
Icon=crack-attack
Terminal=false
Type=Application
Categories=Application;Game;BlocksGame;
StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
