[Desktop Entry]
X-AppInstall-Package=criticalmass
X-AppInstall-Popcon=105
X-AppInstall-Section=universe

Name=Criticalmass
Comment=Play a shoot-em-up a la galaxian
Exec=critter
Icon=critter
StartupNotify=false
Terminal=false
Type=Application
Categories=Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
