[Desktop Entry]
X-AppInstall-Package=cryptkeeper
X-AppInstall-Popcon=616
X-AppInstall-Section=universe

Name=Cryptkeeper
Exec=cryptkeeper
Icon=cryptkeeper
Categories=System;GTK;Security
Terminal=false
Type=Application
StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
