[Desktop Entry]
X-AppInstall-Package=cutecom
X-AppInstall-Popcon=156
X-AppInstall-Section=universe

Encoding=UTF-8
Name=CuteCom
MimeType=
GenericName=Serial Terminal
Exec=cutecom
Icon=openterm
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
