[Desktop Entry]
X-AppInstall-Package=d-feet
X-AppInstall-Popcon=74
X-AppInstall-Section=universe

Version=1.0
Name=D-Feet
GenericName=D-Bus Debugger
Comment=Debug D-Bus applications
Exec=d-feet
Icon=dfeet-icon
Terminal=false
Type=Application
Categories=GNOME;GTK;Development;Debugger;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
