[Desktop Entry]
X-AppInstall-Package=dasher
X-AppInstall-Popcon=266
X-AppInstall-Section=universe

Name=Dasher
GenericName=Predictive text entry
Comment=Enter text without a keyboard
Exec=dasher
Icon=dasher
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Accessibility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=dasher
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=4.11


X-Ubuntu-Gettext-Domain=app-install-data
