[Desktop Entry]
X-AppInstall-Package=dell-recovery
X-AppInstall-Popcon=577
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=Dell Recovery
Type=Application
Terminal=false
Exec=dell-recovery
Icon=dell-dvd
Categories=System;Settings


X-Ubuntu-Gettext-Domain=app-install-data
