[Desktop Entry]
X-AppInstall-Package=denemo
X-AppInstall-Popcon=340
X-AppInstall-Section=universe

Exec=denemo
Icon=denemo
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Audio;AudioVideo;Music;Education;
MimeType=audio/midi;application/denemo;

Name=GNU Denemo

GenericName=Score Editor

Comment=Edit musical scores


X-Ubuntu-Gettext-Domain=app-install-data
