[Desktop Entry]
X-AppInstall-Package=desktop-webmail
X-AppInstall-Popcon=228
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Desktop Webmail
GenericName=Email
Comment=Compose email in browser
Exec=desktop-webmail %s
Icon=desktop-webmail
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Network;Email

X-Ubuntu-Gettext-Domain=app-install-data
