[Desktop Entry]
X-AppInstall-Package=deskscribe
X-AppInstall-Popcon=44
X-AppInstall-Section=universe

Name=DeskScribe
GenericName=Desktop Activity Logger
Comment=Desktop user activity logging tool
Exec=deskscribe
Icon=deskscribe
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Applet;
StartupNotify=false
OnlyShowIn=GNOME;
X-SuSE-translate=true

X-Ubuntu-Gettext-Domain=app-install-data
