[Desktop Entry]
X-AppInstall-Package=dictionaryreader.app
X-AppInstall-Popcon=74
X-AppInstall-Section=universe

Name=Dictionary Reader
Comment=A Dict client for GNUstep
Type=Application
Version=1.0
Categories=Office;TextTools;Dictionary;
Icon=_usr_lib_GNUstep_Applications_DictionaryReader.app_Resources_dict
Exec=DictionaryReader

X-Ubuntu-Gettext-Domain=app-install-data
