[Desktop Entry]
X-AppInstall-Package=diff-ext
X-AppInstall-Popcon=613
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Diff-ext
Comment=Configure diff-ext nautilus extension
Exec=diff-ext-setup
Icon=de
Categories=Development;

X-Ubuntu-Gettext-Domain=app-install-data
