#!/usr/bin/env xdg-open
[Desktop Entry]
X-AppInstall-Package=digikam
X-AppInstall-Popcon=3537
X-AppInstall-Section=universe

Categories=Qt;KDE;Graphics;
Comment=A tool to assemble images as a panorama
Exec=panoramagui %i -caption "%c" %U
GenericName=Panorama
Name=Panorama
StartupNotify=true
Icon=panorama
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=kipi-plugins/index.html#panorama
X-KDE-SubstituteUID=false
X-KDE-Username=

X-Ubuntu-Gettext-Domain=app-install-data
