[Desktop Entry]
X-AppInstall-Package=dmedia-importer
X-AppInstall-Popcon=2
X-AppInstall-Section=universe

Name=Dmedia Media Importer
GenericName=Media Importer
Comment=Import media files into the dmedia library
Exec=dmedia-import %U
Icon=dmedia
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;
MimeType=x-content/image-dcf;x-content/audio-player;x-content/video-dvd;x-content/image-picturecd

X-Ubuntu-Gettext-Domain=app-install-data
