[Desktop Entry]
X-AppInstall-Package=docky
X-AppInstall-Popcon=4386
X-AppInstall-Section=universe

Name=Docky
Type=Application
Exec=docky
Terminal=false
Icon=docky
Comment=The finest dock no money can buy.
NoDisplay=false
Categories=Utility;

X-Ubuntu-Gettext-Domain=app-install-data
