[Desktop Entry]
X-AppInstall-Package=drivel
X-AppInstall-Popcon=52
X-AppInstall-Section=universe

Name=Drivel Journal Editor
GenericName=Journal Editor
Comment=Update and manage your online journal
Exec=drivel %U
Terminal=false
Type=Application
Icon=drivel-48
MimeType=application/x-drivel
Categories=GTK;GNOME;Application;Network;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=drivel
X-GNOME-Bugzilla-Component=general

X-Ubuntu-Gettext-Domain=app-install-data
