[Desktop Entry]
X-AppInstall-Package=dvd95
X-AppInstall-Popcon=626
X-AppInstall-Section=multiverse

Name=Dvd95 Converter
GenericName=DVD9 Converter
Comment=Convert a DVD9 into a DVD5
Exec=dvd95
Icon=dvd95
Terminal=false
Type=Application
Categories=AudioVideo;
X-Desktop-File-Install-Version=0.10


X-Ubuntu-Gettext-Domain=app-install-data
