[Desktop Entry]
X-AppInstall-Package=dvdisaster
X-AppInstall-Popcon=684
X-AppInstall-Section=universe

Name=dvdisaster
GenericName=data archival
Comment=Additional error protection for CD/DVD media
Exec=dvdisaster
Icon=dvdisaster
Terminal=false
Type=Application
Categories=Application;System;

X-Ubuntu-Gettext-Domain=app-install-data
