[Desktop Entry]
X-AppInstall-Package=eagle
X-AppInstall-Popcon=399
X-AppInstall-Section=multiverse

Categories=Development;Engineering;Electronics;
Comment=Design a printed circuit board.
Exec=eagle %U
GenericName=PCB Designer
Icon=eagle
MimeType=application/vnd.cadsoft.eagle.board;application/vnd.cadsoft.eagle.project;application/vnd.cadsoft.eagle.schematic
Name=Eagle
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
