[Desktop Entry]
X-AppInstall-Package=earth3d
X-AppInstall-Popcon=196
X-AppInstall-Section=universe

Type=Application
Icon=earth
Exec=earth3d
DocPath=
Comment=earth3d - 3D Model of the earth
Name=earth3d
Categories=Qt;Education;Science

X-Ubuntu-Gettext-Domain=app-install-data
