[Desktop Entry]
X-AppInstall-Package=easydiff.app
X-AppInstall-Popcon=29
X-AppInstall-Section=universe

Type=Application
Version=0.94
Categories=Utility;TextTools;
Name=EasyDiff
Comment=A graphical GNUstep diff utility
Exec=EasyDiff

X-Ubuntu-Gettext-Domain=app-install-data
