[Desktop Entry]
X-AppInstall-Package=easystroke
X-AppInstall-Popcon=321
X-AppInstall-Section=universe

Version=1.0
Name=Easystroke Gesture Recognition
Type=Application
Terminal=false
Exec=easystroke
Icon=easystroke
Categories=GTK;Utility;Accessibility;
Comment=Control your desktop using mouse gestures

X-Ubuntu-Gettext-Domain=app-install-data
