[Desktop Entry]
X-AppInstall-Package=ebview
X-AppInstall-Popcon=36
X-AppInstall-Section=universe

Name=EBView
Comment=EPWING CD-ROM dictionary viewer
Icon=_usr_share_pixmaps_ebview
Exec=/usr/bin/ebview
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Utility;Dictionary;
MimeType=application/ebview;

X-Ubuntu-Gettext-Domain=app-install-data
