[Desktop Entry]
X-AppInstall-Package=eekboek-gui
X-AppInstall-Popcon=21
X-AppInstall-Section=universe

Version=1.0
Type=Application
Exec=ebwxshell
Icon=ebicon
StartupNotify=true
Terminal=false
Categories=Office;Finance;
Name=EekBoek
Comment=Bookkeeping program for small to medium sized companies
GenericName=Bookkeeping

X-Ubuntu-Gettext-Domain=app-install-data
