[Desktop Entry]
X-AppInstall-Package=elinks-lite
X-AppInstall-Popcon=62
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=ELinks Web Browser
Categories=Network;WebBrowser;
GenericName=Web Browser
Comment=Browse the web in text mode
Exec=/usr/bin/elinks %u
Terminal=true
Icon=html
MimeType=text/html;

X-Ubuntu-Gettext-Domain=app-install-data
