[Desktop Entry]
X-AppInstall-Package=elmer
X-AppInstall-Popcon=47
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Elmer
Comment=Elmer FEA software
Exec=ElmerGUI
Icon=_usr_share_ElmerGUI_icons_Mesh3D
StartupNotify=true
Terminal=false
Type=Application
Categories=Education;Math;Science

X-Ubuntu-Gettext-Domain=app-install-data
