[Desktop Entry]
X-AppInstall-Package=email-reminder
X-AppInstall-Popcon=96
X-AppInstall-Section=universe

Name=Email-Reminder
Comment=Set/modify your personal email reminders
Exec=/usr/bin/email-reminder-editor
Terminal=false
Type=Application
Categories=Utility;Calendar
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
