[Desktop Entry]
X-AppInstall-Package=empcommand
X-AppInstall-Popcon=12
X-AppInstall-Section=universe

Version=1.0
Type=Application
Terminal=false
Name=EMPCommand
Icon=empcommand
GenericName=EMPCommand
Exec=empcommand
Categories=Game;ArcadeGame;
Comment=multi-touch-and-shoot 2d game

X-Ubuntu-Gettext-Domain=app-install-data
