[Desktop Entry]
X-AppInstall-Package=entagged
X-AppInstall-Popcon=159
X-AppInstall-Section=universe

Name=Entagged
Comment=Tag Editor
Exec=entagged
Icon=entagged
TryExec=entagged
Terminal=0
Type=Application
Categories=AudioVideo;

X-Ubuntu-Gettext-Domain=app-install-data
