[Desktop Entry]
X-AppInstall-Package=epigrass
X-AppInstall-Popcon=22
X-AppInstall-Section=universe

Name=Epigrass
Comment=Epidemics Simulator
GenericName=Epidemics Simulator
Exec=epigrass
Icon=_usr_share_pixmaps_egicon
Type=Application
StartupNotify=false
Terminal=false
Categories=Education;Science;

X-Ubuntu-Gettext-Domain=app-install-data
