[Desktop Entry]
X-AppInstall-Package=epiphany-browser
X-AppInstall-Popcon=4598
X-AppInstall-Section=universe

Name=Epiphany
GenericName=Web Browser
X-GNOME-FullName=Epiphany Web Browser
Comment=Browse the web
Exec=epiphany-browser %U
StartupNotify=true
Terminal=false
Type=Application
Icon=web-browser
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=epiphany
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.0.4
Categories=Network;GNOME;GTK;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;


X-Ubuntu-Gettext-Domain=app-install-data
