[Desktop Entry]
X-AppInstall-Package=espeak-gui
X-AppInstall-Popcon=281
X-AppInstall-Section=universe

Type=Application
Name=eSpeak speech synthesizer
GenericName=Speech synthesizer
Comment=Let the computer read out text for you
Exec=espeak-gui
Icon=espeak-gui
Categories=GTK;AudioVideo;Audio;

X-Ubuntu-Gettext-Domain=app-install-data
