[Desktop Entry]
X-AppInstall-Package=evilvte
X-AppInstall-Popcon=29
X-AppInstall-Section=universe

Type=Application
Name=evilvte
Comment=Terminal Emulator
Icon=evilvte
Exec=evilvte
Categories=Utility;TerminalEmulator;

X-Ubuntu-Gettext-Domain=app-install-data
