[Desktop Entry]
X-AppInstall-Package=evolvotron
X-AppInstall-Popcon=47
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Version=0.4.0
Name=Evolvotron
Exec=evolvotron
Terminal=false
Categories=Graphics;2DGraphics;
Comment=Interactive image generator

X-Ubuntu-Gettext-Domain=app-install-data
