[Desktop Entry]
X-AppInstall-Package=f-spot
X-AppInstall-Popcon=20548
X-AppInstall-Keywords= fspot;gthumb;iphoto;picasa;photographs;edit;album;image
X-AppInstall-Section=universe

Version=1.0
Name=F-Spot
GenericName=Photo Manager
X-GNOME-FullName=F-Spot Photo Manager
Comment=Organize, enjoy, and share your photos
Exec=f-spot
Icon=f-spot
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics;Photography;GNOME;GTK;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=f-spot
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.8.2
X-GNOME-DocPath=f-spot/f-spot.xml


X-Ubuntu-Gettext-Domain=app-install-data
