[Desktop Entry]
X-AppInstall-Package=facturlinex2
X-AppInstall-Popcon=1
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=No name
Type=Application
Exec=facturlinex2
#TryExec=
Icon=_usr_share_facturlinex2_Icons_FacturLinEx
X-GNOME-DocPath=
Terminal=false
Categories=Office;

X-Ubuntu-Gettext-Domain=app-install-data
