[Desktop Entry]
Encoding=UTF-8
Name=ATI binary X.Org driver
Comment=Optimized hardware acceleration of OpenGL with newer ATI graphic cards
Type=Application
Categories=Application;System;
X-AppInstall-Package=fglrx
X-AppInstall-Popcon=14494
X-AppInstall-Section=restricted
X-Ubuntu-Gettext-Domain=app-install-data
