[Desktop Entry]
X-AppInstall-Package=filezilla
X-AppInstall-Popcon=8941
X-AppInstall-Section=universe

Name=FileZilla
GenericName=FTP client
Comment=Download and upload files via FTP, FTPS and SFTP
Exec=filezilla
Terminal=false
Icon=filezilla
Type=Application
Categories=Network;FileTransfer;
Version=1.0

X-Ubuntu-Gettext-Domain=app-install-data
