
[Desktop Entry]
X-AppInstall-Package=fillmore
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Version=1.0
Name=Fillmore Audio Editor
GenericName=Audio Editor
Comment=Record and edit multitrack audio
Exec=fillmore %U
Icon=fillmore
MimeType=application/fillmore;text/yorba-media
Terminal=false
Type=Application
Categories=AudioVideo;GNOME;GTK;
X-GIO-NoFuse=true

X-Ubuntu-Gettext-Domain=app-install-data
