[Desktop Entry]
X-AppInstall-Package=flamerobin
X-AppInstall-Popcon=82
X-AppInstall-Section=universe

Name=FlameRobin
GenericName=Database administration tool
Comment=Administration Tool for Firebird DBMS
Exec=flamerobin
Icon=_usr_share_pixmaps_flamerobin
Type=Application
Terminal=false
Categories=Development;Database;GTK

X-Ubuntu-Gettext-Domain=app-install-data
