[Desktop Entry]
X-AppInstall-Package=fldigi
X-AppInstall-Popcon=114
X-AppInstall-Section=universe

Name=Fldigi
GenericName=Amateur Radio Digital Modem
Comment=Amateur Radio Sound Card Communications
Exec=fldigi
Icon=fldigi
Terminal=false
Type=Application
Categories=Network;HamRadio;

X-Ubuntu-Gettext-Domain=app-install-data
