[Desktop Entry]
X-AppInstall-Package=flightgear
X-AppInstall-Popcon=445
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Version=1.4
Name=FlightGear
Exec=fgfs
Terminal=false
Categories=Game;Simulation;
Comment=A flight simulator
Icon=

X-Ubuntu-Gettext-Domain=app-install-data
