[Desktop Entry]
X-AppInstall-Package=fmit
X-AppInstall-Popcon=126
X-AppInstall-Section=universe

Type=Application
Name=fmit
Comment=Music instrument tuner
Exec=fmit
Icon=mix_mic
Categories=Qt;AudioVideo

X-Ubuntu-Gettext-Domain=app-install-data
