[Desktop Entry]
X-AppInstall-Package=fontypython
X-AppInstall-Popcon=170
X-AppInstall-Section=universe

Name=Fonty Python Font Manager
Comment=View and temporarily install all kinds of fonts.

Type=Application
Categories=Graphics;

Exec=fontypython
TryExec=fontypython
Terminal=false
StartupNotify=true

Icon=fontypython

X-Ubuntu-Gettext-Domain=app-install-data
