[Desktop Entry]
X-AppInstall-Package=fontforge
X-AppInstall-Popcon=711
X-AppInstall-Section=main

Name=FontForge
Comment=An outline font editor
Exec=fontforge
Icon=fontforge
StartupWMClass=fontforge
Terminal=false
Type=Application
Categories=Graphics;
MimeType=application/vnd.font-fontforge-sfd;application/x-font-ttf;application/x-font-otf;application/x-font-type1;application/x-font-bdf;application/x-font-pcf;application/x-font-tex;

X-Ubuntu-Gettext-Domain=app-install-data
