[Desktop Entry]
X-AppInstall-Package=foobillard
X-AppInstall-Popcon=327
X-AppInstall-Section=universe

Name=Foobillard
GenericName=Billiards game
Comment=3D billiards game using OpenGL
Exec=foobillard
Icon=foobillard
Terminal=false
Type=Application
Categories=Game;SportsGame;
StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
