[Desktop Entry]
X-AppInstall-Package=foxtrotgps
X-AppInstall-Popcon=153
X-AppInstall-Section=universe

Name=FoxtrotGPS
GenericName=GPS and Map
Comment=Display map and GPS position
Encoding=UTF-8
Version=1.0
Type=Application
Exec=foxtrotgps
Icon=foxtrotgps
Terminal=false
Categories=GTK;Utility;Geography;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
