[Desktop Entry]
X-AppInstall-Package=fqterm
X-AppInstall-Popcon=10
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Type=Application
Categories=Application;Qt;Network;
Icon=_usr_share_FQTerm_pic_fqterm_256x256
Name=FQTerm
Exec=fqterm -caption "%c" %i %u
GenericName=BBS Client
Comment=BBS client based on Qt library in linux
Terminal=false

X-Ubuntu-Gettext-Domain=app-install-data
