[Desktop Entry]
X-AppInstall-Package=freespeak
X-AppInstall-Popcon=108
X-AppInstall-Section=universe

Version=1.0
Name=FreeSpeak
Categories=Education;Translation
Exec=freespeak
Icon=freespeak
StartupNotify=true
Terminal=false
Type=Application
GenericName=A free frontend to online translator engines
Comment=A free frontend to online translator engines


X-Ubuntu-Gettext-Domain=app-install-data
