[Desktop Entry]
X-AppInstall-Package=freemix
X-AppInstall-Popcon=223
X-AppInstall-Section=universe

Name=freemix
Comment=Live video performance tool
Exec=freemix
Icon=_usr_share_freemix_img_freemix_small
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;AudioVideo;Video;

X-Ubuntu-Gettext-Domain=app-install-data
