[Desktop Entry]
X-AppInstall-Package=freeguide
X-AppInstall-Popcon=154
X-AppInstall-Section=universe

Name=FreeGuide
Comment=Download a TV guide from the Internet and view it
GenericName=TV Guide
Type=Application
Categories=Utility;Java;AudioVideo;Video;TV
Exec=freeguide
Icon=freeguide

X-Ubuntu-Gettext-Domain=app-install-data
