[Desktop Entry]
X-AppInstall-Package=freeplane
X-AppInstall-Popcon=328
X-AppInstall-Section=universe

Version=1.0
Name=Freeplane
Exec=/usr/bin/freeplane
Terminal=false
Icon=freeplane
Type=Application
MimeType=application/x-freeplane;
Categories=Office;
GenericName=Freeplane
Comment=A free tool to structure and organise your information with mind mapping

X-Ubuntu-Gettext-Domain=app-install-data
