[Desktop Entry]
X-AppInstall-Package=fretsonfire
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=Frets on Fire
Comment=Rock out with your keyboard
Exec=fretsonfire
Icon=fretsonfire
Terminal=false
Type=Application
Categories=Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
