[Desktop Entry]
X-AppInstall-Package=fsl-4.1
X-AppInstall-Popcon=37
X-AppInstall-Section=multiverse

Encoding=UTF-8
GenericName=Software Collection for (f)MRI Data Analysis
Name=FSL 4.1
Exec=fsl4.1-fsl
TryExec=fsl4.1-fsl
Icon=fsl-4.1
Type=Application
Terminal=false
Categories=Education;Science;DataVisualization;MedicalSoftware;

X-Ubuntu-Gettext-Domain=app-install-data
