[Desktop Entry]
X-AppInstall-Package=fuse-emulator-sdl
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Version=1.0
Type=Application
Categories=Game;Emulator;Application;
Name=Fuse Spectrum Emulator (SDL version)
Exec=/usr/bin/fuse-sdl
Icon=fuse

X-Ubuntu-Gettext-Domain=app-install-data
