[Desktop Entry]
X-AppInstall-Package=gabedit
X-AppInstall-Popcon=38
X-AppInstall-Section=universe

Name=Gabedit QC-GUI
Comment=graphical user interface to computational chemistry packages
Exec=gabedit
Icon=gabedit
Terminal=false
Type=Application
Categories=GTK;Education;Science;Chemistry;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
