[Desktop Entry]
X-AppInstall-Package=gadmin-openvpn-client
X-AppInstall-Popcon=78
X-AppInstall-Section=universe

Encoding=UTF-8
Name=GADMIN-OPENVPN-Client
GenericName=GADMIN-OPENVPN-Client
Comment=OpenVPN Client administration
Exec=su-to-root -X -c /usr/sbin/gadmin-openvpn-client
Icon=gadmin-openvpn-client
Terminal=false
Type=Application
Categories=GTK;System;

X-Ubuntu-Gettext-Domain=app-install-data
