[Desktop Entry]
X-AppInstall-Package=gadmin-bind
X-AppInstall-Popcon=43
X-AppInstall-Section=universe

Encoding=UTF-8
Name=GADMIN-BIND
GenericName=GADMIN-BIND
Comment=BIND DNS server administration
Exec=su-to-root -X -c /usr/sbin/gadmin-bind
Icon=gadmin-bind
Terminal=false
Type=Application
Categories=GTK;System;

X-Ubuntu-Gettext-Domain=app-install-data
