[Desktop Entry]
X-AppInstall-Package=gatos
X-AppInstall-Popcon=33
X-AppInstall-Section=universe

Name=gatos-conf
GenericName=gatos-conf
Comment=Gatos Configuration Editor
Exec=gksudo --description /usr/share/applications/gatos-conf.desktop /usr/bin/gatos-conf
Terminal=true
Type=Application
Categories=Settings;

X-Ubuntu-Gettext-Domain=app-install-data
