[Desktop Entry]
X-AppInstall-Package=gchempaint
X-AppInstall-Popcon=79
X-AppInstall-Section=universe

Version=1.0
Name=GChemPaint Chemical Structures Editor
Comment=Edit chemical 2D structures
Exec=gchempaint-0.12 %U
Terminal=false
Type=Application
Icon=gchempaint
Categories=GTK;GNOME;Education;Science;Chemistry;
MimeType=application/x-gchempaint;chemical/x-cml;chemical/x-pdb;chemical/x-cdx;chemical/x-cdxml;chemical/x-mdl-molfile;chemical/x-ncbi-asn1;chemical/x-ncbi-asn1-binary;chemical/x-ncbi-asn1-xml;

X-Ubuntu-Gettext-Domain=app-install-data
