[Desktop Entry]
X-AppInstall-Package=gco
X-AppInstall-Popcon=23
X-AppInstall-Section=universe

Name=GNOME Comics Organizer
Comment=A GNOME interface for managing your comic book collection
Icon=gco-gco
Exec=gco
Terminal=false
Type=Application
StartupNotify=true
Encoding=UTF-8
Categories=GNOME;Application;Utility;X-Red-Hat-Base;

X-Ubuntu-Gettext-Domain=app-install-data
