[Desktop Entry]
X-AppInstall-Package=gcolor2
X-AppInstall-Popcon=549
X-AppInstall-Section=universe

Name=Gcolor2
GenericName=Gcolor2
Comment=Simple GTK2 color selector and picker
Exec=gcolor2
Icon=_usr_share_pixmaps_gcolor2_gcolor2
Terminal=false
Type=Application
Categories=Application;Graphics;

X-Ubuntu-Gettext-Domain=app-install-data
