[Desktop Entry]
X-AppInstall-Package=gdis
X-AppInstall-Popcon=39
X-AppInstall-Section=universe

Version=1.0
Name=GDIS Molecule Modeller
GenericName=Molecule Modeller
Comment=Model and manipulate molecules, and create high-quality renderings of them
Type=Application
Exec=gdis
Icon=gdis
Categories=GTK;Science;Chemistry;Education;

X-Ubuntu-Gettext-Domain=app-install-data
