[Desktop Entry]
X-AppInstall-Package=geda-xgsch2pcb
X-AppInstall-Popcon=137
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
GenericName=xgsch2pcb
Name=gEDA Schematic -> PCB Project
Comment=Create and edit electronics projects with xgsch2pcb
Type=Application
Exec=xgsch2pcb %f
Icon=geda-xgsch2pcb
MimeType=application/x-geda-gsch2pcb-project
Categories=Engineering;Electronics

X-Ubuntu-Gettext-Domain=app-install-data
