[Desktop Entry]
X-AppInstall-Package=gemanx-gtk2
X-AppInstall-Popcon=26
X-AppInstall-Section=universe

Categories=Application;Network;
Encoding=UTF-8
Name=GeMan X BBS Client
Exec=gemanx
Icon=_usr_share_pixmaps_gemanx
Type=Application
Terminal=false
GenericName=GeMan X BBS Client
Comment=GeMan X BBS Client

X-Ubuntu-Gettext-Domain=app-install-data
