[Desktop Entry]
X-AppInstall-Package=geogebra
X-AppInstall-Popcon=448
X-AppInstall-Section=universe

Name=GeoGebra
GenericName=Dynamic mathematics software
Comment=Create interactive mathematical constructions and applets. 
Exec=geogebra %F
Icon=geogebra
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=geogebra-GeoGebra
Categories=Education;Math
MimeType=application/vnd.geogebra.file;application/vnd.geogebra.tool;

X-Ubuntu-Gettext-Domain=app-install-data
