[Desktop Entry]
X-AppInstall-Package=ggz-gtk-client
X-AppInstall-Popcon=12
X-AppInstall-Section=universe

Name=ggz-gtk
GenericName=Gtk+ internet gaming center
Comment=GGZ Core Client

Type=Application
Exec=ggz-gtk
Icon=
Terminal=false
Categories=X-GGZ;Network;ConsoleOnly;

X-Ubuntu-Gettext-Domain=app-install-data
