[Desktop Entry]
X-AppInstall-Package=gjacktransport
X-AppInstall-Popcon=28
X-AppInstall-Section=universe

Type=Application
Name=G. JACK Clock
GenericName=JACK transport Big Clock
Comment=Display JACK transport timecode
Icon=gjackclock
Exec=gjackclock
Terminal=false
Categories=AudioVideo;Utility;

X-Ubuntu-Gettext-Domain=app-install-data
