[Desktop Entry]
X-AppInstall-Package=gjots2
X-AppInstall-Popcon=68
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Gjots2 Jotter
Comment=Store and organise your random notes
Exec=gjots2
Terminal=false
Type=Application
Icon=gjots
Categories=GNOME;Application;Utility;

X-Ubuntu-Gettext-Domain=app-install-data
