[Desktop Entry]
X-AppInstall-Package=gkdebconf
X-AppInstall-Popcon=106
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=GkDebconf
Comment=Helper to reconfigure packages
Icon=_usr_share_pixmaps_gkdebconf-icon
Exec=gkdebconf
Terminal=false
Categories=GNOME;System;Settings;

X-Ubuntu-Gettext-Domain=app-install-data
