[Desktop Entry]
X-AppInstall-Package=glchess
X-AppInstall-Popcon=2484
X-AppInstall-Section=universe

Name=Chess
Comment=Play the classic two-player boardgame of chess
Version=1.0
Exec=/usr/games/glchess
Terminal=false
Type=Application
Categories=GNOME;Game;BoardGame;
StartupNotify=true
Icon=gnome-glchess
MimeType=application/x-chess-pgn;
GenericName=3D Chess Game
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.2.0


X-Ubuntu-Gettext-Domain=app-install-data
