[Desktop Entry]
X-AppInstall-Package=glogg
X-AppInstall-Popcon=22
X-AppInstall-Section=universe

Name=glogg
GenericName=Log file browser
# %f because glogg supports only one file for now
Exec=glogg %f
Icon=glogg
Type=Application
Comment=A smart interactive log explorer.
Terminal=false
Categories=Qt;Utility;

X-Ubuntu-Gettext-Domain=app-install-data
