[Desktop Entry]
X-AppInstall-Package=gmail-notify
X-AppInstall-Popcon=444
X-AppInstall-Section=universe

Type=Application
Name=Gmail Notify
GenericName=Gmail Notify
Comment=Notify the arrival of new mail on Gmail
Version=1.0
Icon=gmail-notify-icon
Exec=gmail-notify
Terminal=false
Categories=Network;

X-Ubuntu-Gettext-Domain=app-install-data
