[Desktop Entry]
X-AppInstall-Package=gmerlin
X-AppInstall-Popcon=152
X-AppInstall-Section=universe

Name=Gmerlin KBD
Comment=Configure the Gmerlin keyboard daemon
Exec=gmerlin_kbd_config
Icon=gmerlin-kbd
Type=Application
Categories=AudioVideo;AudioVideoEditing;

X-Ubuntu-Gettext-Domain=app-install-data
