[Desktop Entry]
X-AppInstall-Package=gmerlin
X-AppInstall-Popcon=152
X-AppInstall-Section=universe

Name=Gmerlin plugin configurator
Comment=Configure gmerlin plugins
Exec=gmerlin_plugincfg
Icon=gmerlin-plugincfg
Type=Application
Categories=Audio

X-Ubuntu-Gettext-Domain=app-install-data
