[Desktop Entry]
X-AppInstall-Package=gmountiso
X-AppInstall-Popcon=1147
X-AppInstall-Section=universe

Name=Gmount-iso
Comment=Mount CD-ROM and DVD image iso
Exec=Gmount-iso
Terminal=false
Type=Application
Icon=Ico_gmount
Categories=GTK;System;
StartupNotify=true
MimeType=application/x-cd-image;


X-Ubuntu-Gettext-Domain=app-install-data
