[Desktop Entry]
X-AppInstall-Package=gnome-photo-printer
X-AppInstall-Popcon=294
X-AppInstall-Section=universe

Name=GNOME Photo Printer
Comment=Print several photos on one page
Exec=gnome-photo-printer
Icon=gnome-photo-printer
Terminal=0
Type=Application
Categories=Graphics

X-Ubuntu-Gettext-Domain=app-install-data
