[Desktop Entry]
X-AppInstall-Package=gnome-media
X-AppInstall-Popcon=49483
X-AppInstall-Section=main

Name=Sound Recorder
Comment=Record sound clips
Exec=gnome-sound-recorder
Icon=gnome-sound-recorder
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-DocPath=grecord/grecord.xml
Categories=GNOME;GTK;AudioVideo;Audio;Recorder;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-media
X-GNOME-Bugzilla-Component=Gnome-Sound-Recorder
X-GNOME-Bugzilla-Version=2.91.2


X-Ubuntu-Gettext-Domain=app-install-data
