[Desktop Entry]
X-AppInstall-Package=gnome-color-manager
X-AppInstall-Popcon=952
X-AppInstall-Section=universe

Name=Color Profile Viewer
Comment=Inspect and compare installed color profiles
Icon=gnome-color-manager
Exec=gcm-viewer
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-color-manager
X-GNOME-Bugzilla-Component=gnome-color-manager


X-Ubuntu-Gettext-Domain=app-install-data
