[Desktop Entry]
X-AppInstall-Package=gnome-media
X-AppInstall-Popcon=49483
X-AppInstall-Section=main

Name=Multimedia Systems Selector
Comment=Configure defaults for GStreamer applications
Exec=gstreamer-properties
Icon=gstreamer-properties
StartupNotify=true
Terminal=false
NoDisplay=true
Type=Application
Categories=GNOME;GTK;Settings;HardwareSettings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-media
X-GNOME-Bugzilla-Component=gstreamer-properties
X-GNOME-Bugzilla-Version=2.91.2


X-Ubuntu-Gettext-Domain=app-install-data
