[Desktop Entry]
X-AppInstall-Package=gnome-disk-utility
X-AppInstall-Popcon=137168
X-AppInstall-Section=main

Name=Disk Utility
Comment=Manage Drives and Media
Exec=palimpsest
Icon=palimpsest
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-DocPath=palimpsest/palimpsest.xml
Categories=GNOME;GTK;Utility;HardwareSettings;Settings;HardwareSettings;


X-Ubuntu-Gettext-Domain=app-install-data
