[Desktop Entry]
X-AppInstall-Package=gnomad2
X-AppInstall-Popcon=52
X-AppInstall-Section=universe

Name=Gnomad 2
GenericName=Nomad/Zen Jukebox/Dell DJ Client
Comment=A tool for managing Creative Nomad/Zen Jukeboxes and Dell DJs
Exec=gnomad2
Terminal=false
Type=Application
Icon=gnomad2-logo
Categories=GTK;AudioVideo;
MimeType=application/x-ogg;application/ogg;audio/x-mp3;audio/x-mpeg;audio/mpeg;application/x-flac;x-content/audio-player;

X-Ubuntu-Gettext-Domain=app-install-data
