[Desktop Entry]
X-AppInstall-Package=gnome-keyring
X-AppInstall-Popcon=145006
X-AppInstall-Section=main

Name=Keyring Access
Comment=Unlock access to passwords and other secrets
Icon=security-medium
Exec=/usr/lib/gnome-keyring/gnome-keyring-prompt-3
Terminal=false
Type=Application
NoDisplay=true


X-Ubuntu-Gettext-Domain=app-install-data
