[Desktop Entry]
X-AppInstall-Package=gnome-specimen
X-AppInstall-Popcon=239
X-AppInstall-Section=universe

Name=Specimen Font Previewer
GenericName=Font Previewer
Comment=Preview and compare fonts
Exec=gnome-specimen
StartupNotify=false
Terminal=false
Type=Application
Icon=gnome-specimen
Categories=Graphics;Viewer;GNOME;GTK;Publishing;

X-Ubuntu-Gettext-Domain=app-install-data
