[Desktop Entry]
X-AppInstall-Package=gnome-breakout
X-AppInstall-Popcon=134
X-AppInstall-Section=universe

Name=GNOME Breakout
Comment=Play a clone of the classic arcade game Breakout for GNOME
Exec=gnome-breakout
Icon=gnome-breakout
Terminal=false
Type=Application
Categories=Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
