
[Desktop Entry]
X-AppInstall-Package=gnote
X-AppInstall-Popcon=1613
X-AppInstall-Section=universe

Name=Gnote
Comment=Take notes, link ideas, and stay organized
GenericName=Note-taker
Exec=gnote --search
Icon=gnote
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
OnlyShowIn=GNOME;XFCE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnote
X-GNOME-Bugzilla-Component=main
X-GNOME-Bugzilla-Version=0.7.5

X-Ubuntu-Gettext-Domain=app-install-data
