[Desktop Entry]
X-AppInstall-Package=gnubg
X-AppInstall-Popcon=270
X-AppInstall-Section=universe

Name=GNU Backgammon
GenericName=Backgammon
Comment=GTK or console backgammon program with analysis
Exec=gnubg -w
Terminal=false
Icon=gnubg
Type=Application
Categories=Game;BoardGame;GTK;

X-Ubuntu-Gettext-Domain=app-install-data
