[Desktop Entry]
X-AppInstall-Package=goattracker
X-AppInstall-Popcon=27
X-AppInstall-Section=universe

Name=GoatTracker
Exec=goattracker
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=goattrk2
Categories=AudioVideo;AudioVideoEditing

X-Ubuntu-Gettext-Domain=app-install-data
