[Desktop Entry]
X-AppInstall-Package=goplay
X-AppInstall-Popcon=63
X-AppInstall-Section=universe

Type=Application
Name=GoPlay!
GenericName=goplay
Comment=Gaming packages browser
Icon=goplay
Exec=goplay
Terminal=false
Categories=Utility;
MimeType=

X-Ubuntu-Gettext-Domain=app-install-data
