[Desktop Entry]
X-AppInstall-Package=gosa-desktop
X-AppInstall-Popcon=6
X-AppInstall-Section=universe

MimeType=text/plain;
GenericName=GOsa²
Exec=/usr/bin/gosa
Icon=gosa
Path=/usr/bin
Type=Application
Terminal=false
Name=GOsa
X-KDE-StartupNotify=true
Categories=Qt;KDE;Utility;System;

X-Ubuntu-Gettext-Domain=app-install-data
