[Desktop Entry]
X-AppInstall-Package=gpixpod
X-AppInstall-Popcon=126
X-AppInstall-Section=universe

Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/gpixpod
TryExec=/usr/bin/gpixpod
Icon=_usr_share_gpixpod_GPixPod_icon
X-GNOME-DocPath=
Terminal=false
Name=GPixPod
GenericName=iPod photo manager
Comment=Organize photos on your iPod, freely!
Categories=GNOME;Application;Graphics;

X-Ubuntu-Gettext-Domain=app-install-data
