[Desktop Entry]
X-AppInstall-Package=gpomme
X-AppInstall-Popcon=8
X-AppInstall-Section=universe

Version=1.0
Name=pommed GTK client
Comment=A graphical client for pommed
Icon=gpomme
Exec=gpomme
StartupNotify=true
Type=Application
Categories=Utility

X-Ubuntu-Gettext-Domain=app-install-data
