[Desktop Entry] 
X-AppInstall-Package=gpscorrelate-gui
X-AppInstall-Popcon=94
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=GPSCorrelate
GenericName=Geotagging tool
Comment=Add coordinates to jpeg images using gpx files
TryExec=gpscorrelate-gui
Exec=gpscorrelate-gui
Terminal=false
Categories=Graphics;ImageProcessing;Geography;GTK;
Icon=gpscorrelate-gui

X-Ubuntu-Gettext-Domain=app-install-data
