[Desktop Entry]
X-AppInstall-Package=grdesktop
X-AppInstall-Popcon=355
X-AppInstall-Section=universe

Name=Remotedesktop Client
Comment=Connect to a remote Windows Terminal-Server
TryExec=grdesktop
Exec=grdesktop
Icon=grdesktop
Terminal=false
Type=Application
Version=1.0
Categories=Network;X-Red-Hat-Base;
Encoding=UTF-8

[Desktop Action Full]
Exec=grdesktop


X-Ubuntu-Gettext-Domain=app-install-data
