[Desktop Entry]
X-AppInstall-Package=griffith
X-AppInstall-Popcon=155
X-AppInstall-Section=universe

Name=Griffith
GenericName=Griffith - Movie Collection Manager
Comment=Movie Collection Manager
Version=1.0
Exec=griffith
Icon=griffith
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=Griffith
Categories=GNOME;GTK;Database;AudioVideo;



X-Ubuntu-Gettext-Domain=app-install-data
