[Desktop Entry]
X-AppInstall-Package=grisbi
X-AppInstall-Popcon=551
X-AppInstall-Section=universe

Name=Grisbi
Comment=Personnal finances manager
Exec=grisbi
Icon=_usr_share_pixmaps_grisbi_grisbi
Terminal=false
Type=Application
Categories=Application;Office;Finance;
MimeType=application/x-grisbi
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
