[Desktop Entry]
X-AppInstall-Package=groundcontrol
X-AppInstall-Popcon=196
X-AppInstall-Section=universe

Name=Ground Control Configuration
GenericName=Ground Control
Comment=Setup Ground Control with your Launchpad account.
Exec=lp-groundcontrol
Icon=groundcontrol
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;GTK;Settings;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;

X-AppInstall-Package=groundcontrol
X-AppInstall-Popcon=196

X-Ubuntu-Gettext-Domain=app-install-data
