[Desktop Entry]
X-AppInstall-Package=gtick
X-AppInstall-Popcon=310
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=Gtick
Comment=a GTK-based metronome
Exec=/usr/bin/gtick
Icon=_usr_share_pixmaps_gtick_32x32
Terminal=false
Type=Application
Categories=GTK;AudioVideo;Audio;

X-Ubuntu-Gettext-Domain=app-install-data
