[Desktop Entry]
X-AppInstall-Package=gtk-redshift
X-AppInstall-Popcon=309
X-AppInstall-Section=universe

Version=1.0
Name=Redshift
GenericName=Color temperature adjustment
Comment=Color temperature adjustment tool
Exec=gtk-redshift
Icon=redshift
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
