[Desktop Entry]
X-AppInstall-Package=gtkguitune
X-AppInstall-Popcon=139
X-AppInstall-Section=universe

Type=Application
Name=gtkGuitune
Categories=AudioVideo;
Comment=Tune your Guitar
TryExec=gtkguitune
Exec=gtkguitune
Icon=guitune_logo

X-Ubuntu-Gettext-Domain=app-install-data
