[Desktop Entry]
X-AppInstall-Package=gtkwhiteboard
X-AppInstall-Popcon=42
X-AppInstall-Section=universe

Name=GTK Wiimote Whiteboard
Comment=A whiteboard written in GTK using the wiimote
Exec=/usr/bin/gtkwhiteboard
Icon=_usr_share_pixmaps_gtkwhiteboard
Terminal=false
Type=Application
Categories=Utility;HardwareSettings;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
