[Desktop Entry]
X-AppInstall-Package=guake
X-AppInstall-Popcon=2247
X-AppInstall-Section=universe

Name=Guake Terminal
Comment=Use the command line in a Quake-like terminal
TryExec=guake
Exec=guake
Icon=_usr_share_pixmaps_guake_guake
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;
StartupNotify=true
X-GNOME-Autostart-enabled=false

X-Ubuntu-Gettext-Domain=app-install-data
