[Desktop Entry]
X-AppInstall-Package=gxmms2
X-AppInstall-Popcon=119
X-AppInstall-Section=universe

Name=gxmms2
GenericName=Audio Player
Comment=Play music
Categories=GTK;AudioVideo;Audio;Player;
Exec=gxmms2
Icon=xmms2
Terminal=false
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
