[Desktop Entry]
X-AppInstall-Package=gxtuner
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Type=Application
Name=Gxtuner
GenericName=Tuner
Comment=Simple Tuner Interface for jack
Icon=gxtuner32x32
TryExec=gxtuner
Exec=gxtuner
Terminal=false
Categories=AudioVideo;X-Jack;Midi;X-MIDI;

X-Ubuntu-Gettext-Domain=app-install-data
