[Desktop Entry]
X-AppInstall-Package=hamster-applet
X-AppInstall-Popcon=2923
X-AppInstall-Section=universe

Version=1.0
Type=Application
Terminal=false
Name=Time Tracker
Comment=Project Hamster - track your time
Icon=hamster-applet
Exec=/usr/bin/hamster-time-tracker
Categories=GNOME;GTK;Utility;

X-Ubuntu-Gettext-Domain=app-install-data
