[Desktop Entry]
X-AppInstall-Package=hannah
X-AppInstall-Popcon=39
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Help Hannah's Horse
Comment=A pacman-like game
TryExec=hannah
Exec=hannah
Icon=hannah
Categories=Application;Game;

X-Ubuntu-Gettext-Domain=app-install-data
