[Desktop Entry]
X-AppInstall-Package=harpia
X-AppInstall-Popcon=50
X-AppInstall-Section=universe

Type=Application
Name=Harpia
Comment=Image Processing and Computer Vision Automatic Programming Tool
GenericName=Harpia
Icon=harpia
Exec=harpia
Terminal=false
Categories=Development;Science;
MimeType=application/hrp;

X-Ubuntu-Gettext-Domain=app-install-data
