[Desktop Entry]
X-AppInstall-Package=horae
X-AppInstall-Popcon=14
X-AppInstall-Section=multiverse

Type=Application
Encoding=UTF-8
Name=Hephaestus
Comment=The x-ray absorption spectroscopist's periodic table
GenericName=X-ray Absorption Data Tables
Icon=_usr_share_pixmaps_hephaestus
Exec=hephaestus %F
Terminal=False
StartupNotify=true
Categories=Education;Science;DataVisualization;


X-Ubuntu-Gettext-Domain=app-install-data
