[Desktop Entry]
X-AppInstall-Package=horgand
X-AppInstall-Popcon=50
X-AppInstall-Section=universe

Name=Horgand
GenericName=Soft Synth
Comment=Organd Soft Synth
Type=Application
Categories=AudioVideo;Audio;
Exec=horgand
Terminal=false

X-Ubuntu-Gettext-Domain=app-install-data
