[Desktop Entry]
X-AppInstall-Package=htop
X-AppInstall-Popcon=5841
X-AppInstall-Section=universe

Version=1.0
Name=Htop
Type=Application
Comment=Show System Processes
Terminal=true
Exec=htop
Icon=htop
Categories=ConsoleOnly;System;
GenericName=Process Viewer

X-Ubuntu-Gettext-Domain=app-install-data
