[Desktop Entry]
X-AppInstall-Package=insanity-tools
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=Insanity testing system
Comment=Run automated tests
StartupNotify=true
Exec=insanity-gtk
## Icon=
Type=Application
Categories=GTK;Development

X-Ubuntu-Gettext-Domain=app-install-data
