[Desktop Entry]
X-AppInstall-Package=intone
X-AppInstall-Popcon=18
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Intone
Comment=e Media Player
Exec=intone
Icon=intone
Terminal=false
Type=Application
Categories=Application;Utility;

X-Ubuntu-Gettext-Domain=app-install-data
