[Desktop Entry]
X-AppInstall-Package=ircp-tray
X-AppInstall-Popcon=45
X-AppInstall-Section=universe

Type=Application
Name=Ircp Tray
Comment=A simple OBEX file transfer applet
Exec=ircp-tray
Icon=ircp-tray
Terminal=false
Categories=Utility;

X-Ubuntu-Gettext-Domain=app-install-data
