[Desktop Entry]
X-AppInstall-Package=jaaa
X-AppInstall-Popcon=71
X-AppInstall-Section=universe

Version=1.0
Name=Jaaa (with ALSA support)
Comment=Analyse or generate an Audio signal through ALSA
Exec=jaaa -A -d hw:0
Icon=jaaa
Terminal=false
Type=Application
Categories=AudioVideo;Audio;

X-Ubuntu-Gettext-Domain=app-install-data
