[Desktop Entry]
X-AppInstall-Package=jackeq
X-AppInstall-Popcon=297
X-AppInstall-Section=universe

Name=JackEQ
Comment=routes and manipulates audio from/to multiple sources
Exec=jackeq
Terminal=false
Icon=_usr_share_jackeq_thai-gold
Type=Application
Categories=AudioVideo;

X-Ubuntu-Gettext-Domain=app-install-data
