[Desktop Entry]
X-AppInstall-Package=jackbeat
X-AppInstall-Popcon=225
X-AppInstall-Section=universe

Name=Jackbeat
GenericName=Audio Sequencer
Comment=drummachine-like audio sequencer
Icon=jackbeat
Type=Application
Categories=AudioVideo;Sequencer;
Exec=jackbeat
Terminal=false
MimeType=application/jab;audio/basic

X-Ubuntu-Gettext-Domain=app-install-data
