[Desktop Entry]
X-AppInstall-Package=jargoninformatique
X-AppInstall-Popcon=60
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Jargon Informatique
GenericName=Dictionary
Comment=French computering dictionary
Exec=jargoninformatique
Icon=jargoninformatique
Terminal=false
Type=Application
Categories=Application;Utility

X-Ubuntu-Gettext-Domain=app-install-data
