[Desktop Entry]
X-AppInstall-Package=jcgui
X-AppInstall-Popcon=7
X-AppInstall-Section=universe

Name=Jc_Gui
GenericName=Jconvolver Gui
Comment=Host for jconvolver
Exec=Jc_Gui
Icon=Jc_Gui
Categories=AudioVideo;X-Jack;
Terminal=false
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
