[Desktop Entry]
X-AppInstall-Package=jedit
X-AppInstall-Popcon=779
X-AppInstall-Section=universe

Name=jEdit
GenericName=Programmer's Text Editor
Comment=Edit text files
Exec=jedit %U
Icon=jedit
Terminal=false
Type=Application
Categories=Development;TextEditor;
StartupNotify=true
MimeType=text/plain;

X-Ubuntu-Gettext-Domain=app-install-data
