[Desktop Entry]
X-AppInstall-Package=jeex
X-AppInstall-Popcon=32
X-AppInstall-Section=universe

X-AppInstall-Package=jeex
X-AppInstall-Popcon=32
X-AppInstall-Section=main
Version=1.0
Name=Jeex
Exec=jeex %F
Icon=jeex
Categories=GTK;Development;
Comment=Hexadecimal Editor for Linux
Terminal=false
Type=Application
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
