[Desktop Entry]
X-AppInstall-Package=jfractionlab
X-AppInstall-Popcon=26
X-AppInstall-Section=universe

Name=JFractionLab
Comment=Calculate Fractions is fun!
Encoding=UTF-8
Exec=JFractionLab
GenericName=
Icon=_usr_share_jfractionlab_images_jfractionlab_icon
Type=Application
X-KDE-SubstituteUID=false
Categories=Application;Education;Math;

X-Ubuntu-Gettext-Domain=app-install-data
