[Desktop Entry]
X-AppInstall-Package=jockey-kde
X-AppInstall-Popcon=1989
X-AppInstall-Section=main

Name=Additional Drivers
Comment=Configure third-party and proprietary drivers
Icon=jockey-kde
Encoding=UTF-8
Type=Application
TryExec=jockey-kde
Exec=jockey-kde
Categories=Qt;KDE;System;
OnlyShowIn=KDE;


X-Ubuntu-Gettext-Domain=app-install-data
