[Desktop Entry]
X-AppInstall-Package=jokosher
X-AppInstall-Popcon=236
X-AppInstall-Section=universe

Version=1.0
Name=Jokosher Audio Editor
GenericName=Jokosher audio editor
Comment=Simply and easily create multi-track audio
Exec=jokosher
Icon=jokosher
Terminal=false
Type=Application
MimeType=application/x-jokosher;
Categories=AudioVideo;

X-Ubuntu-Gettext-Domain=app-install-data
