[Desktop Entry]
X-AppInstall-Package=kaddressbook
X-AppInstall-Popcon=2464
X-AppInstall-Section=main

Name=KAddressBook
GenericName=Contact Manager
Exec=kaddressbook %u
Icon=kaddressbook
Type=Application
X-DocPath=http://userbase.kde.org/KAddressBook
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Office;ContactManagement;

X-Ubuntu-Gettext-Domain=app-install-data
