[Desktop Entry]
X-AppInstall-Package=kadu
X-AppInstall-Popcon=817
X-AppInstall-Section=universe

Version=1.0
Name=Kadu
Type=Application
Icon=kadu
Exec=kadu
Categories=Network;InstantMessaging;Qt;
Terminal=false
StartupNotify=true
GenericName=Gadu-Gadu/XMPP Client
Comment=Gadu-Gadu/XMPP protocol client

X-Ubuntu-Gettext-Domain=app-install-data
