[Desktop Entry]
X-AppInstall-Package=kalgebramobile
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=KAlgebra Mobile
GenericName=Pocket Graph Calculator
Comment=Pocket Math Expression Solver and Plotter
Exec=kalgebramobile
MimeType=application/x-kalgebra;
Icon=kalgebra
Type=Application
Terminal=false
Categories=Qt;KDE;Education;Math;

X-Ubuntu-Gettext-Domain=app-install-data
