# KDE Config File
[Desktop Entry]
X-AppInstall-Package=kalzium
X-AppInstall-Popcon=614
X-AppInstall-Section=main

Type=Application
Exec=kalzium -caption "%c" %i
Icon=kalzium
X-DocPath=kalzium/index.html
Comment=KDE Periodic Table of Elements
Terminal=false
Name=Kalzium
GenericName=Periodic Table of Elements
Categories=Qt;KDE;Education;Science;Chemistry;

X-Ubuntu-Gettext-Domain=app-install-data
