[Desktop Entry]
X-AppInstall-Package=kamoso
X-AppInstall-Popcon=373
X-AppInstall-Section=universe

Name=Kamoso
GenericName=Picture retriever
Comment=Take any picture with your web cam
Exec=kamoso
MimeType=application/x-kamoso;
Icon=kamoso
Type=Application
Terminal=false
Categories=Qt;KDE;Graphics;

X-Ubuntu-Gettext-Domain=app-install-data
