[Desktop Entry]
X-AppInstall-Package=kanatest
X-AppInstall-Popcon=81
X-AppInstall-Section=universe

Name=Kana test
GenericName=kanatest
Comment=Drill game to learn Japanese kana characters
Exec=kanatest
Terminal=false
Type=Application
Icon=kanatest
Categories=Education;Languages;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
