[Desktop Entry]
X-AppInstall-Package=kanyremote
X-AppInstall-Popcon=37
X-AppInstall-Section=universe

Exec=kanyremote
Icon=kanyremote
Type=Application
Name=kanyremote
GenericName=Bluetooth Remote Control for KDE
Categories=Utility;
OnlyShowIn=KDE;
Comment=Bluetooth remote control for KDE
X-Desktop-File-Install-Version=5.12

X-Ubuntu-Gettext-Domain=app-install-data
