[Desktop Entry]
X-AppInstall-Package=kapman
X-AppInstall-Popcon=336
X-AppInstall-Section=main

Type=Application
Version=1.0
Name=Kapman
GenericName=Pac-Man Clone
Comment=Eat pills escaping ghosts
Icon=kapman
TryExec=kapman
Exec=kapman
Categories=Qt;KDE;Game;ArcadeGame;
X-DocPath=kapman/index.html

X-Ubuntu-Gettext-Domain=app-install-data
