[Desktop Entry]
X-AppInstall-Package=kbattleship
X-AppInstall-Popcon=348
X-AppInstall-Section=main

Name=Naval Battle
Exec=kbattleship -caption "%c" %U
MimeType=inode/vnd.kde.service.kbattleship;
Icon=kbattleship
Type=Application
X-DocPath=kbattleship/index.html
GenericName=Ship Sinking Game
Terminal=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;

X-Ubuntu-Gettext-Domain=app-install-data
