[Desktop Entry]
X-AppInstall-Package=kcemu
X-AppInstall-Popcon=5
X-AppInstall-Section=multiverse

Name=KCemu
GenericName=Emulator for KC85 and compatible computer
Comment=Emulator for KC85 and compatible computer

Icon=kcemu-icon
Exec=kcemu -P
Type=Application
Terminal=false
Categories=Game;Emulator;

X-Ubuntu-Gettext-Domain=app-install-data
