[Desktop Entry]
X-AppInstall-Package=kdelibs5-data
X-AppInstall-Popcon=692
X-AppInstall-Section=main

Type=Application
Exec=kmailservice %u
Icon=mail-message-new
MimeType=x-scheme-handler/mailto;

X-DocPath=kioslave/mailto/index.html
NoDisplay=true

# KMailService is the handler for mailto URLs
Name=KMailService

X-Ubuntu-Gettext-Domain=app-install-data
