[Desktop Entry]
X-AppInstall-Package=keyboardcast
X-AppInstall-Popcon=18
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=Keyboardcast
GenericName=Keyboard Multiplexer
Comment=Send keys to multiple windows simultaneously
Icon=gnome-dev-keyboard
Exec=keyboardcast
Terminal=false
Categories=Application;Utility;

X-Ubuntu-Gettext-Domain=app-install-data
