[Desktop Entry]
X-AppInstall-Package=keymon
X-AppInstall-Popcon=12
X-AppInstall-Section=universe

Version=1.0
Name=KeyMon
GenericName=Keyboard and Mouse Monitor
Comment=Keyboard and Mouse Monitor for screencasts
Exec=key-mon
Icon=_usr_share_pixmaps_key-mon
Terminal=false
Type=Application
Categories=GTK;Graphics;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
