[Desktop Entry]
X-AppInstall-Package=kfourinline
X-AppInstall-Popcon=195
X-AppInstall-Section=main

Name=KFourInLine
GenericName=Four-in-a-row Board Game
Exec=kfourinline
Icon=kfourinline
MimeType=
Terminal=false
Type=Application
X-DocPath=kfourinline/index.html
Categories=Qt;KDE;Game;BoardGame;

X-Ubuntu-Gettext-Domain=app-install-data
