[Desktop Entry]
X-AppInstall-Package=kinfocenter
X-AppInstall-Popcon=1289
X-AppInstall-Section=main

Exec=kinfocenter
Icon=hwinfo
Type=Application
X-DocPath=kinfocenter/index.html
X-KDE-StartupNotify=true
OnlyShowIn=KDE;

Name=KInfoCenter
GenericName=Info Center

X-DBUS-StartupType=Unique
Categories=Qt;KDE;System;

X-Ubuntu-Gettext-Domain=app-install-data
