[Desktop Entry]
X-AppInstall-Package=kita2
X-AppInstall-Popcon=5
X-AppInstall-Section=universe

Name=Kita2
Type=Application
GenericName=2ch client
Comment=2ch client for KDE
Exec=kita2
Icon=kita
Terminal=false
Categories=Qt;KDE;Network;
MimeType=application/kita;

X-Ubuntu-Gettext-Domain=app-install-data
