[Desktop Entry]
X-AppInstall-Package=kleopatra
X-AppInstall-Popcon=128
X-AppInstall-Section=universe

Type=Application
Categories=Qt;KDE;Utility;
Exec=kleopatra
Icon=kleopatra
Name=Kleopatra
GenericName=Certificate Manager and Unified Crypto GUI
Terminal=false
X-KDE-StartupNotify=true
X-DocPath=kleopatra/index.html

X-Ubuntu-Gettext-Domain=app-install-data
