# KDE Config File
[Desktop Entry]
X-AppInstall-Package=klines
X-AppInstall-Popcon=220
X-AppInstall-Section=main

Type=Application
Exec=klines -caption "%c"
Icon=klines
X-DocPath=klines/index.html
GenericName=Tactical Game
Terminal=false
Name=Kolor Lines
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;

X-Ubuntu-Gettext-Domain=app-install-data
