[Desktop Entry]
X-AppInstall-Package=kmediafactory
X-AppInstall-Popcon=106
X-AppInstall-Section=multiverse

Name=KMediaFactory
Exec=kmediafactory
Icon=kmediafactory
Type=Application
Comment=Template based DVD authoring software
GenericName=DVD Authoring
Terminal=false
MimeType=application/x-kmediafactory;
X-KDE-NativeMimeType=application/x-kmediafactory;
Categories=KDE;AudioVideo;AudioVideoEditing

X-Ubuntu-Gettext-Domain=app-install-data
