[Desktop Entry]
X-AppInstall-Package=kmess
X-AppInstall-Popcon=236
X-AppInstall-Section=universe

Name=KMess
Exec=kmess -caption "%c" %i
Icon=kmess
Type=Application
DocPath=kmess/index.html
Terminal=0
Categories=Qt;KDE;Network;InstantMessaging;
Comment=Live Messenger Client for KDE
GenericName=Live Messenger Client


X-Ubuntu-Gettext-Domain=app-install-data
