[Desktop Entry]
X-AppInstall-Package=kmymoney
X-AppInstall-Popcon=500
X-AppInstall-Section=universe

Name=KMyMoney
GenericName=Personal Finance Manager
Exec=kmymoney %u
Comment=Personal Finance Manager
MimeType=application/x-kmymoney;application/vnd.intu.qfx;application/x-ofx;
Type=Application
X-DocPath=kmymoney/index.html
Icon=kmymoney
Categories=Office;Finance;

X-Ubuntu-Gettext-Domain=app-install-data
