[Desktop Entry]
X-AppInstall-Package=kontrolpack
X-AppInstall-Popcon=33
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=KontrolPack
Comment=Remote shell command executor and LAN manager
Exec=su-to-root -X -c kontrolpack
Terminal=false
X-MultipleArgs=false
Icon=kontrolpack
Categories=Network;Qt;RemoteAccess;
GenericName=KontrolPack

X-Ubuntu-Gettext-Domain=app-install-data
