[Desktop Entry]
X-AppInstall-Package=korganizer
X-AppInstall-Popcon=3295
X-AppInstall-Section=main

MimeType=text/calendar;
Comment=Calendar and Scheduling Program
Exec=korganizer %U
Icon=korganizer
X-DocPath=korganizer/index.html
Type=Application
Name=KOrganizer
GenericName=Personal Organizer
X-KDE-ServiceTypes=DBUS/Organizer
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.korganizer
Categories=Qt;KDE;Office;Calendar;

X-Ubuntu-Gettext-Domain=app-install-data
