# KDE Config File
[Desktop Entry]
X-AppInstall-Package=krdc
X-AppInstall-Popcon=1376
X-AppInstall-Section=main

Type=Application
Exec=krdc -caption "%c" %u
Icon=krdc
Terminal=false
Name=KRDC
GenericName=Remote Desktop Client
X-DocPath=krdc/index.html
Categories=Qt;KDE;Network;RemoteAccess;

X-Ubuntu-Gettext-Domain=app-install-data
