[Desktop Entry]
X-AppInstall-Package=kseg
X-AppInstall-Popcon=50
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=KSeg Geometry Sketchpad
Comment=Sketchpad for planar Euclidean geometry
Exec=kseg
Icon=kseg
Type=Application
Terminal=false
Categories=Application;Math;Science;Education

X-Ubuntu-Gettext-Domain=app-install-data
