[Desktop Entry]
X-AppInstall-Package=kspread
X-AppInstall-Popcon=1026
X-AppInstall-Section=main

Name=KSpread
Exec=kspread %u
GenericName=Spreadsheet
Comment=Write spreadsheet documents
MimeType=application/vnd.oasis.opendocument.spreadsheet;application/x-kspread;application/vnd.ms-excel;text/csv;application/x-quattropro;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.openxmlformats-officedocument.spreadsheetml.template;
Type=Application
Icon=kspread
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.spreadsheet
X-DBUS-StartupType=multi
X-DBUS-ServiceName=org.koffice.kspread
X-DocPath=kspread/index.html
X-KDE-StartupNotify=true
Categories=Qt;KDE;Office;


X-Ubuntu-Gettext-Domain=app-install-data
