[Desktop Entry]
X-AppInstall-Package=kthesaurus
X-AppInstall-Popcon=200
X-AppInstall-Section=main

Name=KThesaurus
Type=Application
Icon=kthesaurus
Exec=kthesaurus
GenericName=Related Words
X-KDE-StartupNotify=true
Categories=Qt;KDE;Office;X-KDE-More;


X-Ubuntu-Gettext-Domain=app-install-data
