[Desktop Entry]
X-AppInstall-Package=ktoon
X-AppInstall-Popcon=143
X-AppInstall-Section=universe

Encoding=UTF-8
Name=KToon
Comment=Animation
Exec=ktoon
Icon=_usr_share_pixmaps_ktoon
Terminal=false
Type=Application
Categories=Graphics;Video;

X-Ubuntu-Gettext-Domain=app-install-data
