[Desktop Entry]
X-AppInstall-Package=ktuberling
X-AppInstall-Popcon=726
X-AppInstall-Section=main

Exec=ktuberling -caption "%c" %u
Name=Potato Guy
GenericName=Picture Game for Children
Type=Application
X-DocPath=ktuberling/index.html
Terminal=false
Icon=ktuberling
MimeType=application/x-tuberling;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;KidsGame;

X-Ubuntu-Gettext-Domain=app-install-data
