[Desktop Entry]
X-AppInstall-Package=kturtle
X-AppInstall-Popcon=510
X-AppInstall-Section=main

Name=KTurtle
GenericName=Educational Programming Environment
Exec=kturtle %i -caption "%c"
Icon=kturtle
X-DocPath=kturtle/index.html
Type=Application
Categories=Qt;KDE;Education;ComputerScience;X-KDE-Edu-Misc;

X-Ubuntu-Gettext-Domain=app-install-data
