[Desktop Entry]
X-AppInstall-Package=kwave
X-AppInstall-Popcon=281
X-AppInstall-Section=universe

Version=1.0
Type=Application
GenericName=Sound Editor
Name=Kwave Sound Editor
Comment=A sound editor for KDE
TryExec=kwave
Exec=kwave %F
Icon=kwave
MimeType=audio/wav;audio/x-wav;audio/basic;audio/x-aifc;audio/x-aiff;audio/x-ircam;application/x-flac;audio/x-flac;audio/x-ogg;application/ogg;audio/x-vorbis+ogg;
Terminal=false
Categories=Qt;KDE;AudioVideo;Audio;Player;Recorder;AudioVideoEditing;
X-DBUS-StartupType=Unique
X-SuSE-translate=true

X-Ubuntu-Gettext-Domain=app-install-data
