# KDE Config File
[Desktop Entry]
X-AppInstall-Package=kwordquiz
X-AppInstall-Popcon=414
X-AppInstall-Section=main

Type=Application
Exec=kwordquiz -caption "%c" %i
Icon=kwordquiz
X-DocPath=kwordquiz/index.html
MimeType=application/x-kvtml;
Comment=A flashcard and vocabulary learning program
Terminal=false
Name=KWordQuiz
GenericName=Flash Card Trainer
Categories=Qt;KDE;Education;Languages;


X-Ubuntu-Gettext-Domain=app-install-data
