[Desktop Entry]
X-AppInstall-Package=laditools
X-AppInstall-Popcon=24
X-AppInstall-Section=universe

Name=LADITray
Type=Application
Comment=JACK and LASH control tray application
Terminal=false
Exec=laditray
Icon=laditray
Categories=GTK;AudioVideo;
GenericName=LADI Trayicon

X-Ubuntu-Gettext-Domain=app-install-data
