[Desktop Entry]
X-AppInstall-Package=laditools
X-AppInstall-Popcon=24
X-AppInstall-Section=universe

Name=Linux Audio Configuration
Type=Application
Comment=JACK and LASH control application configuration
Terminal=false
Exec=ladiconf
Icon=ladiconf
Categories=GTK;Settings
GenericName=LADI Configuration

X-Ubuntu-Gettext-Domain=app-install-data
