[Desktop Entry]
X-AppInstall-Package=latexila
X-AppInstall-Popcon=126
X-AppInstall-Section=universe

Name=LaTeXila
GenericName=Integrated LaTeX Environment
Comment=Edit LaTeX documents
Exec=latexila
Icon=latexila
Terminal=false
Type=Application
Categories=GTK;GNOME;Office;Publishing;
MimeType=text/x-tex;

X-Ubuntu-Gettext-Domain=app-install-data
