[Desktop Entry]
X-AppInstall-Package=lcrt
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Encoding=UTF-8
Name=lcrt
TryExec=lcrt
Exec=lcrt
Icon=lcrt-logo
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=lcrt
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=0.0.1
Categories=GNOME;GTK;Utility;
StartupNotify=true
OnlyShowIn=GNOME;


X-Ubuntu-Gettext-Domain=app-install-data
