[Desktop Entry]
X-AppInstall-Package=libreoffice
X-AppInstall-Popcon=2
X-AppInstall-Section=main

Version=1.0
Terminal=false
Icon=libreoffice34-startcenter
Type=Application
Categories=Office;
Exec=libreoffice %U
MimeType=application/vnd.openofficeorg.extension;
Name=LibreOffice 
GenericName=Office 
Comment=The office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.

X-Ubuntu-Gettext-Domain=app-install-data
