[Desktop Entry]
X-AppInstall-Package=lifeograph
X-AppInstall-Popcon=135
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=Lifeograph
Type=Application
Terminal=false
Exec=lifeograph
GenericName=Diary
Icon=lifeograph
Categories=Utility
Comment=Keep a private journal of your life

X-Ubuntu-Gettext-Domain=app-install-data
