[Desktop Entry]
X-AppInstall-Package=lincity-ng
X-AppInstall-Popcon=488
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=Lincity-NG
GenericName=City Simulation Game
Comment=Plan and Build a city and take care of transport, economics, electricityand others.
Icon=lincity-ng
Exec=lincity-ng
Terminal=false
StartupNotify=false
Categories=Game;Simulation;

X-Ubuntu-Gettext-Domain=app-install-data
