[Desktop Entry]
X-AppInstall-Package=linpsk
X-AppInstall-Popcon=18
X-AppInstall-Section=universe

Name=Linpsk
GenericName=Amateur Radio Digital Modem
Comment=Amateur Radio Sound Card Communications
Exec=linpsk
Icon=linpsk
Terminal=false
Type=Application
Categories=Network;HamRadio;

X-Ubuntu-Gettext-Domain=app-install-data
