[Desktop Entry]
X-AppInstall-Package=linuxdcpp
X-AppInstall-Popcon=549
X-AppInstall-Section=universe

Name=LinuxDC++
GenericName=Direct Connect Client
Comment=A file-sharing client for the Direct Connect network
TryExec=linuxdcpp
Exec=linuxdcpp
Icon=linuxdcpp
Terminal=false
Type=Application
Categories=Network;P2P;FileTransfer;GTK

X-Ubuntu-Gettext-Domain=app-install-data
