[Desktop Entry]
X-AppInstall-Package=ll-scope
X-AppInstall-Popcon=346
X-AppInstall-Section=universe

Name=Oscilloscope
Comment=An oscilloscope DSSI plugin
Exec=jack-dssi-host ll-scope.so
Icon=_usr_lib_dssi_ll-scope_icon
Terminal=false
Type=Application
Categories=GNOME;AudioVideo;Audio;

X-Ubuntu-Gettext-Domain=app-install-data
