[Desktop Entry]
X-AppInstall-Package=llk-linux
X-AppInstall-Popcon=52
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Name=llk_linux
Exec=llk_linux
GenericName=LianLianKan Game
Comment=Gtk based LianLianKan Game.
Icon=llk_linux
Categories=GTK;Game;
Terminal=false

X-Ubuntu-Gettext-Domain=app-install-data
