[Desktop Entry]
X-AppInstall-Package=lmarbles
X-AppInstall-Popcon=16
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=LMarbles
GenericName=Puzzle game
Comment=Build figures out of colored marbles
Icon=lmarbles
Exec=lmarbles
Categories=Game;LogicGame

X-Ubuntu-Gettext-Domain=app-install-data
