[Desktop Entry]
X-AppInstall-Package=lprof
X-AppInstall-Popcon=148
X-AppInstall-Section=universe

Encoding=UTF-8
Name=LProf
GenericName=ICC Profiler
Categories=Graphics;RasterGraphics;
Comment=Hardware ICC Profiler
Exec=lprof
TryExec=lprof
Icon=lprof
MimeType=
Path=
StartupNotify=true
StartupWMClass=lprof
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-StandardInstall=false

X-Ubuntu-Gettext-Domain=app-install-data
