[Desktop Entry]
X-AppInstall-Package=ltris
X-AppInstall-Popcon=92
X-AppInstall-Section=universe

Name=LTris
GenericName=Puzzle game
Comment=Tetris clone
Exec=ltris
Icon=ltris
StartupNotify=true
Terminal=false
Type=Application
Categories=Game;

X-Ubuntu-Gettext-Domain=app-install-data
