[Desktop Entry]
X-AppInstall-Package=luciole
X-AppInstall-Popcon=170
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=Luciole
GenericName=Stopmotion tool
Comment=Image Per Image capture tool for making animation movies.
StartupNotify=true
Exec=luciole
MimeType=video/x-luciole;
Icon=luciole
Terminal=false
Categories=AudioVideo;Video;Graphics;GNOME;Photography;
Encoding=UTF-8

X-Ubuntu-Gettext-Domain=app-install-data
