[Desktop Entry]
X-AppInstall-Package=lusernet.app
X-AppInstall-Popcon=2
X-AppInstall-Section=universe

Name=LuserNET News Reader
Comment=News Reader for GNUstep
Version=1.0
Type=Application
Categories=Network;News;
Icon=_usr_share_GNUstep_LuserNET.app_News.app
Exec=LuserNET

X-Ubuntu-Gettext-Domain=app-install-data
