[Desktop Entry]
X-AppInstall-Package=lyricue
X-AppInstall-Popcon=35
X-AppInstall-Section=universe

Encoding=UTF-8
Version=1.0
Type=Application
Exec=lyricue
TryExec=
Icon=_usr_share_lyricue_lyricue-icon
X-GNOME-DocPath=
Terminal=false
Name=Lyricue
GenericName=
Categories=AudioVideo
Comment=The GNU Lyric Display System

X-Ubuntu-Gettext-Domain=app-install-data
