[Desktop Entry]
X-AppInstall-Package=mail-notification
X-AppInstall-Popcon=2240
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Mail Notification
Icon=mail-notification
Comment=Get notified when new mail arrives
Type=Application
Categories=GNOME;GTK;Network;Email;
Exec=mail-notification --sm-disable
Terminal=false
StartupNotify=true
X-GNOME-DocPath=mail-notification/mail-notification.xml

X-Ubuntu-Gettext-Domain=app-install-data
