[Desktop Entry]
X-AppInstall-Package=mango-lassi
X-AppInstall-Popcon=19
X-AppInstall-Section=universe

Name=Input Device Sharing
Comment=Share mouse and pointer with other Computers
Exec=/usr/bin/mango-lassi
Icon=mango-lassi
Type=Application
Categories=Network;


X-Ubuntu-Gettext-Domain=app-install-data
