[Desktop Entry]
X-AppInstall-Package=matchbox-keyboard
X-AppInstall-Popcon=142
X-AppInstall-Section=universe

Name=Keyboard
Comment=Virtual Keyboard
Exec=matchbox-keyboard
Type=Application
Icon=matchbox-keyboard
Categories=Panel;Utility;MB
X-MB-INPUT-MECHANSIM=True

X-Ubuntu-Gettext-Domain=app-install-data
