[Desktop Entry]
X-AppInstall-Package=mcu8051ide
X-AppInstall-Popcon=15
X-AppInstall-Section=universe

Categories=Development;
Comment=Graphical IDE for MCS-51 based microcontrollers
Encoding=UTF-8
Exec=mcu8051ide
GenericName=MCU 8051 IDE
Icon=mcu8051ide
MimeType=
Name=MCU 8051 IDE
StartupNotify=false
Terminal=false
TryExec=mcu8051ide
Type=Application
Version=1.0
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=

X-Ubuntu-Gettext-Domain=app-install-data
