[Desktop Entry]
X-AppInstall-Package=mdbtools-gmdb
X-AppInstall-Popcon=299
X-AppInstall-Section=main

Name=MDB Viewer
Comment=View and export Microsoft Access databases
Exec=gmdb2
Icon=gmdb2
Terminal=false
Type=Application
Categories=Application;Office;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
