[Desktop Entry]
X-AppInstall-Package=me-tv
X-AppInstall-Popcon=821
X-AppInstall-Section=universe

Version=1.0
Name=Me TV
GenericName=Digital Television Viewer
Comment=A digital television (DVB) viewer for GNOME
Exec=me-tv
X-MultipleArgs=false
Icon=me-tv
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;GTK;TV;
MimeType=video/mpeg;audio/x-mpeg;video/x-mpeg;
X-AppInstall-Package=me-tv
X-AppInstall-Popcon=821
X-AppInstall-Section=universe

X-Ubuntu-Gettext-Domain=app-install-data
