[Desktop Entry]
X-AppInstall-Package=melting-gui
X-AppInstall-Popcon=11
X-AppInstall-Section=universe

Version=1.0
Terminal=false
Icon=tkmelting
Exec=tkmelting
Name=Melting
GenericName="Oligonucleotide analyser"
Comment="Computes the melting temperature for a nucleic acid duplex."
Type=Application
Categories=Biology;Science;Education;

X-Ubuntu-Gettext-Domain=app-install-data
