[Desktop Entry]
X-AppInstall-Package=merkaartor
X-AppInstall-Popcon=176
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=Merkaartor
GenericName=OpenStreetMap Editor
Icon=merkaartor
Exec=merkaartor
Terminal=false
StartupNotify=false
Categories=Geography;Network;Qt;


X-Ubuntu-Gettext-Domain=app-install-data
