[Desktop Entry]
X-AppInstall-Package=mhwaveedit
X-AppInstall-Popcon=111
X-AppInstall-Section=universe

Type=Application
Name=mhWaveEdit
GenericName=Sound file editor
Comment=Record, play, edit and convert sound files
Icon=mhwaveedit
Exec=mhwaveedit
Terminal=false
Categories=AudioVideo;Audio;AudioVideoEditing;Recorder;

X-Ubuntu-Gettext-Domain=app-install-data
