[Desktop Entry]
X-AppInstall-Package=minitube
X-AppInstall-Popcon=1018
X-AppInstall-Section=universe

Name=Minitube
Comment=Watch YouTube videos
GenericName=YouTube client
Exec=minitube
Terminal=false
Type=Application
Icon=minitube
Categories=Application;Qt;AudioVideo;Video;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
