[Desktop Entry]
X-AppInstall-Package=mit-scheme
X-AppInstall-Popcon=64
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=MIT/GNU Scheme
Exec=/usr/bin/mit-scheme-i386 --edit
TryExec=mit-scheme-i386
Terminal=false
Type=Application
Icon=_usr_share_pixmaps_mit-scheme_lambda2
Categories=Development;IDE;TextEditor

X-Ubuntu-Gettext-Domain=app-install-data
