[Desktop Entry]
X-AppInstall-Package=mkvtoolnix-gui
X-AppInstall-Popcon=728
X-AppInstall-Section=universe

Type=Application
Name=mkvmerge GUI
GenericName=MKV files creator
Icon=mkvmergeGUI
Exec=mmg
Terminal=false
MimeType=application/x-mmg-settings;video/x-matroska;audio/x-matroska;
Categories=GNOME;AudioVideo;AudioVideoEditing;
InitialPreference=-5

X-Ubuntu-Gettext-Domain=app-install-data
