[Desktop Entry]
X-AppInstall-Package=mokomaze
X-AppInstall-Popcon=14
X-AppInstall-Section=universe

Name=Mokomaze
Comment=Ball-in-the-labyrinth game
Encoding=UTF-8
Version=0.5
Type=Application
Exec=/usr/games/mokomaze
Terminal=false
Categories=Game;
X-MB-SingleInstance=true
Icon=mokomaze

X-Ubuntu-Gettext-Domain=app-install-data
