[Desktop Entry]
X-AppInstall-Package=mono-runtime
X-AppInstall-Popcon=104045
X-AppInstall-Section=main

Name=Mono Runtime (Terminal)
Exec=mono
Terminal=true
Type=Application
Icon=mono-runtime
MimeType=application/x-ms-dos-executable;
NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
