[Desktop Entry]
X-AppInstall-Package=moserial
X-AppInstall-Popcon=70
X-AppInstall-Section=universe

Name=moserial Terminal
GenericName=Serial Terminal
Comment=A serial terminal optimized for logging and file capture
Categories=GTK;Utility;FileTransfer;TerminalEmulator
Exec=moserial %U
Icon=moserial
MimeType=
StartupNotify=true
Terminal=false
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
