[Desktop Entry]
X-AppInstall-Package=mplinuxman
X-AppInstall-Popcon=18
X-AppInstall-Section=universe

Type=Application
Version=1.4
Name=MpMan Manager
Exec=mplinuxman
Terminal=false
Categories=AudioVideo;
Icon=mplinuxman

X-Ubuntu-Gettext-Domain=app-install-data
