[Desktop Entry]
X-AppInstall-Package=mtink
X-AppInstall-Popcon=211
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Type=Application
Name=Mtink
GenericName=Status monitor for printer
Comment=Status monitor for Epson inkjet printers
TryExec=mtink
Exec=mtink
Categories=Motif;Utility;HardwareSettings;Monitor;

X-Ubuntu-Gettext-Domain=app-install-data
