[Desktop Entry]
X-AppInstall-Package=mtpaint
X-AppInstall-Popcon=613
X-AppInstall-Section=universe

Version=1.0
Name=mtPaint graphic editor
GenericName=Painting program
Comment=painting program to create pixel art and manipulate digital photos
Type=Application
Exec=mtpaint
Icon=mtpaint
Categories=Graphics;RasterGraphics;

X-Ubuntu-Gettext-Domain=app-install-data
