[Desktop Entry]
X-AppInstall-Package=mutt
X-AppInstall-Popcon=2570
X-AppInstall-Section=main

Categories=Office;Network;Email
Comment=Simple text-based Mail User Agent
Exec=mutt
Icon=mutt
Name=mutt
MimeType=x-scheme-handler/mailto
NoDisplay=true
Terminal=true
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
