[Desktop Entry]
X-AppInstall-Package=mysql-server
X-AppInstall-Popcon=109
X-AppInstall-Section=main

Version=1.0
Name=MySQL Server
Type=Application
Terminal=false
Categories=Database;Utility;
X-Ubuntu-Gettext-Domain=app-install-data
