[Desktop Entry]
X-AppInstall-Package=nautilus-pastebin
X-AppInstall-Popcon=486
X-AppInstall-Section=universe

Name=Nautilus Pastebin Configurator
Type=Application
GenericName=Nautilus Pastebin configuration panel
Icon=nautilus-pastebin
Categories=Settings;

Exec=nautilus-pastebin-configurator

X-Ubuntu-Gettext-Domain=app-install-data
