[Desktop Entry]
X-AppInstall-Package=ndisgtk
X-AppInstall-Popcon=553
X-AppInstall-Section=main

Name=Windows Wireless Drivers
Comment=Ndiswrapper driver installation tool
Exec=gksu /usr/sbin/ndisgtk
NotShowIn=KDE;
Icon=ndisgtk
Terminal=false
Type=Application
Categories=System;Settings;



X-Ubuntu-Gettext-Domain=app-install-data
