[Desktop Entry]
X-AppInstall-Package=netapplet
X-AppInstall-Popcon=1144
X-AppInstall-Section=universe

Name=Network Selector
Comment=Network Selector Panel Applet
Exec=netapplet
Icon=netapplet
Terminal=false
Type=Application
TryExec=netapplet
Categories=GNOME;Application;Network;X-Ximian-Main;
StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
