[Desktop Entry]
X-AppInstall-Package=nethack-qt
X-AppInstall-Popcon=71
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=Qt NetHack
GenericName=NetHack (Qt interface)
Comment=
Icon=nethack
Exec=/usr/games/nethack-qt
Terminal=false
Categories=Application;Game;AdventureGame;

X-Ubuntu-Gettext-Domain=app-install-data
