[Desktop Entry]
X-AppInstall-Package=neverball
X-AppInstall-Popcon=382
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Neverball
Comment=A 3D arcade game with a ball
Icon=neverball
Exec=neverball
Terminal=false
Categories=Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
