[Desktop Entry]
X-AppInstall-Package=nikwi
X-AppInstall-Popcon=46
X-AppInstall-Section=universe

Type=Application
Name=Nikwi Deluxe
GenericName=nikwi
Comment=Platform game where your goal is to collect candies
Icon=nikwi
Exec=nikwi
Terminal=false
Categories=Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
