[Desktop Entry]
X-AppInstall-Package=njam
X-AppInstall-Popcon=55
X-AppInstall-Section=universe

Name=Njam
Comment=pacman-like game with multiplayer support
TryExec=njam
Exec=njam
Icon=njamicon
Terminal=false
Type=Application
Categories=Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
