[Desktop Entry]
X-AppInstall-Package=njplot
X-AppInstall-Popcon=91
X-AppInstall-Section=universe

Version=1.0
Terminal=false
Icon=njplot
Exec=njplot %f
Name=NJplot
GenericName=Tree Plotter
Comment=Displays, modifies and exports in PostScript format phylogenetic trees
Type=Application
Categories=Biology;Science;Education;
MimeType=text/x-clustalw-tree;chemical/njplot;

X-Ubuntu-Gettext-Domain=app-install-data
