[Desktop Entry]
X-AppInstall-Package=notification-daemon
X-AppInstall-Popcon=26752
X-AppInstall-Section=main

Name=Notification Daemon
Comment=Display notifications
Exec=/usr/lib/notification-daemon/notification-daemon
Terminal=false
Type=Application
NoDisplay=true


X-Ubuntu-Gettext-Domain=app-install-data
