[Desktop Entry]
X-AppInstall-Package=nuapplet
X-AppInstall-Popcon=5
X-AppInstall-Section=universe

Version=2.0
Encoding=UTF-8
Type=Application
Name=NuApplet
GenericName=NuFW Client
Comment=QT NuFW Client
Icon=nuapplet2-running

Exec=nuapplet2
Terminal=false
StartupNotify=false

Categories=Network;


X-Ubuntu-Gettext-Domain=app-install-data
