[Desktop Entry]
X-AppInstall-Package=oolite
X-AppInstall-Popcon=144
X-AppInstall-Section=universe

Name=Oolite
Comment=An OpenGL Elite-like space game
Exec=oolite
Icon=oolite-icon
Terminal=false
Type=Application
Categories=Game;Simulation;

X-Ubuntu-Gettext-Domain=app-install-data
