[Desktop Entry]
X-AppInstall-Package=open-invaders
X-AppInstall-Popcon=67
X-AppInstall-Section=universe

Type=Application
Name=Open Invaders
GenericName=Space Invaders clone
Comment=Play a Space Invaders clone
Icon=open-invaders
Exec=open-invaders -w
Terminal=false
Categories=Game;ActionGame;

X-Ubuntu-Gettext-Domain=app-install-data
