[Desktop Entry]
X-AppInstall-Package=openrocket
X-AppInstall-Popcon=15
X-AppInstall-Section=universe

Type=Application
Name=OpenRocket
GenericName=Rocket Design and Simulation
Comment=Design and simulate model rockets
Icon=_usr_share_pixmaps_openrocket
Exec=/usr/bin/openrocket %f
Terminal=false
MimeType=text/plain;
Categories=Development;Science;

X-Ubuntu-Gettext-Domain=app-install-data
