[Desktop Entry]
X-AppInstall-Package=openjdk-7-jre
X-AppInstall-Popcon=116
X-AppInstall-Section=universe

Name=OpenJDK Java 7 Runtime
Comment=OpenJDK Java 7 Runtime
Exec=cautious-launcher %f /usr/lib/jvm/java-7-openjdk-i386/bin/java -jar
Terminal=false
Type=Application
Icon=openjdk-7
MimeType=application/x-java-archive;application/java-archive;application/x-jar;
NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
