[Desktop Entry]
X-AppInstall-Package=opencity
X-AppInstall-Popcon=88
X-AppInstall-Section=universe

Name=OpenCity
Comment=a 3D city simulator game
Exec=opencity
Icon=opencity
Terminal=false
Type=Application
Categories=Game;StrategyGame;
GenericName=City simulator
X-Ubuntu-Gettext-Domain=app-install-data
