[Desktop Entry]
X-AppInstall-Package=openfetion
X-AppInstall-Popcon=77
X-AppInstall-Section=universe

Icon=fetion
Name=OpenFetion
Comment=Fetion For Linux
Exec=openfetion
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;

X-Ubuntu-Gettext-Domain=app-install-data
