[Desktop Entry]
X-AppInstall-Package=orage
X-AppInstall-Popcon=1944
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=Orage Globaltime
Comment=Show clocks from different countries
Exec=globaltime
Icon=xfce4-clock
StartupNotify=true
Terminal=false
Type=Application
Categories=X-XFCE;Office;Clock;GTK;Application;Utility;
GenericName=Globaltime

X-Ubuntu-Gettext-Domain=app-install-data
