[Desktop Entry]
X-AppInstall-Package=overgod
X-AppInstall-Popcon=24
X-AppInstall-Section=universe

Name=Overgod
Comment=Play a bi-directional scrolling arcade game
Exec=overgod
Icon=overgod
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
