[Desktop Entry]
X-AppInstall-Package=paman
X-AppInstall-Popcon=1341
X-AppInstall-Section=universe

Encoding=UTF-8
Name=PulseAudio Manager
Comment=Manage your PulseAudio sound server
Exec=paman
Icon=audio-card
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;
NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
