# Forwarded to http://sf.net/support/tracker.php?aid=2672143
[Desktop Entry]
X-AppInstall-Package=passage
X-AppInstall-Popcon=11
X-AppInstall-Section=universe

Type=Application
Name=Passage
GenericName=Life game
Comment=game about the passage through life
Icon=passage
Exec=passage
Terminal=false
Categories=Game;AdventureGame;

X-Ubuntu-Gettext-Domain=app-install-data
