[Desktop Entry]
X-AppInstall-Package=paw++
X-AppInstall-Popcon=65
X-AppInstall-Section=universe

Version=1.0
Name=Paw++ (Physics Analysis Workstation)
GenericName=Experimental Data Analysis
Comment=Analyze and graphically present experimental data
Type=Application
Exec=paw++
Icon=paw
Categories=Physics;Science;Graphics;

X-Ubuntu-Gettext-Domain=app-install-data
