[Desktop Entry]
X-AppInstall-Package=pdfshuffler
X-AppInstall-Popcon=1070
X-AppInstall-Section=universe

Version=1.0
Name=PDF-Shuffler
Comment=PDF Merging, Rearranging, Splitting, Rotating and Cropping
Type=Application
Exec=pdfshuffler
Icon=pdfshuffler
Categories=Office;
Terminal=false
StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
