[Desktop Entry]
X-AppInstall-Package=pencil
X-AppInstall-Popcon=481
X-AppInstall-Section=universe

Name=Pencil
Comment=Draw cartoons
Version=1.0
Type=Application
Categories=Graphics;VectorGraphics;
MimeType=text/plain;
TryExec=pencil
Exec=pencil %F
Terminal=false
StartupNotify=true
Icon=pencil



X-Ubuntu-Gettext-Domain=app-install-data
