[Desktop Entry]
X-AppInstall-Package=penguintv
X-AppInstall-Popcon=43
X-AppInstall-Section=universe

Name=PenguinTV Media Aggregator
Comment=Aggregates rss feeds, podcasts, and video blogs
TryExec=PenguinTV
Exec=PenguinTV %U
Terminal=false
Type=Application
Categories=Application;Network;
Icon=penguintvicon

X-Ubuntu-Gettext-Domain=app-install-data
