[Desktop Entry]
X-AppInstall-Package=perroquet
X-AppInstall-Popcon=6
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Perroquet
Comment=Oral comprehension teacher
Exec=perroquet
Icon=perroquet
MimeType=application/x-perroquet;
Terminal=false
Type=Application
Categories=Application;Education;


X-Ubuntu-Gettext-Domain=app-install-data
