[Desktop Entry]
X-AppInstall-Package=pida
X-AppInstall-Popcon=68
X-AppInstall-Section=universe

Version=1.0
Type=Application
Encoding=UTF-8
Name=PIDA
Comment=Python Integrated Development Application
Icon=pida-icon
TryExec=pida
Exec=pida %F
MimeType=text/plain
Categories=Development;IDE;GTK;

X-Ubuntu-Gettext-Domain=app-install-data
