[Desktop Entry]
X-AppInstall-Package=pinball
X-AppInstall-Popcon=353
X-AppInstall-Section=universe

Categories=Game;ArcadeGame;X-Red-Hat-Extra;
X-Desktop-File-Install-Version=0.2
Name=Emilia Pinball
Comment=OpenGL pinball game
Exec=pinball
Icon=pinball
Terminal=false
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
