[Desktop Entry]
X-AppInstall-Package=pingus
X-AppInstall-Popcon=542
X-AppInstall-Section=universe

Name=Pingus
GenericName=Free Lemmings(TM) clone
Comment=Guide a horde of penguins through various obstacles
Exec=pingus
Icon=pingus
Terminal=false
Type=Application
Categories=Game;StrategyGame;

X-Ubuntu-Gettext-Domain=app-install-data
