[Desktop Entry]
X-AppInstall-Package=pithos
X-AppInstall-Popcon=297
X-AppInstall-Section=universe

Name=Pithos
Comment=Play music from Pandora Radio
Categories=GNOME;AudioVideo;
Exec=pithos
Icon=pithos
Terminal=false
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
