[Desktop Entry]
X-AppInstall-Package=planets
X-AppInstall-Popcon=143
X-AppInstall-Section=universe

Name=Planets
Comment=A simple interactive program for playing with simulations of planetary systems
Exec=planets
Icon=planets
Terminal=false
Type=Application
Categories=Application;Education;Science;Astronomy;Physics;

X-Ubuntu-Gettext-Domain=app-install-data
