[Desktop Entry]
X-AppInstall-Package=playonlinux
X-AppInstall-Popcon=2476
X-AppInstall-Section=multiverse

Version=1.0
Name=PlayOnLinux
GenericName=Game
Comment=PlayOnLinux
Type=Application
Exec=playonlinux
Icon=playonlinux
Categories=Game;

X-Ubuntu-Gettext-Domain=app-install-data
