[Desktop Entry]
X-AppInstall-Package=plee-the-bear
X-AppInstall-Popcon=40
X-AppInstall-Section=universe

Version=1.0

Name=Plee the Bear

Comment=Catch your son, he ate all the honey then ran away

TryExec=plee-the-bear
Exec=plee-the-bear
Terminal=false
Icon=ptb

StartupNotify=true
Type=Application
Categories=Game;ArcadeGame;

GenericName=A 2D platform game


X-Ubuntu-Gettext-Domain=app-install-data
