[Desktop Entry]
X-AppInstall-Package=posterazor
X-AppInstall-Popcon=101
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=PosteRazor
Comment=Cuts a raster image into multipage PDF documents
TryExec=PosteRazor
Exec=PosteRazor %f
Terminal=false
Icon=PosteRazor
Categories=Graphics;

X-Ubuntu-Gettext-Domain=app-install-data
