[Desktop Entry]
X-AppInstall-Package=pptview
X-AppInstall-Popcon=1648
X-AppInstall-Section=multiverse

Encoding=UTF-8
Categories=Application;Office
Comment=View PowerPoint presentations
Exec=pptview %f
Icon=ppt
MimeType=application/mspowerpoint;application/vnd.ms-powerpoint
Name=PowerPoint Viewer
StartupNotify=false
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
