[Desktop Entry]
X-AppInstall-Package=pq
X-AppInstall-Popcon=499
X-AppInstall-Section=multiverse

Version=1.0
Name=Progress Quest
Comment=Watch your fantasy character advance
Exec=/usr/games/pq
Icon=pq
Terminal=false
Type=Application
Categories=Game;RolePlaying;Amusement;
StartupNotify=true
MimeType=application/x-progress-quest-save;

X-Ubuntu-Gettext-Domain=app-install-data
