[Desktop Entry]
X-AppInstall-Package=prelude-notify
X-AppInstall-Popcon=10
X-AppInstall-Section=universe

Name=prelude-notify
Comment=Graphical notification applet for prelude
TryExec=prelude-notify
Exec=prelude-notify         
Icon=utilities-system-monitor
Terminal=false
Type=Application
StartupNotify=true
Categories=System;Security;

X-Ubuntu-Gettext-Domain=app-install-data
