[Desktop Entry]
X-AppInstall-Package=preview.app
X-AppInstall-Popcon=175
X-AppInstall-Section=universe

Type=Application
Version=1.0
Categories=Graphics;Viewer;
Name=Preview
Comment=Image viewer
Icon=_usr_lib_GNUstep_Applications_Preview.app_Resources_Preview
Exec=Preview

X-Ubuntu-Gettext-Domain=app-install-data
