[Desktop Entry]
X-AppInstall-Package=psi
X-AppInstall-Popcon=283
X-AppInstall-Section=universe

# This is the spec version, *not* the application version
Version=1.0
Type=Application
Name=Psi
GenericName=Jabber Client
Comment=Communicate over the Jabber network
Icon=psi
Exec=psi
Terminal=false
Categories=Network;InstantMessaging;Qt;

# Translations

X-Ubuntu-Gettext-Domain=app-install-data
