[Desktop Entry]
X-AppInstall-Package=purrr
X-AppInstall-Popcon=97
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Purrr
Comment=A Mass-renamer for files
Exec=purrr -s
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=purrr
Categories=GNOME;GTK;Utility

X-Ubuntu-Gettext-Domain=app-install-data
