[Desktop Entry]
X-AppInstall-Package=pybackpack
X-AppInstall-Popcon=193
X-AppInstall-Section=universe

Name=File Backup Manager
Comment=Back up important files
Categories=Application;System;Settings
Exec=pybackpack %F
Icon=file-roller
StartupNotify=true
Terminal=false
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
