[Desktop Entry]
X-AppInstall-Package=pykaraoke-bin
X-AppInstall-Popcon=75
X-AppInstall-Section=universe

Type=Application
Name=PyKaraoke Mini
GenericName=Karaoke player
Comment=Minimum-interface PyKaraoke
Icon=_usr_share_pykaraoke_icons_pykaraoke
Exec=pykaraoke_mini
Terminal=false
MimeType=audio/x-karaoke;audio/x-midi;audio/midi;
Categories=AudioVideo;Player;

X-Ubuntu-Gettext-Domain=app-install-data
