[Desktop Entry]
X-AppInstall-Package=pynagram
X-AppInstall-Popcon=22
X-AppInstall-Section=universe

Type=Application
Name=Pynagram
GenericName=Anagram game
Comment=Unjumble letters
Exec=pynagram
Icon=pynagram
Terminal=false
Categories=Qt;Game;LogicGame;

X-Ubuntu-Gettext-Domain=app-install-data
