[Desktop Entry]
X-AppInstall-Package=pyntor
X-AppInstall-Popcon=18
X-AppInstall-Section=universe

Name=Pyntor
Comment=Viewer for presentation slides
Exec=pyntor %f
Icon=pyntor
Terminal=false
Type=Application
MimeType=application/x-pyntor;
#FilePattern=pyntor
Categories=Office;

X-Ubuntu-Gettext-Domain=app-install-data
