[Desktop Entry]
X-AppInstall-Package=pypar2
X-AppInstall-Popcon=81
X-AppInstall-Section=universe

Name=PyPar2
Comment=A graphical frontend for the par2 utility
Encoding=UTF-8
Exec=pypar2
MimeType=application/x-executable
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Application
Icon=pypar2


X-Ubuntu-Gettext-Domain=app-install-data
