[Desktop Entry]
X-AppInstall-Package=pyragua
X-AppInstall-Popcon=24
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=Pyragua
Comment=A fast and lightweight IDE using wxPython
Exec=pyragua %F
Icon=pyragua
Categories=Development;IDE;
Terminal=false
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
