[Desktop Entry]
X-AppInstall-Package=python-lunch
X-AppInstall-Popcon=1
X-AppInstall-Section=universe

Exec=lunch -g -q
Type=Application
Terminal=false
Categories=System;RemoteAccess;Network;
Name=Lunch
Comment=Distributed Process Launcher
Icon=lunch

X-Ubuntu-Gettext-Domain=app-install-data
