[Desktop Entry]
X-AppInstall-Package=python-guiqwt
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Sift
GenericName=Sift
Comment=Signal and Image Filtering Tool (demo software based on guidata and guiqwt)
TryExec=sift
Exec=sift
MimeType=application/x-foo;
Categories=Development;Science;Physics;
X-Ubuntu-Gettext-Domain=app-install-data
