[Desktop Entry]
X-AppInstall-Package=q4wine
X-AppInstall-Popcon=958
X-AppInstall-Section=universe

Categories=Qt;System;Emulator;
Comment=Qt4 utility for Wine applications and prefixes management.
GenericName=Qt4 utility for Wine applications and prefixes management.
Exec=q4wine -b %u
Icon=q4wine
Name=Q4Wine
Path=
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/x-ms-dos-executable;

X-Ubuntu-Gettext-Domain=app-install-data
