[Desktop Entry]
X-AppInstall-Package=qarecord
X-AppInstall-Popcon=89
X-AppInstall-Section=universe

Name=QARecord
Comment=Simple but solid audio recording tool
Exec=qarecord
Icon=_usr_share_pixmaps_qarecord_48
Terminal=false
Type=Application
Categories=Application;AudioVideo;Audio

X-Ubuntu-Gettext-Domain=app-install-data
