[Desktop Entry]
X-AppInstall-Package=qelectrotech
X-AppInstall-Popcon=135
X-AppInstall-Section=universe

Version=1.0
#Encoding=UTF-8
Name=QElectroTech
Exec=qelectrotech
Icon=qelectrotech
Terminal=false
Type=Application
MimeType=application/x-qet-project;application/x-qet-element;
Categories=Graphics;Qt;VectorGraphics;Science;Electricity;Engineering;
Comment=An electric diagrams editor.
GenericName=Electric diagrams editor

X-Ubuntu-Gettext-Domain=app-install-data
