[Desktop Entry]
X-AppInstall-Package=qgo
X-AppInstall-Popcon=471
X-AppInstall-Section=universe

Encoding=UTF-8
Comment=qgo
Exec=qgo
Icon=_usr_share_qGo_pics_Bowl
MimeType=text/sgf
Name=qgo
GenericName=Go
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;BoardGame;
X-KDE-StartupNotify=true
X-Ubuntu-Gettext-Domain=app-install-data
