[Desktop Entry]
X-AppInstall-Package=qlandkartegt
X-AppInstall-Popcon=262
X-AppInstall-Section=universe

Version=1.0
Name=QLandkarteGT
Exec=qlandkartegt
Icon=qlandkartegt
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=Qt;Utility;Geography;
GenericName=GPS device mapping utility

X-Ubuntu-Gettext-Domain=app-install-data
