[Desktop Entry]
X-AppInstall-Package=qlix
X-AppInstall-Popcon=37
X-AppInstall-Section=universe

Name=Qlix
Comment=Manage tracks, files, and playlists between a host computer and an MTP device
Exec=qlix
Terminal=false
Type=Application
Icon=qlix
Categories=Qt;Utility;AudioVideo;
GenericName=MTP Device Manager

X-Ubuntu-Gettext-Domain=app-install-data
