[Desktop Entry]
X-AppInstall-Package=qmidiarp
X-AppInstall-Popcon=22
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Categories=AudioVideo;X-Sound;Midi;Audio;AudioVideoEditing;X-Jack;X-Midi;
Name=QMidiArp
GenericName=Arpeggiator-Sequencer-LFO
Comment=Arpeggiator-Sequencer-LFO
Icon=qmidiarp
MimeType=application/qma;application/qmax;
Exec=qmidiarp
TryExec=qmidiarp
Terminal=false
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
