[Desktop Entry]
X-AppInstall-Package=qmidiroute
X-AppInstall-Popcon=30
X-AppInstall-Section=universe

Type=Application
Exec=qmidiroute
#Icon=qmidiroute
Name=QMidiRoute
Comment=MIDI router and filter utility
Terminal=false
Categories=AudioVideo;Audio;

X-Ubuntu-Gettext-Domain=app-install-data
