[Desktop Entry]
X-AppInstall-Package=qmidinet
X-AppInstall-Popcon=8
X-AppInstall-Section=universe

Name=QmidiNet
Version=1.0
GenericName=MIDI Network
Comment=QmidiNet is a MIDI Network Gateway via UDP/IP Multicast
Exec=/usr/bin/qmidinet
Icon=qmidinet
Categories=Audio;AudioVideo;Midi;X-Alsa;X-Jack;Qt;
Terminal=false
Type=Application
X-SuSE-translate=true

X-Ubuntu-Gettext-Domain=app-install-data
