[Desktop Entry]
X-AppInstall-Package=qtm
X-AppInstall-Popcon=12
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=QTM
GenericName=Blog editor
Comment=Weblog management application
TryExec=/usr/bin/qtm
Exec=/usr/bin/qtm
Categories=Application;Network;X-MandrivaLinux-Internet-Other;
Icon=_usr_share_icons_qtm-logo1
# MimeType=image/x-foo;
# X-KDE-Library=libfooview
# X-KDE-FactoryName=fooviewfactory
# X-KDE-ServiceType=FooService

X-Ubuntu-Gettext-Domain=app-install-data
