[Desktop Entry]
X-AppInstall-Package=qtsmbstatus-client
X-AppInstall-Popcon=37
X-AppInstall-Section=universe

Name=QtSmbstatus Client
Comment=QtSmbstatus is a GUI (graphical user interface) for smbstatus
Exec=qtsmbstatus
Terminal=false
Type=Application
Icon=qtsmbstatus
Categories=Qt;Network;Utility;
StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
