[Desktop Entry]
X-AppInstall-Package=quassel-client-qt4
X-AppInstall-Popcon=15
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=Quassel IRC (Client only)
GenericName=IRC Client
Comment=Distributed IRC client with central core component
Icon=quassel
TryExec=quasselclient
Exec=quasselclient
Categories=Qt;Network;Chat;IRCClient;

X-Ubuntu-Gettext-Domain=app-install-data
