[Desktop Entry]
X-AppInstall-Package=quicksynergy
X-AppInstall-Popcon=556
X-AppInstall-Section=universe

Name=QuickSynergy
Comment=A graphical interface for easily configuring Synergy
Exec=quicksynergy
Icon=quicksynergy
Terminal=false
Type=Application
Categories=GTK;Utility;

X-Ubuntu-Gettext-Domain=app-install-data
