[Desktop Entry]
X-AppInstall-Package=quodlibet
X-AppInstall-Popcon=294
X-AppInstall-Section=universe

Name=Quod Libet
GenericName=Music Player
Comment=Listen to, browse, or edit your audio collection
Exec=quodlibet
Terminal=false
Type=Application
Icon=quodlibet
Categories=AudioVideo;Audio;Player;GTK;

X-Ubuntu-Gettext-Domain=app-install-data
