[Desktop Entry]
X-AppInstall-Package=qweborf
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=qweborf
GenericName=qweborf
Comment=Shares files using the HTTP protocol
Exec=qweborf
Icon=network-wired
Terminal=0
Type=Application
Categories=Network;

X-Ubuntu-Gettext-Domain=app-install-data
