[Desktop Entry]
X-AppInstall-Package=r-cran-rcmdr
X-AppInstall-Popcon=1083
X-AppInstall-Section=universe

Categories=Education;Science;Math;
Comment=Graphical interface to the R environment for statistical computing 
Exec=sh -c 'R_DEFAULT_PACKAGES="$R_DEFAULT_PACKAGES Rcmdr" R "$@"'
Icon=_usr_lib_R_site-library_Rcmdr_etc_linux_Rcmdr
Name=R Commander
Terminal=true
Type=Application
X-KDE-SubstituteUID=false

X-Ubuntu-Gettext-Domain=app-install-data
