[Desktop Entry]
X-AppInstall-Package=rekonq
X-AppInstall-Popcon=2395
X-AppInstall-Section=main

Name=rekonq
GenericName=Web Browser
Icon=rekonq
Type=Application
Exec=rekonq %u
X-DocPath=rekonq/index.html
Categories=Qt;KDE;Network;WebBrowser;
Terminal=false
MimeType=text/html;application/xhtml+xml;application/xml;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.rekonq
InitialPreference=10

X-Ubuntu-Gettext-Domain=app-install-data
