[Desktop Entry]
X-AppInstall-Package=resapplet
X-AppInstall-Popcon=179
X-AppInstall-Section=universe

Name=Resolution Switcher
Comment=Change your screen resolution
Exec=resapplet
Icon=resapplet
Terminal=false
Type=Application
TryExec=resapplet
Categories=GTK;GNOME;Application;Core;Utility;
StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
