[Desktop Entry]
X-AppInstall-Package=rfdump
X-AppInstall-Popcon=31
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Type=Application
Name=RFDump
GenericName=RFID tool
Comment=Tool to directly interoperate with an RFID reader
Icon=_usr_share_pixmaps_rfdump

Exec=rfdump
Terminal=false
StartupNotify=false

Categories=Utility;Electronics


X-Ubuntu-Gettext-Domain=app-install-data
