[Desktop Entry]
X-AppInstall-Package=ri-li
X-AppInstall-Popcon=387
X-AppInstall-Section=universe

Name=Ri-li
Comment=a toy simulator game
Exec=ri-li
Icon=ri-li
Terminal=false
Type=Application
Categories=Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
