[Desktop Entry]
X-AppInstall-Package=rosegarden
X-AppInstall-Popcon=455
X-AppInstall-Section=universe

Encoding=UTF-8
Type=Application
Categories=AudioVideo;Audio;Midi;Sequencer;X-SuSE-Sequencer;X-Red-Hat-Base;
Exec=rosegarden %f
MimeType=audio/x-rosegarden-composition;audio/x-rosegarden-device;audio/x-rosegarden-project;audio/x-rosegarden-template;audio/midi;
X-KDE-NativeMimeType=audio/x-rosegarden-composition
Icon=rosegarden
Comment=MIDI and Audio Sequencer and Notation Editor
Terminal=false
Name=Rosegarden

X-Ubuntu-Gettext-Domain=app-install-data
