[Desktop Entry]
X-AppInstall-Package=roxterm
X-AppInstall-Popcon=127
X-AppInstall-Section=universe

Name=ROXTerm
GenericName=Terminal
Comment=Use the command line
TryExec=roxterm
Exec=roxterm
Icon=roxterm
Type=Application
Categories=GTK;Utility;TerminalEmulator;

X-Ubuntu-Gettext-Domain=app-install-data
