[Desktop Entry]
X-AppInstall-Package=rubrica
X-AppInstall-Popcon=56
X-AppInstall-Section=universe

Name=Rubrica Addressbook
Name=Rubrica Addressbook
Comment=Manage contacts and addresses
Comment=Manage contacts and addresses
MimeType=application/x-rubrica
Patterns=*.rub;*.RUB;
Exec=rubrica2
Icon=stock_addressbook
Terminal=false
Type=Application
Categories=GNOME;Application;Office;
StartupNotify=true
Encoding=UTF-8



X-Ubuntu-Gettext-Domain=app-install-data
