[Desktop Entry]
X-AppInstall-Package=sagcad
X-AppInstall-Popcon=179
X-AppInstall-Section=universe

Type=Application
Name=SagCAD
GenericName=CAD/CAM system
Comment=Draw and create
Categories=GTK;Graphics;
Exec=sagcad
Icon=sagcad
StartupNotify=true
Terminal=false

X-Ubuntu-Gettext-Domain=app-install-data
