[Desktop Entry]
X-AppInstall-Package=sauerbraten
X-AppInstall-Popcon=307
X-AppInstall-Section=multiverse

Name=Sauerbraten
Comment=A networked, fast-paced 3D first-person shooter
Exec=/usr/games/sauerbraten
Icon=sauerbraten
Terminal=false
Type=Application
Categories=Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
