[Desktop Entry]
X-AppInstall-Package=scantailor
X-AppInstall-Popcon=191
X-AppInstall-Section=universe

Type=Application
Name=Scan Tailor
Comment=Interactive post-processing tool for scanned pages
Icon=scantailor
TryExec=scantailor
Exec=scantailor %f
Terminal=false
MimeType=application/x-scantailor;
Categories=Graphics;2DGraphics;RasterGraphics;Scanning;ImageProcessing;Qt;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
