[Desktop Entry]
X-AppInstall-Package=scim
X-AppInstall-Popcon=22481
X-AppInstall-Section=universe

Name=SCIM Input Method Setup
Comment=Setup utility for Smart Common Input Method platform
Exec=scim-setup
Icon=scim-setup
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;

X-Ubuntu-Gettext-Domain=app-install-data
