[Desktop Entry]
X-AppInstall-Package=scite
X-AppInstall-Popcon=777
X-AppInstall-Section=universe

Encoding=UTF-8
Name=SciTE Text Editor
Comment=Programming editor
Exec=scite %F
Terminal=false
Type=Application
Icon=_usr_share_pixmaps_Sci48M
Categories=Application;Development;

X-Ubuntu-Gettext-Domain=app-install-data
