[Desktop Entry]
X-AppInstall-Package=screenie-qt
X-AppInstall-Popcon=36
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=Screenie
GenericName=Screenshot Composer
Exec=screenie-qt
TryExec=screenie-qt
Categories=Qt;Graphics;

X-Ubuntu-Gettext-Domain=app-install-data
