[Desktop Entry]
X-AppInstall-Package=seamonkey-browser
X-AppInstall-Popcon=5790
X-AppInstall-Section=universe

Name=Seamonkey
GenericName=Internet Suite
Exec=seamonkey %u
Terminal=false
Type=Application
Categories=GTK;Network;
Icon=seamonkey

X-Ubuntu-Gettext-Domain=app-install-data
