[Desktop Entry]
X-AppInstall-Package=searchmonkey
X-AppInstall-Popcon=80
X-AppInstall-Section=universe

Name=Searchmonkey
Comment=Regular expression power search utilty
Exec=searchmonkey
Icon=_usr_share_pixmaps_searchmonkey_searchmonkey-32x32
Type=Application
StartupNotify=false
Terminal=false
Categories=TextTools;Utility

X-Ubuntu-Gettext-Domain=app-install-data
