[Desktop Entry]
X-AppInstall-Package=series60-remote
X-AppInstall-Popcon=72
X-AppInstall-Section=multiverse

Name=Series60-Remote
Type=Application
Exec=series60-remote
Icon=phone
Comment=Application to manage your S60 mobile phone
MimeType=
Categories=Network;Office;

X-Ubuntu-Gettext-Domain=app-install-data
