[Desktop Entry]
X-AppInstall-Package=sgt-puzzles
X-AppInstall-Popcon=1150
X-AppInstall-Section=universe

Version=1.0
Terminal=false
Exec=slant
Icon=slant
Type=Application
Categories=Game;LogicGame;
Name=Slant
Comment=Draw a diagonal line and choose which way each line slants

X-Ubuntu-Gettext-Domain=app-install-data
