[Desktop Entry]
X-AppInstall-Package=sgt-puzzles
X-AppInstall-Popcon=1150
X-AppInstall-Section=universe

Version=1.0
Terminal=false
Exec=rect
Icon=rect
Type=Application
Categories=Game;LogicGame;
Name=Rectangles
Comment=Subdivide the grid into rectangles of various sizes following certain rules

X-Ubuntu-Gettext-Domain=app-install-data
