[Desktop Entry]
X-AppInstall-Package=showfoto
X-AppInstall-Popcon=422
X-AppInstall-Section=universe

Name=showFoto
GenericName=Photo Viewer and Editor
Comment=Manage your photographs like a professional with the power of open source
Exec=showfoto %i -caption "%c" %U
Icon=showfoto
Type=Application
# TODO: What is image/x-eim? Register it to freedesktop.org if you need it.
MimeType=image/gif;image/x-xpixmap;image/x-xbitmap;image/jpeg;image/png;image/tiff;image/x-bmp;image/x-psd;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-graymap;image/x-dcraw;
Terminal=false
Categories=Qt;KDE;Graphics;
X-DocPath=showfoto/index.html

X-Ubuntu-Gettext-Domain=app-install-data
