[Desktop Entry]
X-AppInstall-Package=simple-scan
X-AppInstall-Popcon=17122
X-AppInstall-Section=main

Name=Simple Scan
Comment=Scan Documents
Exec=simple-scan
Icon=scanner
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Graphics;Scanning;
X-GNOME-Gettext-Domain=simple-scan

X-Ubuntu-Gettext-Domain=app-install-data
