[Desktop Entry]
X-AppInstall-Package=skype:i386
X-AppInstall-Proprietary=true
X-AppInstall-Channel=oneiric-partner
X-AppInstall-LicenseUri=/usr/share/app-install/channels/oneiric-partner.eula
X-AppInstall-Architectures=amd64
Name=Skype
Comment=Skype Internet Telephony
Exec=skype-wrapper
Icon=skype.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Network;Application;
