[Desktop Entry]
X-AppInstall-Package=slashem-x11
X-AppInstall-Popcon=8
X-AppInstall-Section=universe

Type=Application
Name=X Slash'EM
GenericName=X Slash'EM
Comment=Super Lotsa Added Stuff Hack - Extended Magic (X11)
Icon=slashem
Exec=sh -c 'SLASHEMOPTIONS=/etc/slashemrc.x11 /usr/games/slashem-x11'
Terminal=false
Categories=Game;AdventureGame;

X-Ubuntu-Gettext-Domain=app-install-data
