# KDE Config File
[Desktop Entry]
X-AppInstall-Package=smb4k
X-AppInstall-Popcon=373
X-AppInstall-Section=universe

Name=Smb4K
GenericName=The SMB/CIFS Share Browser
#
# The following lines seem to be necessary for SuSE.
#
Comment=The SMB/CIFS Share Browser
Exec=smb4k
Icon=smb4k
X-DocPath=smb4k/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=de.berlios.smb4k

X-Ubuntu-Gettext-Domain=app-install-data
