[Desktop Entry]
X-AppInstall-Package=software-properties-gtk
X-AppInstall-Popcon=37438
X-AppInstall-Section=main

Name=Software Sources
GenericName=Software Sources
Comment=Configure the sources for installable software and updates
Exec=software-properties-gtk
Icon=software-properties
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;
MimeType=text/x-apt-sources-list;
X-KDE-SubstituteUID=true

X-GNOME-Settings-Panel=software

X-Ubuntu-Gettext-Domain=app-install-data
