[Desktop Entry]
X-AppInstall-Package=sqliteman
X-AppInstall-Popcon=410
X-AppInstall-Section=universe

Type=Application
Name=Sqliteman
GenericName=Sqlite admin tool
Comment=Administer and develop your Sqlite3 databases
Icon=sqliteman
Exec=sqliteman %f
Terminal=false
StartupNotify=true
MimeType=application/x-sqlite3;
Categories=Development;

# Translations


X-Ubuntu-Gettext-Domain=app-install-data
