[Desktop Entry]
X-AppInstall-Package=stellarium
X-AppInstall-Popcon=2332
X-AppInstall-Section=universe

Type=Application
Name=Stellarium
GenericName=Desktop planetarium
Exec=stellarium
Icon=stellarium
StartupNotify=false
Terminal=false
Categories=Astronomy;Education;Science;
Comment=Planetarium

X-Ubuntu-Gettext-Domain=app-install-data
