# KDE Config File
[Desktop Entry]
X-AppInstall-Package=step
X-AppInstall-Popcon=557
X-AppInstall-Section=main

Type=Application
Exec=step -caption "%c" %i
Icon=step
X-DocPath=step/index.html
Terminal=false
Name=Step
GenericName=Interactive Physical Simulator
Comment=Simulate physics experiments
Categories=Qt;KDE;Education;Physics;

X-Ubuntu-Gettext-Domain=app-install-data
