[Desktop Entry]
X-AppInstall-Package=stormbaancoureur
X-AppInstall-Popcon=39
X-AppInstall-Section=universe

Name=Stormbaan Coureur
Comment=simulated obstacle course for automobiles
Exec=stormbaancoureur
Icon=stormbaancoureur
Terminal=false
Type=Application
Categories=Game;ActionGame;

X-Ubuntu-Gettext-Domain=app-install-data
