[Desktop Entry]
X-AppInstall-Package=streamtuner2
X-AppInstall-Popcon=43
X-AppInstall-Section=universe

Encoding=UTF-8
# Value=1.0
Type=Application

Exec=streamtuner2
Icon=streamtuner2

Name=streamtuner2
GenericName=Internet radio browser
Comment=Listen to shoutcast/xiph/live365 music stations

Categories=AudioVideo

X-Ubuntu-Gettext-Domain=app-install-data
