[Desktop Entry]
X-AppInstall-Package=sweep
X-AppInstall-Popcon=130
X-AppInstall-Section=universe

Name=Sweep
GenericName=Sound Editor
Comment=Sweep Sound Editor
Categories=Application;AudioVideo;
Encoding=UTF-8
Exec=sweep
Icon=sweep
MimeType=audio/x-wav
Terminal=false
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
