[Desktop Entry]
X-AppInstall-Package=sylph-searcher
X-AppInstall-Popcon=6
X-AppInstall-Section=universe

Exec=sylph-searcher
Icon=sylph-searcher
Terminal=false
Type=Application
Name=Sylph-Searcher
Comment=Full-text search program for Sylpheed
Categories=Utility;

X-Ubuntu-Gettext-Domain=app-install-data
