[Desktop Entry]
X-AppInstall-Package=syncropated
X-AppInstall-Popcon=86
X-AppInstall-Section=universe

Encoding=UTF-8
Categories=Application;Multimedia;
Exec=syncropated
Icon=syncropated
StartupNotify=true
Terminal=false
Type=Application

Name=Syncropated!
GenericName=Media Syncronizer
Comment=Media Syncronizer

X-Ubuntu-Gettext-Domain=app-install-data
