[Desktop Entry]
X-AppInstall-Package=syncmaildir-applet
X-AppInstall-Popcon=55
X-AppInstall-Section=universe

Name=Sync Mail Dir
Comment=Configure Sync Mail Dir
Icon=mail-send-receive
Exec=smd-applet --configure
Terminal=false
Type=Application
Categories=Settings;GTK;GNOME;Email

X-Ubuntu-Gettext-Domain=app-install-data
