[Desktop Entry]
X-AppInstall-Package=system-config-audit
X-AppInstall-Popcon=39
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Audit Configuration
Comment=Modify audit configuration
Exec=su-to-root -X -c system-config-audit
Terminal=false
Type=Application
Icon=logviewer
Categories=Settings;System;

X-Ubuntu-Gettext-Domain=app-install-data
