
[Desktop Entry]
X-AppInstall-Package=system-config-printer-gnome
X-AppInstall-Popcon=133171
X-AppInstall-Section=main

Encoding=UTF-8
Name=Printing
Comment=Configure printers
Exec=system-config-printer
Terminal=false
Type=Application
Icon=printer
StartupNotify=true
NotShowIn=KDE;GNOME;

Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;Printing;System;
X-GNOME-Settings-Panel=printing
X-GNOME-Keywords=Printer;Queue;Print;Paper;Ink;Toner;
X-Desktop-File-Install-Version=0.18

X-Ubuntu-Gettext-Domain=app-install-data
