[Desktop Entry]
X-AppInstall-Package=system-config-date
X-AppInstall-Popcon=67
X-AppInstall-Section=universe

Name=Date & Time
Comment=Change system date and time
Categories=System;Settings;
Icon=system-config-date
Exec=gksu /usr/bin/system-config-date
Type=Application
Terminal=false

X-Ubuntu-Gettext-Domain=app-install-data
