
[Desktop Entry]
X-AppInstall-Package=tasque
X-AppInstall-Popcon=284
X-AppInstall-Section=universe

Name=Tasque
Comment=Easy quick task management
GenericName=Task Manager
Exec=tasque
Icon=tasque
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;X-SuSE-Core-Office;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tasque
X-GNOME-Bugzilla-Component=General

X-Ubuntu-Gettext-Domain=app-install-data
