[Desktop Entry]
X-AppInstall-Package=tatan
X-AppInstall-Popcon=6
X-AppInstall-Section=universe

Type=Application
Name=Tatan
GenericName=
Comment=HIZ's Tatan
Icon=tatan
Exec=tatan
Terminal=false
Categories=Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
