[Desktop Entry]
X-AppInstall-Package=teamspeak-client
X-AppInstall-Popcon=113
X-AppInstall-Section=multiverse

Name=TeamSpeak
Comment=VoIP chat for online gaming
Exec=padsp teamspeak
Icon=teamspeak
Terminal=false
Type=Application
Categories=Application;Network;Telephony;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
