[Desktop Entry]
X-AppInstall-Package=tekka
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=tekka IRC Client
GenericName=IRC Client
Comment=Chat on IRC
Exec=/usr/bin/tekka
Icon=tekka
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;

X-Ubuntu-Gettext-Domain=app-install-data
