[Desktop Entry]
X-AppInstall-Package=telegnome
X-AppInstall-Popcon=11
X-AppInstall-Section=universe

Name=TeleGNOME
Comment=Viewer for Teletext pages
TryExec=telegnome
Exec=telegnome
Icon=telegnome
Terminal=0
Type=Application
Categories=GNOME;GTK;Network;News;

X-Ubuntu-Gettext-Domain=app-install-data
