[Desktop Entry]
X-AppInstall-Package=termit
X-AppInstall-Popcon=4
X-AppInstall-Section=universe

Name=Termit
Type=Application
Exec=termit
Categories=Utility;TerminalEmulator;GTK
Comment=Lightweight terminal emulator
Encoding=UTF-8
GenericName=Terminal emulator
Terminal=false


X-Ubuntu-Gettext-Domain=app-install-data
