[Desktop Entry]
X-AppInstall-Package=terminator
X-AppInstall-Popcon=2010
X-AppInstall-Section=universe

Name=Terminator
Comment=Multiple terminals in one window
TryExec=terminator
Exec=terminator
Icon=terminator
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;
StartupNotify=true


X-Ubuntu-Gettext-Domain=app-install-data
