[Desktop Entry]
X-AppInstall-Package=terminal.app
X-AppInstall-Popcon=334
X-AppInstall-Section=universe

Type=Application
Version=0.94
Categories=System;TerminalEmulator;
Name=Terminal
Comment=A terminal emulator
Icon=_usr_lib_GNUstep_Applications_Terminal.app_Resources_Terminal
Exec=Terminal

X-Ubuntu-Gettext-Domain=app-install-data
