[Desktop Entry]
X-AppInstall-Package=testdrive-gtk
X-AppInstall-Popcon=168
X-AppInstall-Section=universe

Name=Test Drive an Ubuntu ISO
Comment=Download and run an Ubuntu ISO in a Virtual Machine
Categories=Utility;System;
Exec=testdrive-gtk
Icon=testdrive-gtk
Terminal=false
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
