[Desktop Entry]
X-AppInstall-Package=tetraproc
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=Tetraproc
GenericName=TetraProc
Comment=Tetrahedral Microphone Processor for Ambisonic Recording
Icon=
Categories=AudioVideo;Audio;
Exec=tetraproc
Terminal=false

X-Ubuntu-Gettext-Domain=app-install-data
