[Desktop Entry]
X-AppInstall-Package=tex-guy
X-AppInstall-Popcon=30
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=DVI Viewer
GenericName=DVI Viewer
Comment=Veiw DVIs produced with TeX and LaTeX
Type=Application
Exec=xgdviviewer
Icon=xgdviviewer
Categories=Graphics; Publishing;

X-Ubuntu-Gettext-Domain=app-install-data
