[Desktop Entry]
X-AppInstall-Package=textedit.app
X-AppInstall-Popcon=284
X-AppInstall-Section=universe

Type=Application
Version=0.94
Categories=Utility;TextEditor;
Name=TextEdit
Comment=an OpenStep text editor
Icon=_usr_lib_GNUstep_Applications_TextEdit.app_Resources_Edit
Exec=TextEdit

X-Ubuntu-Gettext-Domain=app-install-data
