[Desktop Entry]
X-AppInstall-Package=tgif
X-AppInstall-Popcon=63
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=Tgif
Comment=Interactive 2-D vector drawing program for X11
GenericName=2-D vector drawing
Icon=_usr_share_pixmaps_tgif
Exec=tgif
Terminal=False
Categories=Graphics;2DGraphics;VectorGraphics;

X-Ubuntu-Gettext-Domain=app-install-data
