[Desktop Entry]
X-AppInstall-Package=themonospot
X-AppInstall-Popcon=105
X-AppInstall-Section=universe

Categories=AudioVideo;AudioVideoEditing;GTK;GNOME;
Comment=themonospot - extract information from avi or mkv files
Exec=themonospot
GenericName=themonospot
Icon=themonospot
MimeType=
Name=themonospot
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=

X-Ubuntu-Gettext-Domain=app-install-data
