[Desktop Entry]
X-AppInstall-Package=thin-client-manager-gnome
X-AppInstall-Popcon=37
X-AppInstall-Section=universe

Encoding=UTF-8
Name=Thin Client Manager
Comment=Control Thin Client connections
Exec=gksudo student-control-panel
Icon=_usr_share_student-control-panel_computer
Terminal=false
Type=Application
Categories=GNOME;Application;Settings;System;
StartupNotify=true
X-KDE-SubstituteUID=true

X-Ubuntu-Gettext-Domain=app-install-data
