[Desktop Entry]
X-AppInstall-Package=timemachine
X-AppInstall-Popcon=184
X-AppInstall-Section=universe

Name=JACK Timemachine
Exec=/usr/bin/timemachine
Terminal=false
Icon=_usr_share_timemachine_pixmaps_timemachine-icon
Type=Application
Categories=AudioVideo;Audio;

X-Ubuntu-Gettext-Domain=app-install-data
