[Desktop Entry]
X-AppInstall-Package=tint2
X-AppInstall-Popcon=246
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=Panel tint2
GenericName=Panel Manager
Comment=Customize the panel settings
Exec=tint2conf
Icon=taskbar
Terminal=false
Categories=Settings;DesktopSettings;


X-Ubuntu-Gettext-Domain=app-install-data
