[Desktop Entry]
X-AppInstall-Package=titanion
X-AppInstall-Popcon=27
X-AppInstall-Section=universe

Type=Application
Name=Titanion
GenericName=
Comment=Kenta Cho's Titanion
Icon=titanion
Exec=titanion
Terminal=false
Categories=Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
