[Desktop Entry]
Encoding=UTF-8
Name=Arte plugin for totem
Comment=A totem plugin to watch streams from arte.tv
GenericName=Totem extension
Type=Application
Categories=GTK;GNOME;AudioVideo;Player;Video;

X-AppInstall-Package=totem-plugin-arte
X-AppInstall-Popcon=712
X-AppInstall-Section=universe
X-Ubuntu-Gettext-Domain=app-install-data
