[Desktop Entry]
X-AppInstall-Package=transcend
X-AppInstall-Popcon=9
X-AppInstall-Section=universe

Type=Application
Name=Transcend
GenericName=shooter game
Comment=retro-style, abstract 2D shooter
Icon=transcend
Exec=transcend
Terminal=false
Categories=Game;ActionGame;

X-Ubuntu-Gettext-Domain=app-install-data
