[Desktop Entry]
X-AppInstall-Package=tritium
X-AppInstall-Popcon=9
X-AppInstall-Section=universe

Name=Tritium
Comment=Tritium window manager
Exec=/usr/bin/tritium
Type=Application

X-Ubuntu-Gettext-Domain=app-install-data
