[Desktop Entry]
X-AppInstall-Package=ttb
X-AppInstall-Popcon=55
X-AppInstall-Section=universe

Name=TTB Teletekst Browser
Comment=Teletekst Browser
TryExec=ttb
Exec=ttb
Type=Application
Terminal=false
Categories=Network;
Icon=ttb


X-Ubuntu-Gettext-Domain=app-install-data
