[Desktop Entry]
X-AppInstall-Package=tuxmath
X-AppInstall-Popcon=471
X-AppInstall-Section=universe

Name=Tux Math 
GenericName=Educational math game
Comment=Tux Math - Learn math with Tux!
Exec=tuxmath
Icon=tuxmath
Type=Application
Terminal=false
Categories=Education;Math;
## X-SuSE-translate=false


X-Ubuntu-Gettext-Domain=app-install-data
