[Desktop Entry]
X-AppInstall-Package=tuxpuck
X-AppInstall-Popcon=102
X-AppInstall-Section=universe

Name=Tuxpuck
Comment=Play Shufflepuck with Tux
Exec=tuxpuck
Icon=tuxpuck
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
