[Desktop Entry]
X-AppInstall-Package=ubuntustudio-controls
X-AppInstall-Popcon=408
X-AppInstall-Section=universe

Name=Ubuntu Studio Controls
Comment=Change settings for multimedia production
Exec=gksu ubuntustudio-controls
Icon=_usr_share_ubuntustudio-controls_ubuntustudio-controls
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Settings;

X-Ubuntu-Gettext-Domain=app-install-data
