[Desktop Entry]
X-AppInstall-Package=ubuntu-restricted-extras
X-AppInstall-Popcon=0
X-AppInstall-Section=multiverse
X-AppInstall-Keywords=Codec;

Comment=Commonly used applications with restricted copyright (mp3, avi, mpeg, TrueType, Java, Flash, Codecs)
Name=Ubuntu restricted extras
Encoding=UTF-8
Terminal=false
Type=Application
Categories=GNOME;Application;Internet;
X-Ubuntu-Gettext-Domain=app-install-data
