[Desktop Entry]
X-AppInstall-Package=ufraw
X-AppInstall-Popcon=1462
X-AppInstall-Section=universe

Name=UFRaw
GenericName=Raw image converter

Comment=A utility to read and manipulate raw images from digital cameras

Version=1.0

Type=Application
Categories=Graphics;Photography;GTK;

Exec=ufraw %U
TryExec=ufraw
Terminal=false
StartupNotify=true

MimeType=application/x-ufraw;image/x-dcraw;

Icon=ufraw

X-Ubuntu-Gettext-Domain=app-install-data
