[Desktop Entry]
X-AppInstall-Package=ugene
X-AppInstall-Popcon=27
X-AppInstall-Section=universe

Name=Unipro UGENE
Comment=Integrated Bioinformatics Suite
GenericName=Unipro UGENE
Terminal=false
Icon=ugene
Type=Application
Exec=ugene -ui
Categories=Education;Science;

X-Ubuntu-Gettext-Domain=app-install-data
