[Desktop Entry]
X-AppInstall-Package=ultracopier
X-AppInstall-Popcon=14
X-AppInstall-Section=universe

Categories=Qt;Utility;
Comment=Copy/Move files with lot of options
Exec=ultracopier %u
GenericName=Advanced copier
Icon=ultracopier
MimeType=
Name=Ultracopier
Path=
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=

X-Ubuntu-Gettext-Domain=app-install-data
