[Desktop Entry]
X-AppInstall-Package=unetbootin
X-AppInstall-Popcon=2063
X-AppInstall-Section=universe

Version=1.0
Name=UNetbootin
Comment=Tool for creating Live USB drives
Categories=Application;System;
Exec=/usr/bin/unetbootin
Terminal=false
Type=Application
Icon=unetbootin

X-Ubuntu-Gettext-Domain=app-install-data
