[Desktop Entry]
X-AppInstall-Package=upnp-router-control
X-AppInstall-Popcon=173
X-AppInstall-Section=universe

Type=Application
Name=UPnP Router Control
Comment=A simple program to manage UPnP IGD compliant routers
Exec=upnp-router-control
Icon=upnp-router-control
Terminal=false
Categories=Utility;

X-Ubuntu-Gettext-Domain=app-install-data
