[Desktop Entry]
X-AppInstall-Package=vagalume
X-AppInstall-Popcon=82
X-AppInstall-Section=universe

Version=1.0
Type=Application
Categories=Audio;AudioVideo;GNOME;GTK;Application;Player;
Name=Vagalume Last.fm Client
Exec=/usr/bin/vagalume
Icon=vagalume
X-Icon-path=/usr/share/pixmaps
X-Window-Icon=vagalume


X-Ubuntu-Gettext-Domain=app-install-data
