[Desktop Entry]
X-AppInstall-Package=vino
X-AppInstall-Popcon=29779
X-AppInstall-Section=main

Name=Desktop Sharing
Comment=Choose how other users can remotely view your desktop
Exec=vino-preferences
Icon=preferences-desktop-remote-desktop
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;RemoteAccess;Network;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=vino
X-GNOME-Bugzilla-Component=Preferences Dialog
X-GNOME-Bugzilla-Version=3.1.92


X-Ubuntu-Gettext-Domain=app-install-data
