[Desktop Entry]
X-AppInstall-Package=vitables
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=ViTables
GenericName=PyTables & HDF5 Files Visualizer
Exec=vitables %U
Icon=vitables
#There is not mime-type yet for HDF5
#MimeType=application/x-hdf5
#Set this to the vitables documentation files
#DocPath=vitables/index.html
Terminal=false
Categories=Qt;Database;DataVisualization;Science;Education

X-Ubuntu-Gettext-Domain=app-install-data
