[Desktop Entry]
X-AppInstall-Package=vmware-view-open-client
X-AppInstall-Popcon=192
X-AppInstall-Section=multiverse

Encoding=UTF-8
Type=Application
Icon=vmware-view
Exec=vmware-view
Categories=Application;Network;
# TRANSLATORS: Ignore this string; do not translate.
Name=VMware View Open Client

X-Ubuntu-Gettext-Domain=app-install-data
