[Desktop Entry]
X-AppInstall-Package=voxbo
X-AppInstall-Popcon=9
X-AppInstall-Section=universe

Encoding=UTF-8
GenericName=VoxBo Image Viewer
Name=VBView2
Exec=vbview2 %F
TryExec=vbview2
Type=Application
Terminal=false
Categories=Education;Graphics;Science;DataVisualization;MedicalSoftware;Qt;Viewer;

X-Ubuntu-Gettext-Domain=app-install-data
