[Desktop Entry]
X-AppInstall-Package=webboard
X-AppInstall-Popcon=40
X-AppInstall-Section=universe

Encoding=UTF-8
Name=WebBoard
Comment=Publish text notes and source code on a pastebin server for collaborative debugging
Exec=webboard
Icon=gtk-paste
NotShowIn=KDE;
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;GTK;Application;Utility

X-Ubuntu-Gettext-Domain=app-install-data
