[Desktop Entry]
X-AppInstall-Package=wiican
X-AppInstall-Popcon=35
X-AppInstall-Section=universe

Name=Wiican
GenericName=Wiimote manager usage assistant and mapping manager
Comment=Wiimote manager usage assistant and mapping manager
Exec=wiican -f "%F"
Icon=wiican
Terminal=false
Type=Application
Categories=Utility;HardwareSettings;
MimeType=application/x-wii;

X-Ubuntu-Gettext-Domain=app-install-data
