[Desktop Entry]
X-AppInstall-Package=wine1.2
X-AppInstall-Popcon=36013
X-AppInstall-Section=universe

Type=Application
Name=Wine Windows Program Loader
Exec=cautious-launcher %f wine start /unix
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-win-lnk;application/x-ms-shortcut;
Icon=wine
NoDisplay=true
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
