[Desktop Entry]
X-AppInstall-Package=winpdb
X-AppInstall-Popcon=446
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Winpdb
Comment=Platform independent Python debugger
TryExec=winpdb
Exec=winpdb %F
Icon=winpdb
Categories=Development;Debugger;

X-Ubuntu-Gettext-Domain=app-install-data
