[Desktop Entry]
X-AppInstall-Package=wmgui
X-AppInstall-Popcon=68
X-AppInstall-Section=universe

Name=Wmgui
GenericName=Graphical user interface to the wiimote
Comment=Simple GTK gui to the wiimote to test and display the wiimote data.
Exec=wmgui
Icon=wmgui
Terminal=false
Type=Application
Categories=Utility;HardwareSettings

X-Ubuntu-Gettext-Domain=app-install-data
