[Desktop Entry]
X-AppInstall-Package=wmitime
X-AppInstall-Popcon=14
X-AppInstall-Section=universe

Type=Application
Name=Wmitime
GenericName=
Comment=
Icon=
Exec=/usr/bin/wmitime
Terminal=false
Categories=Utility;Clock

X-Ubuntu-Gettext-Domain=app-install-data
