[Desktop Entry]
X-AppInstall-Package=wsjt
X-AppInstall-Popcon=47
X-AppInstall-Section=universe

Name=WSJT
Encoding=UTF-8
Comment=Amateur radio weak signal communications
Exec=wsjt
TryExec=wsjt
Terminal=true
Type=Application
Categories=Application;HamRadio;
Icon=wsjt

X-Ubuntu-Gettext-Domain=app-install-data
