[Desktop Entry]
X-AppInstall-Package=xaralx
X-AppInstall-Popcon=538
X-AppInstall-Section=multiverse

Version=1.0
Encoding=UTF-8
Name=Xara Xtreme
Comment=Versatile vector graphics program
Icon=xaralx
Terminal=false
Type=Application
Categories=Application;Graphics;VectorGraphics;
StartupNotify=true
MimeType=application/vnd.xara;application/x-extension-xar;
FilePattern=xaralx;
Exec=xaralx %F
TryExec=xaralx

X-Ubuntu-Gettext-Domain=app-install-data
