[Desktop Entry]
X-AppInstall-Package=xca
X-AppInstall-Popcon=32
X-AppInstall-Section=universe

Encoding=UTF-8
Name=XCA
Type=Application
Comment=A graphical user interface for handling and issuing X.509 compliant Certificates
Exec=xca
Icon=xca-32x32
Terminal=false
Categories=Application;Utility;Qt;
MimeType=application/x-xca-database;application/x-xca-template;application/x-x509-ca-cert;application/pkcs10;application/x-pkcs7-certificates;application/x-pkcs12;

X-Ubuntu-Gettext-Domain=app-install-data
