[Desktop Entry]
X-AppInstall-Package=xcdroast
X-AppInstall-Popcon=133
X-AppInstall-Section=universe

Name=X-CD-Roast
Comment=Create a CD
Exec=xcdroast
Icon=xcdroast
Type=Application
Categories=Application;AudioVideo;

X-Ubuntu-Gettext-Domain=app-install-data
