[Desktop Entry]
X-AppInstall-Package=xfig
X-AppInstall-Popcon=2161
X-AppInstall-Section=universe

Name=Xfig
Comment=Diagram editor
Exec=xfig
Icon=xfig
Terminal=false
Type=Application
Categories=Graphics;
MimeType=image/x-fig;

X-Ubuntu-Gettext-Domain=app-install-data
