[Desktop Entry]
X-AppInstall-Package=xgalaga
X-AppInstall-Popcon=173
X-AppInstall-Section=universe

Version=1.0
Name=Galaga
Comment=Play Galaga Game
Exec=xgalaga
Icon=xgalaga-icon
Terminal=false
Type=Application
Categories=Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
