[Desktop Entry]
X-AppInstall-Package=xiterm+thai
X-AppInstall-Popcon=2
X-AppInstall-Section=universe

Version=1.07
Name=Thai X terminal
Comment=Thai X terminal
Icon=xiterm+thai
Exec=txiterm -ls -cursorColor yellow -cursorColorThai red -bg black -fg white
Type=Application
Categories=Application;Utility

X-Ubuntu-Gettext-Domain=app-install-data
