[Desktop Entry]
X-AppInstall-Package=xjadeo
X-AppInstall-Popcon=284
X-AppInstall-Section=multiverse

Type=Application
Name=xjadeo
GenericName=X jack video monitor
Comment=A simple video player that gets sync from jack transport.
Icon=qjadeo
Exec=/usr/bin/qjadeo
Terminal=false
Categories=AudioVideo;Video;Player;

X-Ubuntu-Gettext-Domain=app-install-data
