[Desktop Entry]
X-AppInstall-Package=xjump
X-AppInstall-Popcon=22
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Type=Application
Name=XJump
Comment=A jumping game
TryExec=xjump
Exec=xjump
Icon=xjump-icon
Categories=Application;Game;

X-Ubuntu-Gettext-Domain=app-install-data
