[Desktop Entry]
X-AppInstall-Package=xmpuzzles
X-AppInstall-Popcon=12
X-AppInstall-Section=universe

Name=xmpyraminx
GenericName=pyraminx game
Exec=/usr/games/xmpyraminx
Icon=_usr_share_pixmaps_xpyraminx.m
Terminal=false
Type=Application
Categories=Game;

X-Ubuntu-Gettext-Domain=app-install-data
