[Desktop Entry]
X-AppInstall-Package=xmpuzzles
X-AppInstall-Popcon=12
X-AppInstall-Section=universe

Name=xmrubik
GenericName=rubik game
Exec=/usr/games/xmrubik
Icon=_usr_share_pixmaps_xrubik.m
Terminal=false
Type=Application
Categories=Game;

X-Ubuntu-Gettext-Domain=app-install-data
