[Desktop Entry]
X-AppInstall-Package=xpad
X-AppInstall-Popcon=394
X-AppInstall-Section=universe

Version=1.0

Name=Xpad
GenericName=Sticky Notes
Comment=Jot down notes for later

TryExec=xpad
Exec=xpad
Terminal=false
Icon=xpad

StartupNotify=true
StartupWMClass=xpad

Type=Application
Categories=GTK;Utility;


X-Ubuntu-Gettext-Domain=app-install-data
