[Desktop Entry]
X-AppInstall-Package=xpaint
X-AppInstall-Popcon=233
X-AppInstall-Section=universe

Name=XPaint
Comment=Xpaint painting application
Exec=xpaint
Icon=xpaint
Type=Application
Terminal=false
Categories=Graphics;2DGraphics;
# vi: encoding=utf-8

X-Ubuntu-Gettext-Domain=app-install-data
