[Desktop Entry]
X-AppInstall-Package=xpuzzles
X-AppInstall-Popcon=31
X-AppInstall-Section=universe

Name=xoct
GenericName=oct game
Exec=/usr/games/xoct
Icon=_usr_share_pixmaps_xoct.m
Terminal=false
Type=Application
Categories=Game;

X-Ubuntu-Gettext-Domain=app-install-data
