[Desktop Entry]
X-AppInstall-Package=xpuzzles
X-AppInstall-Popcon=31
X-AppInstall-Section=universe

Name=xhexagons
GenericName=hexagons game
Exec=/usr/games/xhexagons
Icon=_usr_share_pixmaps_xhexagons.m
Terminal=false
Type=Application
Categories=Game;

X-Ubuntu-Gettext-Domain=app-install-data
