[Desktop Entry]
X-AppInstall-Package=xpuzzles
X-AppInstall-Popcon=31
X-AppInstall-Section=universe

Name=xdino
GenericName=dino game
Exec=/usr/games/xdino
Icon=_usr_share_pixmaps_xdino.m
Terminal=false
Type=Application
Categories=Game;

X-Ubuntu-Gettext-Domain=app-install-data
