[Desktop Entry]
X-AppInstall-Package=xscorch
X-AppInstall-Popcon=38
X-AppInstall-Section=universe

Name=Xscorch
Comment=Clone of Scorched Earth
Exec=xscorch
Icon=xscorch
Type=Application
Categories=Application;Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
