[Desktop Entry]
X-AppInstall-Package=xvattr
X-AppInstall-Popcon=54
X-AppInstall-Section=universe

Encoding=UTF-8
Name=gxvattr
GenericName=XVideo Settings Utility
Exec=gxvattr
Icon=xv
Categories=Application;AudioVideo
Terminal=false
Type=Application
StartupNotify=false

X-Ubuntu-Gettext-Domain=app-install-data
