[Desktop Entry]
X-AppInstall-Package=ygraph
X-AppInstall-Popcon=23
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Name=ygraph Scientific Data Plotter
GenericName=Scientific Data Plotter
Comment=Produce simple xy-plots of scientific data
Type=Application
Exec=ygraph
Icon=ygraph
Categories=Education;Science;

X-Ubuntu-Gettext-Domain=app-install-data
