[Desktop Entry]
X-AppInstall-Package=zapping
X-AppInstall-Popcon=179
X-AppInstall-Section=universe

Version=1.0
Name=Zapping TV Viewer
Comment=Lets you watch TV in a window
Type=Application
Exec=zapping
Icon=_usr_share_pixmaps_zapping_gnome-television
Terminal=false
StartupNotify=true
Categories=GNOME;AudioVideo;Video;TV;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Zapping
X-GNOME-Bugzilla-Version=0.10cvs6
X-GNOME-Bugzilla-Component=general

X-Ubuntu-Gettext-Domain=app-install-data
