[Desktop Entry]
X-AppInstall-Package=zekr
X-AppInstall-Popcon=109
X-AppInstall-Section=multiverse

Name=Zekr 
Comment=Study The Quran
GenericName=Quranic Browser
Exec=zekr
Terminal=false
Type=Application
Icon=zekr
Categories=X-Islamic-Software;X-Quran;Utility;
MimeType=

X-Ubuntu-Gettext-Domain=app-install-data
