[Desktop Entry]
X-AppInstall-Package=zipper.app
X-AppInstall-Popcon=167
X-AppInstall-Section=universe

Type=Application
Version=0.94
Categories=Compression;Archiving;Utility;
Name=Zipper
Comment=GUI for various compressed file formats
Icon=zipper
Exec=Zipper
MimeType=

X-Ubuntu-Gettext-Domain=app-install-data
