[Desktop Entry]
Name=Aptdaemon Software Management Service
Exec=/usr/sbin/aptd
Icon=softwarecenter
Type=Application
Categories=PackageManager;System;Settings;
MimeType=application/x-deb;application/x-debian-package;
X-Ubuntu-Gettext-Domain=aptdaemon
Hidden=True
