<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="Mono.Addins.CecilReflector" publicKeyToken="0738eb9f132ed756" />
         <bindingRedirect oldVersion="0.3.0.0" newVersion="0.6.0.0"/>
       </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
