[Desktop Entry]
Name=Color
Comment=Color management settings
Exec=gnome-control-center color
Icon=preferences-color
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;HardwareSettings
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=color
X-GNOME-Bugzilla-Version=3.2.0
X-GNOME-Settings-Panel=color
# Translators: those are keywords for the color control-center panel
X-GNOME-Keywords=Color;ICC;Profile;Calibrate;Printer;Display;
X-GNOME-Keywords[af]=Color;ICC;Profile;Calibrate;Printer;Display;kleur;profiel;kalibreer;drukker;skerm
X-GNOME-Keywords[ast]=Color;ICC;Perfil;Calibráu;Imprentadora;Pantalla;
X-GNOME-Keywords[be]=Колер;ICC;Профіль;Каліброўка;Прынтар;Друк;Манітор;Экран;
X-GNOME-Keywords[bg]=Цвят;ICC;Профил;Калибриране;Принтер;Екран;
X-GNOME-Keywords[ca]=Color;ICC;Perfil;Calibració;Impressora;Pantalla;
X-GNOME-Keywords[ca@valencia]=Color;ICC;Perfil;Calibració;Impressora;Pantalla;
X-GNOME-Keywords[cs]=barvy;ICC;profil;kalibrace;tiskárna;obrazovka
X-GNOME-Keywords[da]=Farve;ICC;Profil;Kalibrer;Printer;Skærm;
X-GNOME-Keywords[de]=Farbe;ICC;Profil;Kalibrieren;Drucker;Anzeige;
X-GNOME-Keywords[en_GB]=Colour;ICC;Profile;Calibrate;Printer;Display;
X-GNOME-Keywords[es]=Color;ICC;Perfil;Calibrado;Impresora;Pantalla;
X-GNOME-Keywords[eu]=Kolorea;ICC;Profila;Kalibratzea;Inprimagailua;Pantaila;
X-GNOME-Keywords[fa]=رنگ;ICC;مجموعه تنظیمات;Calibrate;چاپگر;نمایشگر;
X-GNOME-Keywords[fi]=väri;ICC;color;profiili;kalibrointi;Calibrate;Tulostin;Printer;Näyttö;
X-GNOME-Keywords[fr]=Couleur;ICC;Profil;Calibrer;Calibration;Imprimante;Écran;
X-GNOME-Keywords[gl]=Color;ICC;Perfil;Calibrado;Impresora;Pantalla;
X-GNOME-Keywords[he]=צבע;ICC;פרופיל;כיול;מדפסת;תצוגה;
X-GNOME-Keywords[hu]=Szín;ICC;Színek;Profilozás;Kalibrálás;Nyomtató;Kijelző;
X-GNOME-Keywords[id]=Warna;ICC;Profil;Kalibrasi;Pencetak;Tampilan;
X-GNOME-Keywords[it]=Colore;ICC;Profilo;Calibrazione;Stampante;Display;Monitor;Schermo;
X-GNOME-Keywords[ja]=Color;ICC;Profile;Calibrate;Printer;Display;色;ICC;プロファイル;キャリブレーション;プリンター;ディスプレイ
X-GNOME-Keywords[ko]=Color;색;ICC;Profile;프로파일;Calibrate;보정;Printer;프린터;Display;디스플레이;
X-GNOME-Keywords[lt]=Spalva;ICC;Profilis;Kalibravimas;Spausdintuvas;Ekranas;
X-GNOME-Keywords[lv]=Krāsa;ICC;profils;Kalibrēt;Printeris;Ekrāns;
X-GNOME-Keywords[nb]=Farge;ICC;Profil;Kalibrer;Skriver;Skjerm;
X-GNOME-Keywords[nl]=Color;ICC;Profile;Calibrate;Printer;Display;Kleur;Kalibreren;Weergave
X-GNOME-Keywords[pa]=ਰੰਗ,Color;ICC;Profile;Calibrate;ਪ੍ਰਿੰਟਰ;ਪਰਿੰਟਰ;Printer;Display;ਡਿਸਪਲੇਅ;
X-GNOME-Keywords[pl]=Kolor;ICC;Profil;Kalibracja;Drukarka;Ekran;
X-GNOME-Keywords[pt]=Cor;ICC;Perfil;Calibrar;Impressora;Ecrã;
X-GNOME-Keywords[pt_BR]=Cor;ICC;Perfil;Calibração;Impressão;Exibição;
X-GNOME-Keywords[ru]=Цвет;ICC;Профиль;Калибровка;Принтер;Монитор;
X-GNOME-Keywords[sk]=Farba;Farby;ICC;Profil;Kalibrovať;Tlačiareň;Monitor;
X-GNOME-Keywords[sl]=Barva;ICC;Profil;Umerjanje;Tiskalnik;Zaslon;
X-GNOME-Keywords[sr]=Боја;ИЦЦ;Профил;Калибрирај;Штампач;Приказ:
X-GNOME-Keywords[sr@latin]=Boja;ICC;Profil;Kalibriraj;Štampač;Prikaz:
X-GNOME-Keywords[sv]=Färg;ICC;Profil;Kalibrera;Skrivare;Skärm;
X-GNOME-Keywords[ta]=நிறம்;ஐசிசி;வரிவுரு;அளவீடுசெய்;அச்சுப்பொறி;தோற்றம்;
X-GNOME-Keywords[te]=వర్ణం;ICC;ప్రొఫైల్;కాలిబ్రేట్;ముద్రకం;ప్రదర్శకం;
X-GNOME-Keywords[th]=สี;ICC;โพรไฟล์;เทียบมาตรฐาน;เครื่องพิมพ์;จอภาพ;
X-GNOME-Keywords[ug]=رەڭ;ICC;سەپلىمە ھۆججەت;تۈزىتىش;پرىنتېر;ئېكران;
X-GNOME-Keywords[uk]=Колір;ICC;Профіль;Калібрування;Принтер;Екран;
X-GNOME-Keywords[vi]=Color;ICC;Profile;Calibrate;Printer;Display;
X-GNOME-Keywords[zh_CN]=颜色;色彩;配置;校准;打印机;显示;Color;ICC;Profile;Calibrate;Printer;Display;
X-GNOME-Keywords[zh_HK]=Color;ICC;Profile;Calibrate;Printer;Display;顏色;色彩描述檔;校正;打印機;顯示器;
X-GNOME-Keywords[zh_TW]=Color;ICC;Profile;Calibrate;Printer;Display;顏色;色彩描述檔;校正;印表機;顯示器;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
