[Desktop Entry]
Name=Appearance
Comment=Change the background and theme
Exec=gnome-control-center background
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings
OnlyShowIn=GNOME;Unity;
X-GNOME-Settings-Panel=background
# Translators: those are keywords for the background control-center panel
X-GNOME-Keywords=Wallpaper;Screen;Desktop;Theme;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
