[Desktop Entry]
Name=Mouse and Touchpad
Comment=Set your mouse and touchpad preferences
Exec=gnome-control-center mouse
Icon=input-mouse
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=mouse
X-GNOME-Bugzilla-Version=3.2.0
X-GNOME-Settings-Panel=mouse
# Translators: those are keywords for the mouse and touchpad control-center panel
X-GNOME-Keywords=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;
X-GNOME-Keywords[af]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;raakblad;wyser;klik;kliek;raak;dubbel;knoppie
X-GNOME-Keywords[ar]=فأرة;مؤشر;نقر;مزدوج;زر;لمس;
X-GNOME-Keywords[ast]=trackpad;punteru;calcar;doble;mur;trackball;
X-GNOME-Keywords[be]=Чулая панэль;Паказальнік;Пстрычка;Дотык;Падвойная пстрычка;Кнопка;Трэкбол;
X-GNOME-Keywords[bg]=Сензорен панел;Показалец;Натискане;Почукване;Двойно натискане;Бутон;Джойстик;
X-GNOME-Keywords[bn]=ট্র্যাকপ্যাড;পয়েন্টার;ক্লিক;ট্যাপ;ডবল;বোতাম;ট্র্যাকবল;
X-GNOME-Keywords[ca]=Ratolí tàctil;Punter;Clic;Toc;Doble;Botó;Ratolí de bola;
X-GNOME-Keywords[ca@valencia]=Ratolí tàctil;Punter;Clic;Toc;Doble;Botó;Ratolí de bola;
X-GNOME-Keywords[cs]=trackpad;ukazatel;kliknutí;klepnutí;dvojité;tlačítko;trackball
X-GNOME-Keywords[da]=Pegeplade;Markør;Klik;Prik;Dobbelt;Knap;Trackball;
X-GNOME-Keywords[de]=Trackpad;Zeiger;Mauszeiger;Klick;Doppelklick;Maustaste;Trackball;
X-GNOME-Keywords[el]=Trackpad;Δείκτης;Κλικ;Χτύπημα;Διπλό;Κουμπί;Trackball;
X-GNOME-Keywords[en_GB]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;
X-GNOME-Keywords[es]=trackpad;puntero;pulsar;doble;botón;trackball;
X-GNOME-Keywords[et]=Puutepadi;Kursor;Klõps;Topelt;Nupp
X-GNOME-Keywords[eu]=Trackpad;Erakuslea;Klik;Sakatu;Bikoitza;Botoia;Trackball;
X-GNOME-Keywords[fa]=صفحه‌جهت‌ده;نشانگر;کلیک;ضربه;دوبار;دکمه;توپ‌جهت
X-GNOME-Keywords[fr]=Pavé;Tactile;Pointeur;Clic;Frappe;Double;Bouton;Boule;
X-GNOME-Keywords[gl]=Trackpad;Punteiro;Clic;Toque;Dobre;Pulsación;Botón;
X-GNOME-Keywords[he]=משטח מגע;סמן;לחיצה;טפיחה;כפולה;לחצן;כדור שליטה;
X-GNOME-Keywords[hu]=Érintőtábla;Tapipad;Mutató;Kattintás;Koppintás;Dupla;Gomb;Hanyattegér;
X-GNOME-Keywords[id]=Trackpad;Pointer;Klik;Sentuh;Ganda;Tombol;Trackball;
X-GNOME-Keywords[it]=Trackpad;Puntatore;Click;Clic;Tap;Doppio;Pulsante;Trackball;Cursore;
X-GNOME-Keywords[ja]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;トラックパッド;ポインター;クリック;タップ;ダブル;ボタン;トラックボール;
X-GNOME-Keywords[ko]=Trackpad;트랙패드;Pointer;포인터;Click;클릭;누르기;Tab;탭;Double;더블;Button;버튼;단추;Trackball;트랙볼;
X-GNOME-Keywords[lt]=Sekantis paviršius;Žymeklis;Paspaudimas;Taukštelėjimas;Dvigubas;Mygtukas;Rutulinis manipuliatorius;
X-GNOME-Keywords[lv]=Skārienpaliktnis;Rādītājs;Klikšķis;uzsitiens;Dubults;Poga;Kursorbumba;
X-GNOME-Keywords[nb]=Styrepute;Peker;Klikk;Tapp;Dobbel;Knapp;Styrekule;
X-GNOME-Keywords[nl]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Aanwijzer;Klik;Tik;Dubbel;Knop;
X-GNOME-Keywords[pa]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;ਟਰੈਕਪੈਂਡ;ਪੁਆਇੰਟਰ;ਕਲਿੱਕ;ਟੈਪ;ਡਬਲ;ਬਟਨ;ਟਰੈਕਬਾਲ;
X-GNOME-Keywords[pl]=Trackpad;Wskaźnik;Kursor;Kliknięcie;Puknięcie;Podwójne;Przycisk;Trackball;Touchpad;Panel dotykowy;
X-GNOME-Keywords[pt]=Trackpad;Ponteiro;Clique;Toque;Duplo;Botão;Trackball;
X-GNOME-Keywords[pt_BR]=Trackpad;Ponteiro;Clicar;Batida;Duplo;Botão;Trackball;
X-GNOME-Keywords[ro]=Trackpad;Indicator;Clic;Atingere;Dublu;Buton;Trackball;Pointer;Click;Tap;Double;Button;
X-GNOME-Keywords[ru]=Трэкпад;Указатель;Щелчок;Двойной;Кнопка;Трэкбол;
X-GNOME-Keywords[sk]=Trackpad;Ukazovateľ;Klik;Ťuk;Dvojité;Tlačidlo;Trackball;
X-GNOME-Keywords[sl]=Sledilna ploščica;Kazalnik;Klik;Udarjanje;Dvojni;Gumb;Sledilna kroglica;
X-GNOME-Keywords[sr]=Плоча;Показивач;Клик;Тап;Дупло;Дугме;Куглица;
X-GNOME-Keywords[sr@latin]=Ploča;Pokazivač;Klik;Tap;Duplo;Dugme;Kuglica;
X-GNOME-Keywords[sv]=Pekplatta;Muspekare;Klick;Tap;Dubbel;Knapp;Trackball;
X-GNOME-Keywords[ta]=தொடர்திட்டு;சுட்டி;சொடுக்கு;தட்டு;இரட்டை;மென்மேடு;தொடர்பந்து
X-GNOME-Keywords[te]=ట్రాక్‌పాడ్;సూచకి;నొక్కు;టాప్;డబుల్;బటన్;ట్రాక్‌బాల్;
X-GNOME-Keywords[th]=ทัชแพด;ตัวชี้;คลิก;แตะ;ดับเบิล;ปุ่ม;แทร็กบอล;
X-GNOME-Keywords[tr]=Trackpad;İşaretçi;Tıklama;Vurma;Çift;Düğme;Trackball;
X-GNOME-Keywords[ug]=سەزگۈر تاختا;ئىسترېلكا;چەك;نۇقۇ;قوش;توپچا;ئىزلاش شارچىسى;
X-GNOME-Keywords[uk]=Сенсор;Вказівник;Клік;Стукіт;Подвійний;Кнопка;Кулька;
X-GNOME-Keywords[vi]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;
X-GNOME-Keywords[zh_CN]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;触摸板;指针;点击;单击;双击;按钮;轨迹球;
X-GNOME-Keywords[zh_HK]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;觸控板;指標;點擊;輕觸;連按兩下;按鈕;軌跡球;
X-GNOME-Keywords[zh_TW]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;觸控板;指標;點擊;輕觸;雙擊;按鈕;軌跡球;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
