[Desktop Entry]
Name=Date and Time
Comment=Date and Time preferences panel
Exec=gnome-control-center datetime
Icon=preferences-system-time
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;
X-GNOME-Settings-Panel=datetime
# Translators: those are keywords for the date and time control-center panel
X-GNOME-Keywords=Clock;Timezone;Location;
X-GNOME-Keywords[af]=Clock;Timezone;Location;horlosie;tydsone;ligging
X-GNOME-Keywords[ar]=ساعة;توقيت;منطقة;
X-GNOME-Keywords[ast]=Reló;Estaya horaria;Allugamientu;
X-GNOME-Keywords[be]=Гадзіннік;Часавы пояс;Месцазнаходжанне;Месца;
X-GNOME-Keywords[bg]=Часовник;Часови пояс;Местоположение;
X-GNOME-Keywords[bn]=ঘড়ি;টাইম জোন;অবস্থান;
X-GNOME-Keywords[ca]=Rellotge;Zona horària;Ubicació;
X-GNOME-Keywords[ca@valencia]=Rellotge;Zona horària;Ubicació;
X-GNOME-Keywords[cs]=hodiny;časové pásmo;umístění;
X-GNOME-Keywords[da]=Ur;Tidszone;Sted;
X-GNOME-Keywords[de]=Uhr;Zeitzone;Ort;
X-GNOME-Keywords[el]=Ρολόι;Ζώνη ώρας;Τοποθεσία;
X-GNOME-Keywords[en_GB]=Clock;Timezone;Location;
X-GNOME-Keywords[eo]=Horo;Horzono;Loko;
X-GNOME-Keywords[es]=Reloj;Zona horaria;Ubicación;
X-GNOME-Keywords[et]=Kell;Ajavöönd;Asukoht;
X-GNOME-Keywords[eu]=Erlojua;Ordu-zona;Kokalekua;
X-GNOME-Keywords[fa]=سایت;منطقه‌ی زمانی;مکان;
X-GNOME-Keywords[fi]=Kello;Aikavyöhyke;Sijainti;
X-GNOME-Keywords[fr]=Horloge;Fuseau;Emplacement;
X-GNOME-Keywords[ga]=Clog;Crios Ama;Suíomh;
X-GNOME-Keywords[gl]=Reloxo;Fuso horario;Localización
X-GNOME-Keywords[gu]=ઘડિયાળ;ટાઇમઝોન;સ્થાન;
X-GNOME-Keywords[he]=שעון;אזור זמן;מיקום;
X-GNOME-Keywords[hu]=Óra;Időzóna;Hely;
X-GNOME-Keywords[id]=Jam;Zona waktu;Lokasi;
X-GNOME-Keywords[it]=Orologio;Tempo;Data;Fuso;Posizione;Orario;
X-GNOME-Keywords[ja]=Clock;Timezone;Location;時計;タイムゾーン;場所;
X-GNOME-Keywords[ko]=Clock;시계;Timezone;시간대;Location;위치;
X-GNOME-Keywords[lt]=Laikrodis;Laiko juosta;Vietovė;
X-GNOME-Keywords[lv]=Pulkstenis;Laika josla;Vieta;
X-GNOME-Keywords[nb]=Klokke;Tidssone;Plassering;Adresse;
X-GNOME-Keywords[nl]=Clock;Timezone;Location;Klok;Tijdzone;Locatie
X-GNOME-Keywords[nn]=Klokke;Tidssone;Stad
X-GNOME-Keywords[pa]=ਘੜੀ;ਸਮਾਂ-ਖੇਤਰ;ਟਿਕਾਣਾ;
X-GNOME-Keywords[pl]=Zegar;Strefa czasowa;Położenie;
X-GNOME-Keywords[pt]=Relógio;Fuso-Horário;Localização;
X-GNOME-Keywords[pt_BR]=Relógio;Fuso horário;Localização;
X-GNOME-Keywords[ro]=Clock;Timezone;Location;Ceas;Fus orar;Locație;Ora;Data;Oră;Dată;
X-GNOME-Keywords[ru]=Часы;Часовой;Местоположение;
X-GNOME-Keywords[sk]=Hodiny;Časová zóna;Umiestnenie;
X-GNOME-Keywords[sl]=Ura;Časovni pas;Mesto;
X-GNOME-Keywords[sr]=Сат;Временска зона;Место;
X-GNOME-Keywords[sr@latin]=Sat;Vremenska zona;Mesto;
X-GNOME-Keywords[sv]=Klocka;Tidszon;Plats;
X-GNOME-Keywords[ta]=கடிகாரம்;நேரமண்டலம்;இடம்;
X-GNOME-Keywords[te]=గడియారం;సమయక్షేత్రం;ప్రదేశం;
X-GNOME-Keywords[th]=นาฬิกา;เขตเวลา;ตำแหน่งที่ตั้ง;
X-GNOME-Keywords[tr]=Saat;Saat Dilimi;Yer;
X-GNOME-Keywords[ug]=سائەت;ۋاقىت رايونى;ئورۇن;
X-GNOME-Keywords[uk]=Годинник;Пояс;Місцевість;
X-GNOME-Keywords[vi]=Clock;Timezone;Location;
X-GNOME-Keywords[zh_CN]=Clock;Timezone;Location;时钟;时区;位置;
X-GNOME-Keywords[zh_HK]=Clock;Timezone;Location;時鐘;時區;位置;
X-GNOME-Keywords[zh_TW]=Clock;Timezone;Location;時鐘;時區;位置;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
