[Desktop Entry]
Name=Keyboard Layout
Comment=Change your region and language settings
Exec=gnome-control-center region
Icon=key_bindings
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=region
X-GNOME-Bugzilla-Version=3.2.0
X-GNOME-Settings-Panel=region
# Translators: those are keywords for the region control-center panel
X-GNOME-Keywords=Language;Layout;Keyboard;
X-GNOME-Keywords[af]=Language;Layout;Keyboard;taal;uitleg;sleutelbord;toetsbord
X-GNOME-Keywords[ar]=اللغة;التخطيط;مفاتيح;
X-GNOME-Keywords[ast]=Llingua;Distribución;Tecláu;
X-GNOME-Keywords[be]=Мова;Раскладка;Клавіятура;
X-GNOME-Keywords[bg]=Език;Подредба;Клавиатура;
X-GNOME-Keywords[bn]=ভাষা;বহির্বিন্যাস;কীবোর্ড;
X-GNOME-Keywords[ca]=Idioma;Disposició;Teclat;
X-GNOME-Keywords[ca@valencia]=Idioma;Disposició;Teclat;
X-GNOME-Keywords[cs]=jazyk;rozložení;klávesnice
X-GNOME-Keywords[da]=Sprog;Layout;Tastatur;
X-GNOME-Keywords[de]=Sprache;Belegung;Tastatur;
X-GNOME-Keywords[el]=Γλώσσα;Διάταξη;Πληκτρολόγιο;
X-GNOME-Keywords[en_GB]=Language;Layout;Keyboard;
X-GNOME-Keywords[eo]=Lingvo;Fasono;Klavaro;
X-GNOME-Keywords[es]=Idioma;Distribución;Teclado;
X-GNOME-Keywords[et]=Keel;Paigutus;Klaviatuur;
X-GNOME-Keywords[eu]=Hizkuntza;Diseinua;Teklatua;
X-GNOME-Keywords[fa]=زیان;چیدمان;صفحه‌کلید؛
X-GNOME-Keywords[fi]=Kieli;Asettelu;Näppäimistö
X-GNOME-Keywords[fr]=Langue;Disposition;Clavier;
X-GNOME-Keywords[ga]=Teanga;Leagan Amach;Méarchlár;
X-GNOME-Keywords[gl]=Idioma:Distribución;Teclado;
X-GNOME-Keywords[gu]=ભાષા;લેઆઉટ;કિબોર્ડ;
X-GNOME-Keywords[he]=שפה;פריסה;מקלדת;
X-GNOME-Keywords[hu]=Nyelv;kiosztás;billentyűzet;
X-GNOME-Keywords[id]=Bahasa;Tata Letak;Papan Tik;
X-GNOME-Keywords[it]=Lingua;Disposizione;Layout;Tastiera;
X-GNOME-Keywords[ja]=Language;Layout;Keyboard;言語;レイアウト;キーボード;
X-GNOME-Keywords[ko]=Language;언어;Layout;배치;Keyboard;키보드;
X-GNOME-Keywords[lt]=Kalba;Išdėstymas;Klaviatūra;
X-GNOME-Keywords[lv]=Valoda;Izkārtojums;Tastatūra;
X-GNOME-Keywords[nb]=Språk;Utforming;Tastatur;
X-GNOME-Keywords[nl]=Language;Layout;Keyboard;Taal;Indeling;Toetsenbord;
X-GNOME-Keywords[pa]=ਭਾਸ਼ਾ;ਲੇਆਉਟ;ਕੀਬੋਰਡ;Language;Layout;Keyboard;
X-GNOME-Keywords[pl]=Język;Układ;Klawiatura;
X-GNOME-Keywords[pt]=Idioma;Disposição;Teclado;
X-GNOME-Keywords[pt_BR]=Idioma;Disposição;Teclado;
X-GNOME-Keywords[ro]=Language;Layout;Limbă;Aranjamente;Limba;
X-GNOME-Keywords[ru]=Язык;Раскладка;Клавиатура;
X-GNOME-Keywords[sk]=Jazyk;Rozloženie;Klávesnica;
X-GNOME-Keywords[sl]=Jezik;Razporeditev;Tipkovnica;
X-GNOME-Keywords[sr]=Језик;Распоред;Тастатура;
X-GNOME-Keywords[sr@latin]=Jezik;Raspored;Tastatura;
X-GNOME-Keywords[sv]=Språk;Layout;Tangentbord;
X-GNOME-Keywords[ta]=மொழி;இடஅமைவு;விசைப்பலகை
X-GNOME-Keywords[te]=భాష;నమూనా;కీబోర్డు;
X-GNOME-Keywords[th]=ภาษา;ผังแป้นพิมพ์;แป้นพิมพ์;
X-GNOME-Keywords[tr]=Dil;Yerleşim;Klavye;
X-GNOME-Keywords[ug]=تىل;جايلاشتۇرۇش;ھەرپتاختا
X-GNOME-Keywords[uk]=Мова;Розкладка;Клавіатура;
X-GNOME-Keywords[vi]=Language;Layout;Keyboard;
X-GNOME-Keywords[zh_CN]=Language;Layout;Keyboard;语言;布局;键盘;
X-GNOME-Keywords[zh_HK]=Language;Layout;Keyboard;語言;配置;鍵盤;
X-GNOME-Keywords[zh_TW]=Language;Layout;Keyboard;語言;配置;鍵盤;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
