[Desktop Entry]
Name=Displays
Comment=Change resolution and position of monitors and projectors
Exec=gnome-control-center display
Icon=preferences-desktop-display
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Screen resolution
X-GNOME-Bugzilla-Version=3.2.0
X-GNOME-Settings-Panel=display
# Translators: those are keywords for the display control-center panel
X-GNOME-Keywords=Panel;Projector;xrandr;Screen;Resolution;Refresh;
X-GNOME-Keywords[af]=Panel;Projector;xrandr;Screen;Resolution;Refresh;lcd;projektor;skerm;resolusie;vertoon
X-GNOME-Keywords[ar]=لوحة;عرض;شاشة;ميز;
X-GNOME-Keywords[ast]=Panel;Proyeutor;xranrd;Pantalla;Resolución;Anovar;
X-GNOME-Keywords[be]=Панэль;Праектар;xrandr;Экран;Распазнавальнасць;Абнаўленне экрана;
X-GNOME-Keywords[bg]=Панел;Проектор;xrandr;Екран;Разделителна способност;Опресняване;
X-GNOME-Keywords[bn]=প্যানেল;প্রজেক্টর,xrandr;স্ক্রীন,রেজল্যুশন;রিফ্রেশ;
X-GNOME-Keywords[ca]=Quadre;Projector;xrandr;Pantalla;Resolució;Refresca;
X-GNOME-Keywords[ca@valencia]=Quadre;Projector;xrandr;Pantalla;Resolució;Refresca;
X-GNOME-Keywords[cs]=panel;projektor;xrandr;obrazovka;rozlišení;občerstvit;
X-GNOME-Keywords[da]=Panel;Projektor;xrandr;Skærm;Opløsning;Opdatering;
X-GNOME-Keywords[de]=Panel;Projektor;xrandr;Bildschirm;Auflösung;Aktualisieren;
X-GNOME-Keywords[el]=Πάνελ;Προβολέας;xrandr;Οθόνη;Ανάλυση;Ανανέωση;
X-GNOME-Keywords[en_GB]=Panel;Projector;xrandr;Screen;Resolution;Refresh;
X-GNOME-Keywords[es]=Panel;Proyector;xranrd;Pantalla;Resolución;Actualizar;
X-GNOME-Keywords[et]=Paneel;Projektor;xrandr;Ekraan;Resolutsioon;Eraldusvõime;Lahutusvõime;Värskendamissagedus;
X-GNOME-Keywords[eu]=Panela;Proiektagailua;xrandr;Pantaila;Bereizmena;Freskatu;
X-GNOME-Keywords[fa]=تابلو;پروژکتور;xrandr;نمایشگر;تفکیک‌پذیری;نوسازی;
X-GNOME-Keywords[fi]=Paneeli;Projektori;xrandr;Näyttö;Tarkkuus;Virkistystaajuus;
X-GNOME-Keywords[fr]=Panneau;Projecteur;xrandr;Écran;Résolution;Rafraîchissement;
X-GNOME-Keywords[gl]=Panel;Proxector;xrandr;Pantalla;Resolución;Refresco;
X-GNOME-Keywords[gu]=પેનલ;પ્રોજેક્ટર;xrandr;સ્ક્રીન;રિઝોલ્યુશન;તાજુ કરો;
X-GNOME-Keywords[he]=לוח;מקרן;xrandr;צג;מסך;רזולוציה;רענון;
X-GNOME-Keywords[hu]=Panel;Projektor;xrandr;Képernyő;Felbontás;Frissítés;
X-GNOME-Keywords[id]=Panel;Projektor;xrandr;Layar;Resolusi;Segarkan;
X-GNOME-Keywords[it]=Pannello;Proiettore;xrandr;Schermo;Risoluzione;Dimensioni;Refresh;Display;
X-GNOME-Keywords[ja]=Panel;Projector;xrandr;Screen;Resolution;Refresh;パネル;プロジェクター;画面;解像度;リフレッシュ;
X-GNOME-Keywords[ko]=Panel;패널;Projector;프로젝터;xrandr;Screen;화면;Resolution;해상도;Refresh;주사율;
X-GNOME-Keywords[lt]=Skydelis;Projektorius;xrandr;Ekranas;Raiška;Atnaujinimas;
X-GNOME-Keywords[lv]=Panelis;Projektors;xrandr;Ekrāns;Izšķirtspēja;Atsvaidzināt;
X-GNOME-Keywords[nb]=Panel;Prosjektor;xrandr;Skjerm;Oppløsning;Oppdater;
X-GNOME-Keywords[nl]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Paneel;Scherm;Resolutie;Ververs;
X-GNOME-Keywords[nn]=Panel;Prosjektør;xrandr;Skjerm;Oppløysing;Oppfrisking;
X-GNOME-Keywords[pa]=ਪੈਨਲ;ਪਰੋਜੈਕਟਰ;xrandr;ਸਕਰੀਨ;ਰੈਜ਼ੋਲੂਸ਼ਨ;ਤਾਜ਼ਾ;
X-GNOME-Keywords[pl]=Panel;Projektor;xrandr;Ekran;Rozdzielczość;Odświeżanie;
X-GNOME-Keywords[pt]=Painel;Projector;xrandr;Ecrã;Resolução;Actualizar;
X-GNOME-Keywords[pt_BR]=Painel;Projetor;xrandr;Tela;Resolução;Atualizar;
X-GNOME-Keywords[ro]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Panou;Proiector;Ecran;Rezoluție;Reîmprospătare;Frecvență;Frecventa;Rezolutie
X-GNOME-Keywords[ru]=Панель;Проектор;xrandr;Экран;Разрешение;Обновить;
X-GNOME-Keywords[sk]=Panel;Projektor;xrandr;Obrazovka;Rozlíšenie;Obnovovanie;
X-GNOME-Keywords[sl]=Pult;Projektor;xrandr;Zaslon;Ločljivost;Osveževanje;
X-GNOME-Keywords[sr]=Панел;Пројектор;храндр;Екран;Резолуција;Освежавање;
X-GNOME-Keywords[sr@latin]=Panel;Projektor;hrandr;Ekran;Rezolucija;Osvežavanje;
X-GNOME-Keywords[sv]=Panel;Projektor;xrandr;Skärm;Upplösning;Uppdatering;
X-GNOME-Keywords[ta]=பலகம்;ஒளிப்படக்காட்டி;எக்ஸ்ரான்டர்;திரை;தெளிதிறன்;புதுப்பி
X-GNOME-Keywords[te]=పానల్;ప్రొజెక్టర్;xrandr;తెర;రిజొల్యూషన్;రీఫ్రెష్;
X-GNOME-Keywords[th]=แผงควบคุม;เครื่องฉาย;xrandr;หน้าจอ;ความละเอียด;รีเฟรช;
X-GNOME-Keywords[tr]=Panel;Projektör;xrandr;Ekran;Çözünürlük;Tazeleme;
X-GNOME-Keywords[ug]=تاختا;پرويېكتور;xrandr;ئېكران;ئېنىقلىق;يېڭىلا;
X-GNOME-Keywords[uk]=Панель;Проектори;xrandr;Екран;Роздільність;Оновлення;
X-GNOME-Keywords[vi]=Panel;Projector;xrandr;Screen;Resolution;Refresh;
X-GNOME-Keywords[zh_CN]=Panel;Projector;xrandr;Screen;Resolution;Refresh;面板;投影仪;屏幕;分辨率;刷新;
X-GNOME-Keywords[zh_HK]=Panel;Projector;xrandr;Screen;Resolution;Refresh;面板;投影機;螢幕;解像度;重新整理;
X-GNOME-Keywords[zh_TW]=Panel;Projector;xrandr;Screen;Resolution;Refresh;面板;投影機;螢幕;解析度;重新整理;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
