[Desktop Entry]
Name=Screen
Comment=Screen brightness and lock settings
Exec=gnome-control-center screen
Icon=system-lock-screen
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=screen
X-GNOME-Bugzilla-Version=3.2.0
X-GNOME-Settings-Panel=screen
# Translators: those are keywords for the brightness and lock control-center panel
X-GNOME-Keywords=Brightness;Lock;Dim;Blank;Monitor;
X-GNOME-Keywords[af]=Brightness;Lock;Dim;Blank;Monitor;helderheid;sluit;verdof
X-GNOME-Keywords[ar]=سطوع;قفل;فارغ;شاشة;
X-GNOME-Keywords[ast]=Brillu;Bloquiar;Escurecer;Illuminar;Pantalla;
X-GNOME-Keywords[be]=Яркасць;Блакіроўка;Замкнуць;Зацямненне экрана;Ачышчэнне экрана;Манітор;Экран;
X-GNOME-Keywords[bg]=Яркост;Заключване;Затъмняване;Изключване;Екран;
X-GNOME-Keywords[bn]=Brightness;Lock;Dim;Blank;Monitor;
X-GNOME-Keywords[ca]=Brillantor;Blocar;Atenuar;En blanc;Pantalla;
X-GNOME-Keywords[ca@valencia]=Brillantor;Blocar;Atenuar;En blanc;Pantalla;
X-GNOME-Keywords[cs]=jas;zámek;ztlumení;ztmavení;monitor;
X-GNOME-Keywords[da]=Lysstyrke;Lås;Dæmp;Blank;Skærm;
X-GNOME-Keywords[de]=Helligkeit;Sperren;Abdunkeln;Schwärzen;Bildschirm;Monitor;
X-GNOME-Keywords[el]=Φωτεινότητα;Κλείδωμα;Χαμήλωμα;Κενή;Οθόνη;
X-GNOME-Keywords[en_GB]=Brightness;Lock;Dim;Blank;Monitor;
X-GNOME-Keywords[es]=Brillo;Bloquear;Oscurecer;Iluminar;Pantalla;
X-GNOME-Keywords[et]=Heledus;Lukk;Ekraan;Monitor;
X-GNOME-Keywords[eu]=Distira;Blokeatu;Ilundu;Argitu;Pantaila;
X-GNOME-Keywords[fa]=روشنایی;قفل;تار;خالی;نمایشگر؛
X-GNOME-Keywords[fi]=kirkkaus;lukitseminen;himmentäminen;pimennys;näyttö;
X-GNOME-Keywords[fr]=Luminosité;Verrouillage;Verrouiller;Estomper;Veille;Éteindre;Écran;
X-GNOME-Keywords[gl]=Brillo;Bloquear;Escurecer;Iluminar;Pantalla;
X-GNOME-Keywords[he]=בהירות;נעילה;עמעום;החשכה;צג;מסך;
X-GNOME-Keywords[hu]=Fényerő;Zárolás;Halványítás;Elsötétítés;Monitor;
X-GNOME-Keywords[id]=Kecerahan;Kunci;Redup;Kosongkan;Monitor;
X-GNOME-Keywords[it]=Luminosità;Blocco;Oscuramento;Blank;Monitor;
X-GNOME-Keywords[ja]=Brightness;Lock;Dim;Blank;Monitor;明るさ;ロック;暗い;ブランク;モニター;
X-GNOME-Keywords[ko]=Brightness;밝기;Lock;잠그기;잠금;Dim;어둡게;Blank;화면 끄기;Monitor;모니터;
X-GNOME-Keywords[lt]=Ryškumas;Rakinimas;Pritemdymas;Tuščias;Monitorius;
X-GNOME-Keywords[lv]=Gaišums;Slēgt;Tumšāks;Tukšs;Monitors;
X-GNOME-Keywords[nb]=Lysstyrke;Lås;Demp;Blank;Skjerm;
X-GNOME-Keywords[nl]=Brightness;Lock;Dim;Blank;Monitor;Helderheid;Vergrendelen;Zwart;Beeldscherm;
X-GNOME-Keywords[pa]=ਚਮਕ;ਲਾਕ;ਡਿਮ;ਖਾਲੀ;ਮਾਨੀਟਰ;Brightness;Lock;Dim;Blank;Monitor;
X-GNOME-Keywords[pl]=Jasność;Blokada;Przygaszenie;Monitor;
X-GNOME-Keywords[pt]=Brilho;Trancar;Escurecer;Ocultar;Monitor;
X-GNOME-Keywords[pt_BR]=Brilho;Bloquear;Escurecer;Apagar;Monitor;
X-GNOME-Keywords[ro]=Brightness;Lock;Dim;Blank;Luminozitate;Blocare;Spațiu;Neclar;
X-GNOME-Keywords[ru]=Яркость;Блокировка;Монитор;Затухание;
X-GNOME-Keywords[sk]=Jas;Uzamknúť;Stlmiť;Prázdna obrazovka;Monitor;
X-GNOME-Keywords[sl]=Svetlost;Zakleni;Zatemnjevanje;Črn;Zaslon;
X-GNOME-Keywords[sr]=Осветљење;Закључај;Затамни;Празно;Монитор;
X-GNOME-Keywords[sr@latin]=Osvetljenje;Zaključaj;Zatamni;Prazno;Monitor;
X-GNOME-Keywords[sv]=Ljusstyrka;Lås;Dämpa;Blank;Monitor;Skärm;
X-GNOME-Keywords[ta]=பிரகாசம்;பூட்டு;மங்கல்;வெற்று;திரை
X-GNOME-Keywords[te]=ప్రకాశత;లాగ్;తక్కువకాంతి;బ్లాంక్;మానిటర్;
X-GNOME-Keywords[th]=ความสว่าง;ล็อค;หรี่;จอเปล่า;จอภาพ;
X-GNOME-Keywords[tr]=Parlaklık;Kilitle;Karartma;Boş;Monitör;
X-GNOME-Keywords[ug]=يورۇقلۇق؛قۇلۇپ؛غۇۋا؛قارا؛ئېكران؛
X-GNOME-Keywords[uk]=Яскравість;Блокування;Притлумлення;Очищення;Монітор;
X-GNOME-Keywords[vi]=Brightness;Lock;Dim;Blank;Monitor;
X-GNOME-Keywords[zh_CN]=亮度;锁定;渐暗;空白;显示器;Brightness;Lock;Dim;Blank;Monitor;
X-GNOME-Keywords[zh_HK]=Brightness;Lock;Dim;Blank;Monitor;亮度;鎖定;調暗;空白;監視器;
X-GNOME-Keywords[zh_TW]=Brightness;Lock;Dim;Blank;Monitor;亮度;鎖定;調暗;空白;監視器;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
