[Desktop Entry]
Name=Gwibber
GenericName=Social Client
X-GNOME-FullName=Gwibber Social Client
Type=Application
Comment=Update your microblog and follow your contacts' statuses
Exec=gwibber %U
Icon=gwibber
Categories=GTK;GNOME;Network;
X-GNOME-Gettext-Domain=gwibber
X-Ayatana-Appmenu-Show-Stubs=False
