[Desktop Entry]
Encoding=UTF-8
Name=Keyboard Input Methods
Comment=Adjust methods for keyboard input.
X-Ubuntu-Gettext-Domain=ibus
Exec=ibus-setup
Icon=ibus-setup
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
