[Desktop Entry]
Name=Onboard Settings
GenericName=Onboard onscreen keyboard settings
Comment=Change Onboard settings
Exec=onboard-settings
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Accessibility;X-GNOME-PersonalSettings;
NoDisplay=false
MimeType=application/x-onboardsettings;
Icon=onboard
X-Ubuntu-Gettext-Domain=onboard
