[Desktop Entry]
Name=Remote Desktop Viewer
Comment=Access remote desktops
Exec=vinagre -F %U
Icon=preferences-desktop-remote-desktop
Terminal=false
Type=Application
StartupNotify=true
MimeType=application/x-vnc;
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=vinagre
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.2.0
X-Ubuntu-Gettext-Domain=vinagre
